[2019-12-18 22:04] Tomcli opened #11 "Generated Tekton steps have no name field."
The new Tekton compiler didn't add any name to the Tekton steps. Thus, the pipeline is returning the following errors.
[code]

[2019-12-18 22:07] Tomcli commented on #11
/bug

[2019-12-23 01:44] vincent-pli commented on #11
@Tomcli
Actually, in the latest `tekton` the `name` is not required, anyway, I added it since it will be more friendly to end user when checking the status/log.

[2020-01-06 17:53] Tomcli commented on #11
Thank you @vincent-pli, are you using tekton 0.9.2 for your tests?

[2020-01-08 00:35] #11 closed

[2020-03-11 22:34] ckadner opened #18 "Compiler work items"
This is an **"umbrella issue"** to capture planned work items related to the `TektonCompiler`:

- [x] Generate a `Pipeline` with `Task`s instead of a `Task` with `steps` to allow parallel execution (PR #17)
- [x] Allow passing output parameters as inputs for subsequent `Task`s (issue #19, PR #27)
- [x] Migrate to Tekton `0.11` to make use of API `v1beta1` (PR #27)
- [ ] Add Tekton integration test

[2020-03-11 22:41] ckadner opened #19 "Enable passing output parameters as inputs for subsequent Tasks"
How do you pass parameter between each task? When trying to use KFP's parallel join example we get the following errors:
https://github.com/kubeflow/pipelines/blob/master/samples/core/parallel_join/parallel_join.py

Generated `pipeline.yaml`:
[code]

Console output:
[code]

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/pull/17#issuecomment-597899166_

[2020-03-11 22:43] ckadner commented on #19
@Tomcli

[2020-03-11 23:06] ckadner commented on #18
@animeshsingh

[2020-03-12 15:23] NikeNano opened #20 "How to contribute?"
I have done some contributions to Kubeflow and Argo before and would be happy to help out with this project. Super excited about Tekton Pipelines for Kubeflow. Where would be a good place to start contribution to kfp-tekton?

I read the contribution.md file but, is there a plan for the work or similar?

/Niklas

[2020-03-12 17:24] animeshsingh commented on #20
@NikeNano

@ckadner can point to the list of open items, and see if there is one you would want to pick and run

[2020-03-12 18:05] ckadner commented on #20
@NikeNano -- glad to have you! There is a lot of work to share. I started an "umbrella" issue to list the tasks I was planning to work on here #18 and I just started work on #19

I will reach out to your via the Kubeflow Slack channel :-)

[2020-03-13 03:18] fenglixa commented on #20
@ckadner @animeshsingh, Me too, I am also interesting with Tekton Pipelines for Kubeflow, and I would like to contribute on it. Thanks!

BR
-Feng

[2020-03-13 07:16] JohanWork commented on #20
@ckadner @animeshsingh  , I am also interested in joining the community, have previously worked together with @NikeNano  In some diffrent projects.

[2020-03-14 00:07] ckadner commented on #19
/assign @animeshsingh

[2020-03-14 00:07] ckadner commented on #19
/assign @ckadner

[2020-03-14 00:08] ckadner commented on #19
/unassign @animeshsingh

[2020-03-15 20:47] kalakandi opened #22 "How to start for GSOC ?"
@animeshsingh   @ckadner  , I saw this project mentioned as a GSOC project and I am interested to work on this project. have experience in Python and Data Science. Please provide me some insight on how and where to start as an newbie and how to get further in contact with you mentors, it would be very helpful of you.

[2020-03-15 22:43] ckadner commented on #20
@fenglixa @JohanWork -- I will start a `Developer Guide` document with some information about the project, code structure, dev environment setup etc and also break down some of the work that has been identified so far into individual tasks.

[2020-03-15 22:46] ckadner commented on #22
see #20

[2020-03-15 23:36] animeshsingh commented on #22
@kalakandi welcome to he project. For the folks coming here through GSOC, please register your
details on this page and we will have a kick off soon
https://docs.google.com/document/d/1zGwa1yAoYu5erk1ucpInxaArbQQILPCXnSaDYDK9W4c/edit#

[2020-03-15 23:38] animeshsingh commented on #20
thanks @ckadner - Developer guide would be great help

[2020-03-15 23:39] animeshsingh commented on #20
@fenglixa @JohanWork @NikeNano please add your details tot he page where GSOC interested candidates are applying
https://docs.google.com/document/d/1zGwa1yAoYu5erk1ucpInxaArbQQILPCXnSaDYDK9W4c/edit?usp=sharing

We will have a kick off mail/call soon as well

[2020-03-16 06:07] NikeNano commented on #20
Awesome!

[2020-03-16 09:08] fenglixa opened #23 "kfp 0.2.5 has requirement kubernetes<=10.0.0,>=8.0.0, but kubeflow-tfjob 0.1.1 has requirement kubernetes>=10.0.1 which is conflict"
\# pip install sdk/python
 Stored in directory: /private/var/folders/_s/4bdbvdrs655gnsyvky53tbc40000gn/T/pip-ephem-wheel-cache-hrmrp_w8/wheels/e6/32/11/93809934762b7fa6b60993126c1f4a7f571f8aaf3145b9f764
Successfully built kfp-tekton
**ERROR: kubeflow-tfjob 0.1.1 has requirement kubernetes>=10.0.1, but you'll have kubernetes 10.0.0 which is incompatible.**
... ...

\# pip install "kubernetes>=10.0.

[2020-03-16 19:18] ckadner commented on #23
@fenglixa -- we recommend to install the KFP-Tekton compiler into an isolated `virtual environment` to avoid any such version conflicts. Did you do this step?

https://github.com/kubeflow/kfp-tekton/tree/master/sdk#steps

...or you could use **Conda**

[2020-03-17 06:49] ckadner opened #28 "Add Tekton integration tests"
For a start the integration tests would assume (and test for) a working Tekton cluster. The user/developer would make sure that the `kubectl` and `tkn` environment is configured and the Python script would rely on shell commands to apply the Tekton YAML files, start Tekton pipelines, check pipeline run output and remove the resources created in the course of the integration tests.

In the future t

[2020-03-17 19:32] ckadner opened #29 "Identify initial set of KFP sample pipelines to test"
### Objective:

We need to identify an initial set of Kubeflow Pipeline samples in order to identify feature gaps in the KFP-Tekton compiler. Once a set of ~10 pipeline is identified, they should be added to the unit test and [integration test](https://github.com/kubeflow/kfp-tekton/issues/28) suites to enable test-driven development. Each pipeline identified should expose a distinct feature like

[2020-03-17 19:33] ckadner commented on #28
/good-first-issue

[2020-03-17 19:33] ckadner commented on #29
/good-first-issue

[2020-03-17 20:49] ckadner commented on #23
@fenglixa -- did you get a chance to retry this setup in a virtual environment?

[2020-03-17 23:14] ckadner commented on #20
Also, please check the list of **[good first issues](https://github.com/kubeflow/kfp-tekton/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)**

Most of the work items in **[Compiler work items (#18)](https://github.com/kubeflow/kfp-tekton/issues/18)** require in-dept KFP compiler and Tekton knowledge.

[2020-03-17 23:54] Tomcli commented on #29
hi @ckadner, can you add these pipelines to your list of samples and tests
samples:
https://github.com/kubeflow/pipelines/blob/master/samples/contrib/ibm-samples/watson/watson_train_serve_pipeline.py
https://github.com/kubeflow/pipelines/blob/master/samples/contrib/e2e-mnist/mnist-pipeline.ipynb
https://github.com/kubeflow/kfp-tekton/blob/master/samples/kfp-tfx/tfx-taxi-on-prem/TFX-taxi-sample-pvc

[2020-03-18 00:08] #19 closed

[2020-03-18 00:42] ckadner commented on #29
Thanks @Tomcli

[2020-03-18 02:47] fenglixa commented on #23
@ckadner  I found the root-cause, that I am using an old venv which was installed kubeflow-tfjob 0.1.1. uninstall it, then everything is OK now.

Great thank you for your quick response! I will close this issue then.

BR
-Feng

[2020-03-18 02:48] #23 closed

[2020-03-18 06:37] ckadner commented on #29
As a starting point, I created a [test script](https://github.com/ckadner/kfp-tekton/blob/report_kfp_samples_compile_status/sdk/python/tests/test_kfp_samples.sh) (#32) that takes all Python DSL scripts from the [kubeflow/pipelines SDK compiler testdata folder](https://github.com/kubeflow/pipelines/tree/0.2.2/sdk/python/tests/compiler/testdata), runs them through our KFP-Tekton compiler and creates

[2020-03-18 09:28] kalakandi commented on #28
I'm on it

[2020-03-18 14:57] NikeNano commented on #29
I would be happy to work on this @ckadner! Please assign me if that is fine :)

[2020-03-18 16:10] JohanWork commented on #29
Do you want to work together on this @NikeNano ?

[2020-03-18 16:19] NikeNano commented on #29
Sure sound great @JohanWork

[2020-03-18 16:33] Tomcli commented on #18
Hi @ckadner, can you add the below tasks as well. There are more tasks in the spreadsheet, but i think we should prioritize the basic functionalities before dive in deeper to the harder ones.

- Add support for `dsl.VolumeOp`
- Handler for checking Argo specific params
- Add support for `set_image_pull_secrets`
- Add support for passing artifacts.

[2020-03-18 16:35] Tomcli commented on #18
Also I think we need a way to itemize each of these tasks into individual issues so that people can claim and start working on it.

[2020-03-18 17:47] animeshsingh commented on #29
/assign @JohanWork @NikeNano

[2020-03-18 17:48] animeshsingh commented on #28
/assign @kalakandi

[2020-03-18 18:27] drewbutlerbb4 opened #33 "Add support for conditions"
Add support for condition resources: https://github.com/tektoncd/pipeline/blob/master/docs/conditions.md

A direct example in kfp: https://github.com/kubeflow/pipelines/blob/0.2.2/samples/core/condition/condition.py

[2020-03-18 18:28] drewbutlerbb4 commented on #33
/assign @drewbutlerbb4

[2020-03-18 19:03] Tomcli opened #34 "add support for volumemounts"
/assign @Tomcli

[2020-03-18 22:56] mukul-mehta commented on #29
Could I work on this issue?
I want to contribute to this project as part of GSoC, any other issues I could start work on?

Also is there a communication (Slack/Gitter) channel for this project?

[2020-03-18 23:00] kevinyu98 opened #35 "Error during running openshift/pipelines-tutorial"
OpenShift Version
4.3.1
Installed
openshift-pipelines-operator.v0.10.7

on ibm cloud

when I follow this example

[pipeline-tutorial](https://github.com/openshift/pipelines-tutorial#concepts)

after started the pipeline run, when I try to get the logs

`[build-ui : build] STEP 2: LABEL "io.openshift.s2i.build.image"="registry.access.redhat.com/rhscl/python-36-rhel7" "io.openshift.s2i.build.source-

[2020-03-18 23:08] ckadner commented on #35
Hi @kevinyu98, this appears to be an issue with Tekton on OpenShift, not an issue with the KFP-Tekton compiler. Please open an issue here https://github.com/tektoncd/pipeline/issues/new

[2020-03-18 23:09] ckadner commented on #35
/close

[2020-03-18 23:09] #35 closed

[2020-03-18 23:20] ckadner commented on #29
@mukul-mehta

This issue is about identifying a set of existing Kubeflow Pipeline examples/sample that are self contained (can run on a K8s cluster with Kubeflow and Tekton without any 3rd party dependencies) and expose key functionalities that are supported by the standard KFP compiler but not yet supported by the KFP-Tekton compiler. We do have a good list already (see first comment) but feel fr

[2020-03-19 08:46] fenglixa opened #37 "Add support for sidecars"
/assign @fenglixa

[2020-03-19 08:46] fenglixa commented on #37
/assign @fenglixa

[2020-03-19 19:36] kevinyu98 opened #38 "Running kfp-tekton/flip-coin on openshift 4.3.1"
openshift 4.3.1
deploy openshift pipeline
then run the kfp-tekton/samples/kfp-tekton/flip-coin

[flip-coin](https://github.com/kubeflow/kfp-tekton/tree/master/samples/kfp-tekton/flip-coin)
it failed at creating the pod, it is not able to write to the storage.

[code]

detail logs:

[code]

[2020-03-19 19:42] kevinyu98 opened #39 "Running parallel_join on openshift 4.3.1"
Openshift 4.3.1 with openshift pipeline

then run parallel_join samples.

`./oc apply -f https://raw.githubusercontent.com/kubeflow/kfp-tekton/ab5d43331a53600f3baecd1969ca6f3a101350fc/sdk/python/tests/compiler/testdata/parallel_join.yaml
`

`tkn pipeline start parallel-pipeline`

Here is the log

`(.venv) (base) Qianyangs-MBP:kevin-openshift-v4-tekton qianyangyu$ ./oc apply -f https://raw.githubus

[2020-03-19 19:58] #39 closed

[2020-03-19 19:58] ckadner commented on #39
Hi @kevinyu98 thanks for testing this on **OpenShift 4.3**

The output looks good. Why is this a `Bug`?

[2020-03-19 20:00] kevinyu98 commented on #39
this seems run successfully. I didn't put it as bug, somehow when I create issue, it automatically tag it.

[2020-03-19 20:05] ckadner commented on #38
[code]
@kevinyu98 -- did you create the secret "pipelines-cos-credentials" prior to running the example?

[2020-03-19 20:06] kevinyu98 commented on #35
I opened an issue there [pr-66](https://github.com/openshift/pipelines-tutorial/issues/66)

[2020-03-19 20:49] ckadner commented on #39
/remove-kind bug

[2020-03-19 20:54] ckadner commented on #39
/remove-label bug

[2020-03-19 22:10] Tomcli opened #41 "Investigate different ways to pass parameters between tasks"
Currently, we are using the [task.results](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#results) for passing parameter outputs. This has a limitation where the output parameter files have to be under `/tekton/results`. However, some of the Kubeflow pipeline has no configuration for the output file path (e.g. The current [Watson ML example](https://github.com/kubeflow/pipelines/tr

[2020-03-19 22:11] Tomcli commented on #41
/p1

[2020-03-19 23:23] ckadner commented on #41
/cc @ckadner

[2020-03-19 23:24] ckadner commented on #41
PR #27

[2020-03-19 23:53] Tomcli commented on #38
I created the secret for you following the tekton setup; however, the openshift pipeline doesn't support one of the image:
[code]

This is a bug on openshift-pipelines since `quay.io/openshift-pipeline/tektoncd-pipeline-gsutil:v0.10.1` is not exist at all. We need to report this issue back to the community.
https://quay.io/repository/openshift-pipeline/tektoncd-pipeline-gsutil?tab=tags

[2020-03-20 00:27] kevinyu98 commented on #38
Hi Tommy: Thanks, I create [an issue ](https://github.com/openshift/pipelines-tutorial/issues/67)

[2020-03-20 17:58] Tomcli commented on #41
initial proposal, adding an extra step to copy file to `/tekton/results`

[2020-03-20 22:32] #34 closed

[2020-03-20 22:43] animeshsingh opened #44 "Refer to current Tekton sidecar output limitations somewhere in our docs"
https://github.com/tektoncd/pipeline/blob/master/docs/developers/README.md#handling-of-injected-sidecars

[2020-03-21 00:45] fenglixa commented on #44
/assign

[2020-03-21 01:09] fenglixa commented on #44
/good-first-issue

[2020-03-21 01:16] #37 closed

[2020-03-22 13:21] fenglixa opened #48 "Extend compiler to support retries"
Tekton has built in support for retries, but kfp-tekton compiler didn't support it yet.

[2020-03-22 13:21] fenglixa commented on #48
/assign

[2020-03-23 18:01] NikeNano commented on #29
Have had a lot to do! Will work on this tomorrow togheter with @JohanWork

[2020-03-23 20:16] ckadner commented on #44
/documentation

[2020-03-23 20:20] ckadner commented on #44
/remove-kind bug

[2020-03-23 20:20] ckadner commented on #44
/remove-kind-bug

[2020-03-23 20:50] ckadner opened #49 "Add support for dsl.ResourceOp"
The KFP-Tekton compiler does not currently support `dsl.ResourceOp` since Tekton does not provide native support for manipulating Kubernetes resources.

Argo provides [`ResourceTemplate`](https://github.com/argoproj/argo/blob/53a10564aebc6ee17eb8e3e121b4c36b2a334b87/pkg/apis/workflow/v1alpha1/workflow_types.go#L1395-L1417) to support "resource operations" which the Kubeflow Pipelines SDK wrapped i

[2020-03-23 21:24] Tomcli opened #51 "add support for dsl.volumeOps"
Documentation for volumeOps: https://github.com/kubeflow/pipelines/blob/master/samples/core/volume_ops/README.md

volumeOps in kfp currently do the following things:
1. Create the PVC.
2. Mount PVC for every component that uses the volumeOps

In the very low level, it uses the [same resource function](https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/volumeop_seq

[2020-03-23 21:24] Tomcli commented on #51
/assign

[2020-03-23 21:38] ckadner opened #52 "Add developer guide"
The instructions in the [`sdk/README.md`](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/README.md#steps) currently only provide very basic instructions to set up the KFP-Tekton compiler.

The "Developer Guide" will contain more detailed instructions to set up a development environment and explain the structure, concepts and ideas of the compiler code.

[2020-03-23 21:38] ckadner commented on #52
/assign

[2020-03-23 21:47] ckadner commented on #52
/kind documentation

[2020-03-23 21:48] ckadner commented on #52
/documentation

[2020-03-23 21:48] ckadner commented on #52
/add-documentation

[2020-03-23 21:48] ckadner commented on #52
/label documentation

[2020-03-23 21:50] ckadner opened #53 "Allow reviewers to apply and remove issue labels"
@animeshsingh -- we have a few un- and/or mislabeled issues. The current project permissions do not allow reviewers to add/change/remove labels. It does not appear that the commands outline in the [`k8s-ci-robot` command help](https://prow.k8s.io/command-help?repo=kubeflow%2Fkfp-tekton) work.

[2020-03-23 21:50] ckadner commented on #53
/assign @animeshsingh

[2020-03-23 21:52] ckadner commented on #52
/label documentation

[2020-03-23 21:54] ckadner commented on #52
/label area/docs

[2020-03-23 23:03] animeshsingh commented on #33
/label compiler

[2020-03-23 23:12] kevinyu98 opened #54 "Add support for set_image_pull_secrets"
Check whether I can use this as an example:
[set_image_pull_secrets](https://github.com/kubeflow/pipelines/blob/264ff37c1e21b413ec1ccc5049541429dc2d9fd5/sdk/python/kfp/dsl/_pipeline.py#L66)

[2020-03-23 23:27] ckadner commented on #54
set_image_pull_secrets

No, we are not changing the implementation of DSL in KFP ~[kubeflow/pipelines/sdk/python/kfp/dsl/_pipeline.py](https://github.com/kubeflow/pipelines/blob/264ff37c1e21b413ec1ccc5049541429dc2d9fd5/sdk/python/kfp/dsl/_pipeline.py#L66)~

The code to be added/modified should be in [sdk/python/kfp_tekton/compiler/compiler.py#_create_pipeline_workflow](https://github.com/kubeflow/

[2020-03-24 00:55] Tomcli commented on #41
update: passing file between steps will still require either volumemount or [workspaces](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#configuring-workspaces).
However, both of them still requires to specify a mountpath that's not `/`. Therefore, it won't be scalable if users store their file in more than one subpath.

[2020-03-24 01:56] fenglixa commented on #49
/assign

[2020-03-24 18:23] Tomcli commented on #41
init poc branch: https://github.com/Tomcli/kfp-tekton/tree/copy_param

[2020-03-24 19:12] Tomcli commented on #41
right now we don't have code-gen for pipelinerun. So creating workspaces will require user to manually define their workspace volumes. Should we propose to also generate pipelinerun as part of our yaml?

[2020-03-24 19:38] animeshsingh opened #56 "Pipeline level timeout"
timeout for whole pipeline: run tkn p start pipeline-includes-two-steps-which-fail-randomly --showlog --timeout 180s

Tekton takes it at runtime, so we need to figure out transferring from DSL to runtime execution as part of the API/backend work

[2020-03-24 20:01] animeshsingh commented on #53
@jlewi how can we get this addressed?

[2020-03-24 20:41] ckadner commented on #56
can we leave it up to the user who runs the pipeline to specify a timeout at the pipeline level?

[2020-03-24 20:58] ckadner opened #59 "Should the compiler generate Pipeline or PipelineRun"
This is a general discussion, not a work item.

Conceptually a `Pipeline` is a static specification orchestrating how a set of `Task`s should be executed. A `PipelineRun` is an instantiation of a pipeline. A pipeline is a re-usable artifact that can be "run" repeatedly, a pipeline-run is one-and-done.

Currently the KFP-Tekton compiler generates a YAML with (multiple) `Tasks`(s) and one `Pipeline`

[2020-03-24 21:01] Tomcli commented on #59
For comparison, every workflow in Argo is like a PipelineRun. Therefore, when we upload a pipeline in kfp, it's treated as a template and stored in object storage instead of applying the template to Kubernetes.

[2020-03-24 21:14] ckadner commented on #59
True. But for Kubeflow Pipelines with Argo there is the KFP UI which allows users to interact with pipelines and provide parameters and see logs, etc. For Tekton we have to rely on `kubectl` and `tkn`. If we generate `PipelineRun`s then a user cannot provide parameters at run-time, rather parameters, volume mounts, PVC are locked in at compilation time.

[2020-03-24 21:16] ckadner commented on #59
@afrittoli @animeshsingh @fenglixa @vincent-pli

[2020-03-24 22:33] Tomcli commented on #59
https://github.com/tektoncd/cli/issues/786

[2020-03-24 22:40] Tomcli commented on #51
@afrittoli

[2020-03-24 23:11] ckadner commented on #59
we could also introduce a `--generate-pipelinerun` flag for the `dsl-compile-tekton` CLI

[2020-03-24 23:17] Tomcli commented on #59
I will add a flag for development purpose and we should push the cli team to support workspaces.

[2020-03-24 23:19] ckadner commented on #41
@afrittoli -- can you clarify if we really need a `Workspace` (and a `PipelineRun` to mount the volume) here? We are just trying to add an additional step to those `tasks` which have output parameters which need to be moved to the default `/tekton/results` folder

[2020-03-24 23:21] ckadner commented on #51
If this can be implemented without `Workspace` and a `PipelineRun` spec, I would prefer that until we have to bigger discussion in issue #59 resolved

[2020-03-25 01:13] #48 closed

[2020-03-25 01:24] fenglixa commented on #56
Generate pipelinerun.yaml could address this issue.

[2020-03-25 01:36] fenglixa commented on #59
Great, I think we should support generate-pipelinerun feature, it's convenient for user to run the whole workflow directly, but not just leave several templates there, also, [pipelinerun](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md) has several fields which could be defined in there, including pipeline timeout.

[2020-03-25 10:59] ckadner opened #61 "Run Tekton pipelines in KFP compile report script"
The KFP compile report script currently checks for which and how many KFP DSL scripts the KFP-Tekton compiler succeeds or fails.

For those DSL scripts that pass compilation we shall try to run on a Tekton cluster and report if and why (and how many) fail at that stage. This is not to preempt the actual integration tests described in issue #28 but rather serves as another bellwether to guide devel

[2020-03-25 10:59] ckadner commented on #61
/assign

[2020-03-25 19:14] ckadner opened #63 "Fix big data passing"
Re-implement the [`fix_big_data_passing`](https://github.com/kubeflow/kfp-tekton/blob/00504fe8493b1c41423dfd5323bff6e1ccbaae04/sdk/python/kfp_tekton/compiler/_data_passing_rewriter.py#L18-L65) function, which converts a workflow where some artifact data is passed as parameters and converts it to a workflow where this data is passed as artifacts.

This method is currently only a No-op pass-through

[2020-03-25 19:20] ckadner commented on #28
Hi @kalakandi, are you still working in the integration tests?

[2020-03-25 19:21] ckadner commented on #53
/assign @jlewi

[2020-03-25 19:24] kalakandi commented on #28
Hi @ckadner, yes was reading the kubernetes docs as I m a little new to it, i need a little guidance TBH

[2020-03-25 20:15] Tomcli commented on #51
If we are only going to use volume and volumemount, most of the logic is already implemented. Since the VolumeOp is an inheritance of ResourceOp, many of the logics are shared except VolumeOp has some extra mapping with the output params. This also applies to VolumeSnapshotOp where instead of creating a PVC, it creates a [volume Snapshot](https://kubernetes.io/docs/concepts/storage/volume-snapshot

[2020-03-25 20:48] Tomcli commented on #59
generating pipelinerun might also be useful for adding pod-template such as node selector and affinity features  https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#pod-template

[2020-03-25 21:16] Tomcli opened #64 "Support artifact outputs"
Support artifact outputs where we should store those artifacts to an object storage.

Required resources:
1. s3/gcs secrets
2. pipelineresource/resourcetemplate
3. resource mapping in pipelinerun (can be generate with tkn cli)
4. Task and pipeline resource mapping (WIP branch https://github.com/Tomcli/kfp-tekton/tree/artifacts)
5. The kfp dsl also treated the output parameters as output artifacts.

[2020-03-25 21:17] Tomcli commented on #64
/assign

[2020-03-25 21:31] ckadner commented on #64
Tekton supports [two artifact types](https://github.com/tektoncd/pipeline/blob/7b87070137bd6806ee68e5dfc0510acbb48c176e/docs/install.md#configuring-artifact-storage):
- Persistent volume
- S3 storage bucket

Should we not PVCs?

[2020-03-25 21:37] Tomcli commented on #64
In Argo, artifacts are only for object storage https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md

So in their design, it's not including PVC. PVC should be managed by the VolumeOp.

[2020-03-26 03:45] fenglixa commented on #59
Personally, I think we should generate tekton pipelinerun by default to align with argo workflow but not pipeline.
We may need to list pros and cons for each optionals and adopt one of them, convenient for further API and UI integration

[2020-03-26 04:46] animeshsingh commented on #59
Given more preference towards pipelinerun, lets go with that

[2020-03-26 06:14] vincent-pli commented on #59
`Pipelinerun` with `Pipeline` definition embed:
[code]

[2020-03-26 07:51] ckadner commented on #59
I think  @Tomcli 's approach (PR #62) with generating an optional `PipelineRun` in addition to the existing `Pipeline` with `Tasks` will be the best compromise and allows to keep existing code intact. At least for the time being.

[2020-03-26 08:07] afrittoli commented on #59
Eventually you could have a flag that let you decide whether to embed the pipeline in the pipelinerun or not.

[2020-03-26 08:08] afrittoli commented on #59
Whether you want to use Pipeline or PipelineRun depends on what kind of experience you want to give to end-users.

Tekton separates static definitions from runtimes and it provides a component called “triggers” that allow you to create runtime objects with several presets. Today “triggers” only respond to HTTPs requests, but I can imagine a future were it will be possible to run “triggers” in diff

[2020-03-26 22:01] ckadner commented on #53
@jlewi could you help us to get project reviewers permission to add and remove issue labels for the `kfp-tekton` project?

[2020-03-27 07:32] NikeNano commented on #29
For the basic KPF test, node selection is used on the last container OP. For Tekton as I understand it you can only do nodeselection on the podtemplate spec. Thus meaning that all tasks can only have the same/one node selector. I have looked at tekton and made a small PR to try to make it possible to make nodeselection based upon task for a pipeline.

[2020-03-27 14:44] fenglixa opened #70 "Question: support ParallelFor params which was defined in input/out"
If loop parameters are static, then we can parallel instance several taskrun with different parameter to workaround it.
But if the loop parameters are from the input/output parameter of pipeline/tasks, how it works for tekton pipeline?
e.g: https://github.com/kubeflow/pipelines/blob/master/samples/core/loop_parameter/loop_parameter.py

[2020-03-27 14:45] fenglixa commented on #70
kind/question

[2020-03-27 14:48] jlewi commented on #53
The bot command should work.
Example

/kind question
/area engprod

[2020-03-27 14:51] jlewi commented on #53
For the bot commands to work you need to be a member of the GitHub org.
GitHub now has the IssueTriage role which might be fine grained enough give people more access on that role.

That said we want all GitHub permissions to be administered declaratively using GitOps using periobolos.
https://github.com/kubernetes/test-infra/blob/eb64dfdaf1fb86024ad153b6e4caef7135cd3fdf/prow/cmd/peribolos/README.

[2020-03-27 14:55] fenglixa commented on #70
@afrittoli @animeshsingh @vincent-pli @ckadner @Tomcli  could you help?

[2020-03-27 14:55] fenglixa commented on #70
/kind question

[2020-03-27 21:12] ckadner opened #71 "Develop (not copy) E2E example(s)"
We need to develop a few succinct examples, which demonstrate some of the benefits of generating Tekton over Argo. We could start by picking one or two example from Kubeflow Pipelines [core samples](https://github.com/kubeflow/pipelines/tree/master/samples/core) but we should not simply duplicate files in this repo.

One of those examples should serve as the main reference in our README and future

[2020-03-27 21:17] ckadner commented on #71
@Tomcli @fenglixa

[2020-03-27 21:19] ckadner commented on #63
/kind feature

[2020-03-27 21:21] ckadner commented on #53
/remove-kind bug

[2020-03-27 21:23] ckadner commented on #44
/kind documentation

[2020-03-27 21:25] ckadner commented on #53
@jlewi -- Thanks, it works now (mostly). There seemed to have been a delay in the bot when I first noticed issues and then I tripped up over `/kind documentation` not working

[2020-03-27 21:26] ckadner commented on #44
/kind area/docs

[2020-03-27 21:28] ckadner commented on #59
/kind discussion

[2020-03-27 21:29] ckadner commented on #44
/area docs

[2020-03-27 21:29] ckadner commented on #44
/label documentation

[2020-03-27 21:38] ckadner commented on #61
/honk

[2020-03-27 21:49] ckadner commented on #53
Seems like the `k8s-ci-robot` cannot apply the label `/documentation` via issue comments, but comment `/area docs` will add the label `area/docs`

I just noticed I can click on the `LABEL` link in the Kubernetes Prow Robot [command help] (https://prow.k8s.io/command-help):

[2020-03-27 21:49] ckadner commented on #53
Thanks @jlewi

/close

[2020-03-27 21:49] #53 closed

[2020-03-27 21:51] ckadner commented on #52
/remove-kind feature
/area docs

[2020-03-27 21:52] ckadner commented on #59
/remove-kind question

[2020-03-27 21:53] ckadner commented on #41
/kind discussion
/remove-kind feature

[2020-03-27 21:54] ckadner commented on #71
/area example

[2020-03-27 21:55] animeshsingh commented on #29
@NikeNano  can you point to the PR on Tekton here

[2020-03-27 21:55] animeshsingh commented on #29
/area compiler

[2020-03-27 21:56] ckadner commented on #28
/area testing

[2020-03-27 21:58] ckadner commented on #22
/area gsoc

[2020-03-27 21:58] ckadner commented on #28
/remove-good-first-issue

[2020-03-27 22:05] ckadner commented on #28
@kalakandi -- I may have mislabeled this issue. It is not a good first issue for people who are unfamiliar with this Kubernetes. I intended to mark this as a good issue for people who are new to this project, but it requires solid knowledge/experience with Kubernetes, Kubeflow, Tekton and Python. There may be better issues to start with than this one.

[2020-03-27 22:06] ckadner commented on #61
/area testing

[2020-03-27 22:06] ckadner commented on #61
/remove-kind feature

[2020-03-27 22:19] ckadner commented on #38
/remove-kind bug

[2020-03-27 22:49] ckadner commented on #38
See [tektoncd-pipeline-operator/issues/239](https://github.com/openshift/tektoncd-pipeline-operator/issues/239):

@chmouel removed the `v0.10.1` image of the `openshift-pipeline/tektoncd-pipeline-gsutil` image in commit [`tektoncd/pipeline@f1692b9`](https://github.com/tektoncd/pipeline/commit/f1692b9aaa688bbe0b666b4414df88f47237f728)

[2020-03-27 23:13] Tomcli commented on #41
Added initial approach to copy the files with an extra step. @afrittoli let me know if you could think of a better way to pass parameters in any path.

[2020-03-28 00:42] ckadner commented on #71
/remove-kind feature

[2020-03-28 02:48] fenglixa commented on #56
fixed by #68
/close

[2020-03-28 02:48] #56 closed

[2020-03-28 07:16] kalakandi commented on #28
Ok, then I'll work on another issue. Please unassign

[2020-03-28 08:48] NikeNano commented on #29
Here is the PR: https://github.com/tektoncd/pipeline/pull/2297. Not familiar with Tekton so super happy for feedback or suggestion!

[2020-03-28 09:21] afrittoli commented on #41
For sharing between steps you can mount an `emptyDir`, however that would not work for sharing across tasks. You could use an empty dir that mounts to `/kfp` and transform user provided paths to be relative to that i.e. `/tmp/output.txt` would be `/kfp/tmp/output.txt` in the Tekton YAML.

[2020-03-28 09:24] afrittoli commented on #41
As long as you're within the boundaries of a Task, you don't need a `Workspace`.
Workspaces are an useful abstraction that allows you to avoid embeeding the name of a PVC into the static definition of a Task/Pipeline - so that you can bind any PVC to the workspace at runtime. You don't need workspaces for file sharing between steps, you can use the node filesystem for that, mount an emtpy dir to a

[2020-03-28 09:30] afrittoli commented on #41
As a side not, I feel that allowing absolute paths into the KFP DSL is a leak of a lower level detail into the DSL abstraction, but I guess it might be too late to change that?
As a data scientist / machine learning engineer, I would like to create Pipeline operations with named outputs - how this outputs are stored into file within the containers is not something I should worry about. The only fi

[2020-03-28 15:39] fenglixa commented on #71
I tried to add mnist example but blocked by resourceOps,  will add it later after resourceOps impletmented.

[2020-03-28 15:40] fenglixa commented on #71
@ckadner do you know who is working on resourceOps recently, if not, I can have a try.

[2020-03-30 09:47] NikeNano commented on #29
In the mean time I will start to look at the conditions part!

[2020-03-30 20:02] ckadner commented on #28
/assign

[2020-03-30 22:47] Tomcli opened #74 "Add feature to showcase Tekton's workspace feature."
Tekton has this concept called workspaces where all the tasks within the same pipeline can share the same storage. We already have some example of implementing it into the compiler at https://github.com/kubeflow/kfp-tekton/pull/72. However, kfp does not have any feature that requires workspaces, so we want to propose workspaces as one of the Tekton unique functionalities into kfp dsl.

[2020-03-31 02:03] fenglixa commented on #70
Since Tekton doesn't have loop/recursion support, PR #67 will workaround the static parameters by flatten the loop as taks list.
But if it's  dynamic params (e.g: input/output), seems we still need Tekton have this feature to address it.

[2020-03-31 02:33] animeshsingh commented on #70
I belive we need inputs from @afrittoli @vincent-pli for this. Is there a view of how any pipelines currently are using dynamic links?

[2020-03-31 05:59] afrittoli commented on #70
We started looking at this kind of feature on Tekton side. Until we implement it I don't think there's a way to support the dynamic case.
We could perhaps have a single running over the params in a loop. It would not be parallel but it might work.

[2020-03-31 07:57] teetangh commented on #22
What all skills are required to contribute to the project apart from machine learning and deep Learning ? I want to contribute to KubeFlow as well.

[2020-03-31 21:58] Tomcli commented on #64
Update, Tekton is no longer recommend to use pipelineresource in beta. We need to use a catalog task that can store and retrieve s3 objects for us.

[2020-03-31 22:09] ckadner commented on #29
@NikeNano

@drewbutlerbb4 is already working on `conditions` (#33)

[2020-04-01 08:08] NikeNano commented on #29
OK :)

[2020-04-01 08:19] ckadner commented on #49
/assign @fenglixa

[2020-04-01 08:20] ckadner commented on #49
@fenglixa see issue in `tektoncd/catalog`:

[Task(s) to manage kubernetes resources in a cluster #233](https://github.com/tektoncd/catalog/issues/233)

[2020-04-01 18:32] Tomcli opened #78 "Map Argo variables to Tekton varaibles."
KFP uses [Argo variables](https://github.com/argoproj/argo/blob/master/docs/variables.md) to refer artifact locations and exit ops status. Therefore, we want to map as much variables in Argo as possible since issues https://github.com/kubeflow/kfp-tekton/issues/64 and other pipelines assume those variable can be interpreted during execution.

As of today, Tekton variables $() only has inputs and o

[2020-04-01 18:33] Tomcli commented on #78
/assign

[2020-04-02 01:19] ckadner commented on #22
- Python
- Kubernetes
- Kubeflow Pipelines (especially the compiler internals)
- Tekton
- Argo, useful to understand certain aspects of the KFP compiler code

[2020-04-02 05:52] Tomcli commented on #49
This is an example attribute output/results when using resourceOps on Argo.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/resourceop_basic.py#L41
https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/resourceop_basic.yaml#L44-L46

The Argo go implementation is under https://github.com/argoproj/argo/blob/master/workflow/executor/

[2020-04-02 06:04] Tomcli commented on #49
For the first phrase we can work with just `get, create, apply` actions and the return defined outputs from the resource status yaml.

[2020-04-02 21:12] Tomcli commented on #78
Currently this is the equivalent variable matching i found.
argo -> tekton
`{{inputs.parameters.%s}}` -> `$(inputs.params.%s)`
`{{outputs.parameters.%s}}` -> `$(results.%s.path)`

Since we don't have other equivalent matching for the rest of the [argo variables](https://github.com/argoproj/argo/blob/master/docs/variables.md), we will prompt a warning when those argo variables are used. Since KFP a

[2020-04-02 22:55] #41 closed

[2020-04-03 01:04] ckadner commented on #78
Is this what you meant with ...

in https://github.com/kubeflow/kfp-tekton/issues/18#issuecomment-600734388 ?

[2020-04-03 01:13] Tomcli commented on #78
yes

[2020-04-03 03:16] vincent-pli commented on #49
Do we need `success_condition` and `failure_condition`, that's little complex to implement.
and output is a expression, right?
so we need define parameters in tekton task, please correct me:
- action
- merge-strategy
- manifest
- output
- success_condition
- failure_condition

[2020-04-03 04:05] fenglixa commented on #49
Get resourceOp example fails as secrets creation is forbidden error, KFP already update the resourceOps example to jobs, see [issue](https://github.com/kubeflow/pipelines/issues/2623) and [PRs](https://github.com/kubeflow/pipelines/pull/2274) for details. I will change to use updated example as well.

[2020-04-03 04:07] fenglixa commented on #49
@vincent-pli , I think you are correct. @ckadner @Tomcli, please comments. Thanks.

[2020-04-03 06:26] vincent-pli commented on #49
And `argo` attach `output` as annotation to `pod` (workflow generated?), what's he behavior in kfp?

[2020-04-03 16:31] Tomcli commented on #49
By default KFP doesn't have permission to create most of the Kubernetes resource such as secret and configmap. The assumption is the admin should update the pipeline-runner with the necessary rbac permission for creating secret/configmap, pvc, and crd such as tfjob.

[2020-04-03 16:45] Tomcli commented on #49
Here is the implementation for resourceOps https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_resource_op.py#L69-L74

We are expecting 5 input parameters `action, merge-strategy, manifest, success_condition, failure_condition` and a list of results define as the outputs. The result syntax should support getting certain field from the deployed manifest such as `{.metadata.name}`.

[2020-04-03 20:54] ckadner opened #82 "Support for dynamic LoopArguments (not currently supported in Tekton)"
/kind feature

**Description:**

Since Tekton doesn't have loop/recursion support, PR #67 introduced a workaround for static loop parameters by **_flattening the loop_** with parallel `TaskRuns`.
But for dynamic loop parameters, Tekton does not have a feature to support that.

**Additional information:**

- [PR #67]([https://github.com/kubeflow/kfp-tekton/pull/67#issuecomment-605314931]
) introduc

[2020-04-03 21:18] ckadner commented on #18
@animeshsingh -- @Tomcli provided an update on the 16 remaining KFP `testdata` compilation failures along with their respective main causes of failure (Apr 2, 2020):

[code]
Thanks @Tomcli for analyzing those!

[2020-04-04 10:33] ckadner commented on #18
@animeshsingh -- I made a few temporary code changes so the compiler won't exit after the first exception but instead to log error messages. This should allow to capture all the known missing features which a pipeline is utilizing, instead of only reporting the first failure per pipeline.

Then I ran the compile report script over 3 sets of pipelines:
1. KFP compiler `testdata` (the usual 30 pipel

[2020-04-06 05:37] animeshsingh commented on #18
Thanks @ckadner.  Summarizing the information above

Averaging out currently, **we have 41/84 successful - so ~50%**

Occurences of NotImplementedError:
   20 dsl.VolumeOp is not yet implemented (dsl.ResourceOp)
   10 dsl.VolumeSnapshotOp is not yet implemented (dsl.ResourceOp)
   8 dsl.ResourceOp is not yet implemented
   7 dynamic params are not yet implemented
   4 input artifacts are not yet i

[2020-04-06 13:34] vincent-pli commented on #49
@Tomcli thanks.
I will write `output` to `tekton/result/output`, is that satisfy you?

[2020-04-06 16:23] Tomcli commented on #49
yes, that should work for me.

[2020-04-06 17:15] kevinyu98 commented on #54
Tried to create service account and which can pull the image secret, but Tommy is worried that the we may not have permission to clean up the service account. Have issue to pull the image from podtemplate approach. I have opened an issue on tekton.
[2339](https://github.com/tektoncd/pipeline/issues/2339)

[2020-04-07 14:17] vincent-pli commented on #49
@Tomcli Do we expect set `owner reference` to the resource created?

[2020-04-07 16:20] Tomcli commented on #49
For now, we don't have to set `ownerReference` for the users since it's also not part of the Argo feature.

[2020-04-07 23:24] Tomcli opened #85 "Support Exit handler"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
We want to support Exit handler in Tekton.
Example: https://github.com/kubeflow/pipelines/blob/master/samples/core/exit_handler/exit_handler.py

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]
We probably need to have exit handler suppo

[2020-04-07 23:25] Tomcli commented on #85
/help-wanted

[2020-04-07 23:26] Tomcli commented on #85
/tag help-wanted

[2020-04-07 23:27] Tomcli commented on #85
/help

[2020-04-07 23:27] Tomcli commented on #85
/remove-help

[2020-04-07 23:31] Tomcli opened #86 "support volumeSnapShotOp"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
support volumeSnapShotOp

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]
This issue requires resourceOp to be implemented in #49

[2020-04-07 23:43] Tomcli opened #87 "Important compiler feature items"
/kind feature

**Description:**
This is an extended list of features from #18 that are the top priority for this project. Items that are depended on each other will be grouped.
1. - [x] ResourceOp #49
      - [x] VolumeOp #51
      - [x] VolumeSnapShotOp #86
2. - [x] Support Artifacts with Object Storage
      - [x] Artifact outputs with S3 Location config #64
      - [x] Artifact inputs
3. - [x]

[2020-04-08 00:29] Tomcli commented on #64
We will be creating an extra step for moving the artifacts. The step image will be based gsutil using the pipelineresource code https://github.com/tektoncd/pipeline/blob/master/pkg/apis/resource/v1alpha1/storage/gcs.go

[2020-04-08 13:31] bobcatfish commented on #82
Hi there! I'm kinda jumping into this without a lot of context, but I noticed it linked from https://github.com/kubeflow/kfp-tekton/issues/87 and I wanted to point out that Tekton has been explicitly _avoiding_ adding support for recursion and dynamic behavior (though DSLs built on top could potentially support it). Let me know if you want to discuss more and/or feel free to join our working group

[2020-04-08 17:01] drewbutlerbb4 commented on #33
This issue will remain after #84 because conditions that receive parameters from task outputs still fail. Once [this issue](https://github.com/tektoncd/pipeline/issues/2336#issuecomment-611007302) is fixed another PR will be made to reconcile.

[2020-04-09 17:41] Tomcli opened #90 "Add instructions for assigning rbac/service account to Tekton pipeline."
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Some features such as resourceOps #89  and volumeOps might need more rbac permission to create those resources. Thus we need to add proper instructions/code changes for setting rbac and service account to pipeline run.

**Additional information:**
[Miscellaneous information that wil

[2020-04-09 17:42] Tomcli commented on #90
/help

[2020-04-10 00:14] kevinyu98 commented on #90
I am looking into.

[2020-04-10 01:10] fenglixa commented on #90
create rbac permission as below:
[code]

[2020-04-10 17:47] Tomcli commented on #64
Since gsutil has limitation where the object storage url has to be a dns domain or a proper region name, it won't fit in the kfp use case because the default storage is at `minio-service.kubeflow:9000`. Therefore, we will be using the minio/mc as our step image.

Errors with gsutil:
[code]

[2020-04-11 23:27] #49 closed

[2020-04-13 20:35] Tomcli commented on #86
prereq: volumeop
function: create volume snapshot on existing volumeop.

[2020-04-14 01:12] Tomcli opened #94 "Extend resourceOp warpper image to have multiple outputs"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
As of today, the kube-client wrapper only takes the output as a string list and output those in a single output file. https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/resourceop_basic.yaml#L84-L85

However, in ideally solution, we should input a

[2020-04-15 03:19] vincent-pli commented on #94
@Tomcli
Since `params` of `tekton` only support `string`, `array` no `structure`, so we can still use string but make it looks like a structure, like this:
[code]
What do you think?

[2020-04-15 10:20] ckadner commented on #18
@animeshsingh -- This is an update of compilation success/failure and failure reasons for KFP testdata and samples (4/14, incl. PR #92):

49/84 successful - so ~58% (increase of 8 more successful)

---
### 1. KFP `testdata` scripts

[code]

---
### 2. KFP `core` samples

[code]

---
### 3. 3rd-party contributed samples

[code]

[2020-04-15 21:28] Tomcli commented on #94
@vincent-pli Sure, for the output param we can use any format because we have control of the compiler. However, what we really want to see is the `kubectl-wrapper` can produce each of those output as an individual result file following the tekton [execution results requirement](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#storing-execution-results). We can  provide the name of ea

[2020-04-16 00:20] vincent-pli commented on #94
@Tomcli
For the `individual result file`, for now it's already support.
For the `{}` and `blank`. since output expression will be use in `kubectl get -o jsonpath=$(output-express)`, so you could define express as "{.metadata.placeholder}", then the command will get a `""` and a blank file will be created.

[2020-04-16 00:49] Tomcli commented on #94
Thanks @vincent-pli, then in that case we just need to make sure the `output` is also taking the result names so we know what are the results we should map to within the compiler.
[code]
is this string format already supported in your kubectl-wrapper?

[2020-04-16 01:42] vincent-pli commented on #94
@Tomcli
Yes, it already works, you can take a try with the sample:
https://github.com/vincent-pli/kubectl-wrapper/tree/master/deploy

[2020-04-16 01:44] fenglixa commented on #90
/assign @kevinyu98

[2020-04-16 18:32] Tomcli opened #96 "Refactor compiler and op to template function."
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
As we introduce more features, there are some task/step template that we have to introduce in order to replicate some actions in the Argo sidecar. So we should refactor the code in a way that any additional template can be added as a plugin function.

**Additional information:**
[Mi

[2020-04-16 20:39] Tomcli commented on #94
@vincent-pli, overall it looks great, although I found a bug when passing it as results. Can you remove all the quote when you store them as file?
[code]

[2020-04-16 20:39] Tomcli commented on #94
right now the extra `"` is also stored as results which is causing some errors.

[2020-04-17 00:18] vincent-pli commented on #94
@Tomcli
Thanks for catching, I have enhanced the code, please take a try.

[2020-04-17 00:41] kevinyu98 opened #97 "Create makefile for sdk/python"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
It will be nice to have makefile so that it will make testing easier.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-04-17 01:13] Tomcli commented on #94
Thanks @vincent-pli, it works great. We can put this into tekton catalog now so that this task can be official.

[2020-04-17 01:13] #94 closed

[2020-04-17 01:29] kevinyu98 commented on #44
I will look into this.

[2020-04-17 03:15] vincent-pli commented on #94
@Tomcli
There still one thing, I talked with @Vdemeester from `tekton`, he think the `catalog` should only maintain the `yaml`s stuff, the source code will make the repo mass to manage.

So we still need find a more official repo.

Another choice is submit the image to a official repo.
@animeshsingh @ckadner @fenglixa

[2020-04-20 02:51] jinchihe opened #100 "Make the CI tests for repo"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

Make the CI tests for repo, so that we can ensure the quality by basic testing, such as function user end to end cases, Pylint testing etc ... After the CI tests setup, contributor can develop test case while implement functions. Thanks.

**Additional information:**
[Miscellaneous

[2020-04-20 03:41] jinchihe opened #101 "Publish kfp-tekton SDK in Pypi"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

Now usr needs to install kfp-tekton by `pip install -e ...` after cloning code from github, but sometime user would not like to download source code, just run pip to install the SDK, we should publish the SDK to Pypi, and avoid the name is used recently by others.

**Additional inf

[2020-04-20 03:42] jinchihe commented on #101
/assign @jinchihe

[2020-04-20 03:46] jinchihe commented on #101
Now the kfp-tekton can be installed by pip directly.
[code]

[2020-04-20 03:51] jinchihe commented on #101
/cc @animeshsingh @fenglixa
Would you please let me know you Pypi ID so that I can add you as Maintainers for the SDK. Thanks.

We should refresh the SDK once key/big features are done.

[2020-04-20 06:35] fenglixa commented on #101
@jinchihe Great to know you are on this.
My ID is same as github (fenglixa)

[2020-04-20 08:51] ckadner commented on #101
@jinchihe -- I am not sure we are ready to publish on PyPi yet. Should we not wait until we have a stable release? If we do already want to have the PyPi package public, then we should add some documentation on the landing page make it clear that this is still experimental.

[2020-04-20 08:52] ckadner commented on #100
Hi @jinchihe -- we do run the unit test cases with Travis/CI for each PR.

For end-to-end testing with running pipelines on a Tekton cluster I had started to work on #28.

[2020-04-20 09:23] jinchihe commented on #100
@ckadner Sounds Great! Thanks.

[2020-04-20 09:29] jinchihe commented on #101
@ckadner Yeah, this is 0.0.1 version and consistent with github source code, user would know that. We should publish that to reserve that name in Pypi. If someone used `ktp-tekton`, we need update the name when publish, I've been there before for my project, and it's not good to rename ...

By the way, if you like, please let me know you Pypi id, I will add you as maintain, thanks.

[2020-04-20 13:20] vincent-pli opened #102 "Found more official repo for "kubectl-wrapper""
/kind question

**Question:**
There still one thing for resourceOp, I talked with @vdemeester from tekton, he think the catalog should only maintain the yamls stuff, the source code will make the repo mass to manage.

So we still need find a more official repo.

Another choice is submit the image to a official repo.
@animeshsingh @Tomcli @ckadner @fenglixa

[2020-04-20 18:39] ckadner commented on #101
https://pypi.org/user/ckadner/

Thanks @jinchihe

[2020-04-20 20:54] Tomcli commented on #101
Thanks @jinchihe, can you also add me as a maintainer as well? https://pypi.org/user/tomcli/

[2020-04-20 23:38] Tomcli commented on #102
Thanks, @vincent-pli and @vdemeester, is there any common practice or recommendation on where we should host and maintain the source code?

One approach could be putting the source code in this kfp-tekton, but the CI/CD process could get complicated over time as we might be adding more microservices for integration during our next phrase.

[2020-04-21 09:26] fenglixa commented on #102
In my opinion, if there is no better choice, we should put it here, as it's true we are using it, and need to keep maitaining if any issues found.

[2020-04-21 17:35] Tomcli commented on #63
This is the original code from kfp
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/_data_passing_rewriter.py

This big data passing has very complex processing to convert local files into artifact passing methods in a very Argo specific way. We would love to see can we reuse some of these methods so that we don't have to maintain our version of big data passing.

[2020-04-21 20:11] #51 closed

[2020-04-21 20:11] #86 closed

[2020-04-21 21:46] ckadner opened #107 "Add unit tests for 'basic_no_decorator.py' and 'compose.py'"
https://github.com/kubeflow/kfp-tekton/pull/91#issuecomment-614852989

- move/refactor `test_util.test_workflow_without_decorator` to `compiler_tests.test_basic_workflow_without_decorator` (same name as in KFP compiler tests)
- move/refactor `test_util.test_nested_workflow` to `compiler_tests.test_composing_workflow` (same name as in KFP compiler tests)
- change the code in `test_util.py` so that

[2020-04-21 21:46] ckadner commented on #107
/assign @drewbutlerbb4

[2020-04-21 21:48] ckadner commented on #107
/cc @drewbutlerbb4

[2020-04-21 21:55] ckadner commented on #107
@drewbutlerbb4 -- can you work with @animeshsingh to become a member of the KFP org?

[2020-04-22 00:28] jinchihe commented on #101
@ckadner and @Tomcli Done, thanks!

[2020-04-22 00:28] #101 closed

[2020-04-22 20:15] #90 closed

[2020-04-22 20:17] #33 closed

[2020-04-22 20:39] ckadner opened #109 "Clarify building from Tekton master in sdk/README"
https://github.com/kubeflow/kfp-tekton/blame/master/sdk/README.md#L23

`master` will continue to change, we need to add the commit and date or the PR that brought the feature into Tekton and the expected release that has it

Also, how to build Tekton from master? Can we point to instructions or quickly describe it here.

Maybe a better way would be to describe that certain features are "cutting ed

[2020-04-22 20:39] ckadner commented on #109
/cc @drewbutlerbb4
/cc @Tomcli
/cc @animeshsingh

[2020-04-22 20:40] ckadner commented on #109
/area docs

[2020-04-22 22:53] #64 closed

[2020-04-23 02:27] vincent-pli commented on #102
I think I agree with @fenglixa , for now, there is no right repo in `tekton` side, we can maintain in `kfp` temporary and contribute back to `tekton` later.

[2020-04-23 05:31] ckadner commented on #18
@animeshsingh

Update of the compilation success/failure status as of EOD 4/22:

### 1. KFP compiler testdata (the usual 30 pipelines)
	Success: 25
	Failure: 5
	Total:   30

### 2. KFP core samples
	Success: 21
	Failure: 5
	Total:   26

### 3. Pipeline samples contributed by 3rd-parties (*/contrib/*)
	Success: 23
	Failure: 5
	Total:   28

**Overall success rate: 69/84 = 82%**

**Occurences of NotI

[2020-04-23 16:29] Tomcli commented on #102
@animeshsingh @ckadner are you guys fine with storing the `kubectl-wrapper` source code in this Repo? We can create a subdirectory for this and have some go CI only run under that subdirectory.

[2020-04-23 18:25] drewbutlerbb4 commented on #109
As of this morning, it seems that the tekton folks have decided to use https://github.com/tektoncd/pipeline/pull/2477 in their next release and have added it to v0.11.x.

I can still add a section about building from master, but it seems the "Cutting Edge" section may no longer be needed (for now at least).

[2020-04-23 18:33] Tomcli commented on #109
I think the cheery pick fixes will come in for the next v0.11.3 release. Building from Tekton master section is still nice to have because we will have more features that need to pull from master.

[2020-04-23 23:40] ckadner commented on #29
@Tomcli is going to create a follow-up issue to identify a set of pipelines which in sum will cover most of the KFP-Tekton compiler features and which can be used for end-to-end testing and demos.

[2020-04-23 23:40] #29 closed

[2020-04-23 23:53] ckadner commented on #102
I'm not a big fan of that but it seems like this is our only option at this point

[2020-04-24 00:08] #97 closed

[2020-04-24 00:10] #96 closed

[2020-04-24 01:01] Tomcli opened #114 "Docs for deploying tekton pipeline on kfp user namespaces."
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

We need step by step docs for users who want to deploy tekton on kfp namespace. (such as workaround on istio-inject without [kfp api](https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/resource/resource_manager.go#L332-L340))

/assign

**Additional information:

[2020-04-24 20:50] Tomcli opened #118 "Add list of sample kfp pipelines for Tekton"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

Tracking issues for list of samples for kfp-tekton.
- [x] kubeflow-e2e #116
- [x] flip-coin #117
- [x] [Watson ML](https://github.com/kubeflow/pipelines/tree/master/samples/contrib/ibm-samples/watson)
- [x] [python to containerOp](https://github.com/kubeflow/pipelines/tree/master/s

[2020-04-24 20:51] Tomcli commented on #118
/cc @kevinyu98

[2020-04-24 21:59] #109 closed

[2020-04-24 22:01] #44 closed

[2020-04-25 00:43] #114 closed

[2020-04-26 08:34] fenglixa commented on #82
/assign

[2020-04-27 06:43] fenglixa opened #121 "Extend resourceOp warpper image to operate the list of resources"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
As discussion in the ticket https://github.com/kubeflow/kfp-tekton/issues/70 and https://github.com/kubeflow/kfp-tekton/issues/82. Tekton has been explicitly avoiding adding support for recursion and dynamic behavior. So we have to find another way for the solutions.

ResourceOps an

[2020-04-27 18:59] #107 closed

[2020-04-30 02:58] fenglixa commented on #121
@vincent-pli @Tomcli any comments?

[2020-04-30 03:20] #52 closed

[2020-04-30 16:29] Tomcli commented on #121
Hi @fenglixa, here is the tracking issue in the Tekton community https://github.com/tektoncd/pipeline/issues/2050

They have been discussing what are the cases they need to cover for the looping support such as looping with conditions, parallel vs sequential loop, etc. Adding all these use cases will be hard for the wrapper image and we won't get the logging and visual support from Tekton.

[2020-05-01 15:45] fenglixa commented on #121
Thanks @Tomcli , It's great if tekton could support the looping parms. That's should be the final solution.
@vincent-pli, FYI. Thanks for your support!

[2020-05-01 21:52] ckadner opened #133 "Upgrade the kfp_tekton compiler to be based on KFP SDK version 0.5.0"
Upgrade the `kfp_tekton` compiler code to be based on `kfp` version `0.5.0`.

/assign

[2020-05-01 22:17] Tomcli commented on #102
@animeshsingh Want to double check with you is it okay to put the `kubectl-wrapper` source code in our `kfp-tekton` repo until Tekton has a better place to maintain it?

[2020-05-01 22:27] Tomcli commented on #38
We probably can close this because pipelineResource will not be in beta. The new flip-coin example is able to run on openshift tekton pipeline with beta api.
/close

[2020-05-01 22:27] #38 closed

[2020-05-01 23:42] vincent-pli commented on #121
@Tomcli @fenglixa That great to hear that, thanks.

[2020-05-04 22:52] Tomcli commented on #102
Hi @vincent-pli, in our scrum today we all agreed to put the kubectl-wrapper source code under this `kfp-tekton` repo. Can you create a PR to move the kubectl-wrapper code under a directory such as `/tekton-catalog/kubectl-wrapper`? Thank you for your contribution!

[2020-05-05 02:30] vincent-pli commented on #102
@Tomcli
Sure, will work on it soon.

[2020-05-06 21:45] #102 closed

[2020-05-06 22:05] ckadner opened #137 "Verify generated Tekton YAML"
/kind feature

**Description:**
After [upgrading to KFP SDK version 0.5.0](#135) we took over some code to:
- verify the variables resolution in the parameters of the generated compiled workflow and
- lint the generated Tekton YAML (syntax verification)

That code is commented out as a guide just to serve as a guide for the appropriate Tekton specific implementation.

We should implement the metho

[2020-05-07 07:43] #133 closed

[2020-05-07 14:38] jlewi commented on #82
@animeshsingh @ckadner per @bobcatfish's comment. My sense is Tekton has features like loops that amount to generating the DAG at runtime. This seems reasonable as I think one of the values of a DAG scheduler is that you know at job submit time the entire graph so its easy to reason about.

Have you considered building any dynamic features ontop of Tekton rather than baking it into Tekton?

For ex

[2020-05-07 17:11] animeshsingh commented on #82
thanks @jlewi current goal is for Tekton community to address it. We are driving an open issue there on the topic, as it will help coming with an official implementation which can be maintained by them
https://github.com/tektoncd/pipeline/issues/2050

[2020-05-07 20:44] bobcatfish commented on #82
While discussing https://github.com/tektoncd/pipeline/issues/2050 in a recent working group, it was pointed out that "looping" can refer to different sorts of loops, and the one that we'd be most likely to add into Tekton would be a kind of "for each" functionality, like a Python list comprehension. It's (so far) not likely that we'd add generic dynamic looping, e.g. looping based on some state ou

[2020-05-08 18:27] ckadner commented on #137
@afrittoli -- does Tekton have a CLI tool to parse and verify the YAML locally (before deploying it to the cluster)?

[2020-05-08 18:37] ckadner opened #143 "Generate PipelineRun with embedded pipelineSpec and taskSpec"
/kind feature

**Description:**
Convert the YAML produced by the `kfp-tekton` compiler:
- from multiple documents (`Condition`s, `Task`s, `Pipeline`, `PipelineRun`) into
- into a single `PipelineRun` with _embedded_  `pipelineSpec` and `taskSpec`s

This will simply the required work for down-stream integration with the KFP API and KFP UI.

**Additional information:**

[code]

[2020-05-08 18:41] ckadner commented on #143
@afrittoli -- do you know if there are any functional limitations with using embedded `pipelineSpec` and `taskSpec`?

We are evaluating if the `kfp-tekton` compiler could generate one single document including `Condition`s.

[2020-05-08 18:41] ckadner commented on #143
/cc @Tomcli

[2020-05-08 21:26] Tomcli commented on #143
@afrittoli pipelineSpec and taskSpec works well on pipelineRun. However, I couldn't find the conditionSpec in the pipelineRun v1beta1 CRD, is it because conditions are still in v1alpha1 API?

[2020-05-10 02:14] animeshsingh opened #144 "Convert the KFP-TFX template to use KFP DSL, and run it on Tekton"
https://github.com/kubeflow/kfp-tekton/tree/master/samples/kfp-tfx

[2020-05-10 02:14] animeshsingh commented on #144
/assign @qyu @Tomcli

[2020-05-10 02:15] animeshsingh commented on #144
/assign @kevinyu98

[2020-05-10 02:16] animeshsingh commented on #143
Is there anything else besides pipelineSpec, taskSpec and conditionSpec ?

[2020-05-11 08:24] fenglixa commented on #82
Thanks @bobcatfish  Yes, it's correct, we are also requiring the looping based on inside of the pipeline. Acturally the "dynamic looping" is mean the loop params relay on the result of other tasks in the same pipeline.

[2020-05-12 00:41] Tomcli opened #146 "Update compiler to use taskRun podTemplate spec"
/kind feature
/help-wanted

**Description:**

Thanks to @NikeNano's PR https://github.com/tektoncd/pipeline/pull/2389, taskRun podTemplate spec is now available in Tekton pipelineRun.

Current implementation: https://github.com/kubeflow/kfp-tekton/blob/master/sdk/FEATURES.md#affinity-node-selector-and-tolerations
Code: https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compil

[2020-05-12 00:42] Tomcli commented on #146
/help-wanted

[2020-05-12 00:46] Tomcli commented on #146
/kind help-wanted

[2020-05-12 00:47] Tomcli commented on #146
/help wanted

[2020-05-12 02:11] animeshsingh opened #147 "Phase One to Phase Two transition, and plan forward"
At this stage we are in the midst of transition from Phase One to Phase Two

**Phase One: KFP Tekton Compiler work**

a. Make the required output of Tekton compiler match what Phase Two needs:
Essentially translating to produce PipelineRun spec yaml as a first class output of compiler, in addition to Pipeline and ConditionSpec yaml files in the tgz  @ckadner

b. Drive open gaps still in Tekton sid

[2020-05-15 20:37] Tomcli commented on #63
@ckadner this new example in KFP should able to reproduce this issue.
https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components/Data%20passing%20in%20python%20components%20-%20Files.py

[2020-05-18 20:18] animeshsingh opened #149 "Investigate restructuring this repository to accept KFP API/UI code"
/kind feature

**Description:**
As part of Phase 2, we need to be able to bring GO based changes to the repo for KFP API/backend

[2020-05-18 20:18] animeshsingh commented on #149
/assign @ckadner

[2020-05-18 22:01] animeshsingh opened #150 "Compiler issues reported by Watson"
/kind bug

Reported by Michalina  @udiknedormin

* identifiers are not checked for length, some of them fail on length check (63 characters is the limit)
* not all identifiers are escaping `_` signs (`_` -> `-`)
* no big data fix by default, instead it's hidden behind a flag, triggering very cryptic Tekton error
  * error message is "no such an output", which contradicts the definition
  * origins

[2020-05-18 22:01] animeshsingh commented on #150
/assign @ckadner @Udiknedormin

[2020-05-18 22:17] ckadner opened #151 "Validate identifiers"
- identifiers have a 63 character limit
- consistently replace under score characters `_` with dashes `-` (`_` -> `-`)

[2020-05-18 23:41] ckadner commented on #150
I think most of the reported problems should be related to these open issues:

- [ ] Validate identifiers #151
- [ ] Fix big data passing #63
- [ ] Verify generated Tekton YAML #137

[2020-05-18 23:44] ckadner commented on #150
/cc @Udiknedormin

[2020-05-19 00:36] ckadner commented on #150
/cc fenglixa Tomcli

[2020-05-19 00:55] ckadner commented on #151
/assign

[2020-05-19 00:59] ckadner commented on #151
/remove-area jupyter

[2020-05-19 06:10] animeshsingh commented on #150
cc @fenglixa

@ckadner can you connect with @fenglixa and split the effort?

[2020-05-19 07:26] fenglixa commented on #85
Here is the tracking issue in the Tekton community tektoncd/pipeline#2437

[2020-05-19 07:47] fenglixa commented on #150
I am tring to work on "Re-implement the fix_big_data_passing function" #63 firstly.

Also other issues inside need to be addressed:

- [ ] Exit handler support #85
- [ ] messages that are too long don't seem to follow one pattern: they can have their end cut, their beginning cut or both
- [ ] Uses results to pass the whole value, not just the path, so the parsing error is still happening
- [ ] big

[2020-05-19 08:32] ckadner commented on #63
/assign @fenglixa

[2020-05-19 08:34] ckadner commented on #150
@fenglixa -- I assigned #63 to you. Thanks for your help!

[2020-05-19 11:53] NikeNano commented on #146
@Johanwork maybe this would be something for you? I can help out.

[2020-05-19 18:05] Tomcli opened #152 "Enable PipelineRun and artifact features as default"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

We currently opt-out the PipelineRun and artifact features to avoid the KFP dependency. However, as we progress with the API integration and migrate to a new PipelineRun Spec, we should move these features as default and have KFP as our mandatory prerequisite.

Depended issues:
- [

[2020-05-19 18:44] Tomcli commented on #151
nit: identifiers should have 57 character limit because the API also needs to append a 6 character uuid for each new PipelineRun.

[2020-05-19 22:06] ckadner commented on #146
/assign @NikeNano

[2020-05-19 22:07] ckadner commented on #152
/remove-area jupyter

[2020-05-19 22:49] Tomcli opened #154 "Rename Tekton task's main container as "main""
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

Since Argo always name the main container as "main", it would be easier for the API to figure out which container to get the logs if we can change our compiler to rename all the main step in a task as "main". Argo did the container renaming in the execution level since Argo only al

[2020-05-19 22:52] ckadner commented on #151
I was planing to change the general code in `_sanitize_k8s_name` to add a parameter for `max_length` with a default of `63` in accordance with [K8S Label and Name Rules](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names)

IMO, when the API needs to append a UUID, it should truncate the name/label if necessary since not all names/labels need to reserve "space"

[2020-05-19 22:54] ckadner commented on #154
/remove-area jupyter

[2020-05-19 22:55] ckadner commented on #154
@Tomcli -- can you add a few examples/snippets here?

[2020-05-19 23:01] Tomcli commented on #154
e.g. right now we have this for one of our example task
[code]

I want it to be this
[code]

[2020-05-19 23:01] Tomcli commented on #154
notice we change the step name to "main"

[2020-05-20 00:05] ckadner commented on #154
I think that should be fine

[2020-05-20 05:09] fenglixa commented on #63
@Tomcli , I tried this example, but it works well with current kfp-tekton:
[code]

We may need to find another example/use cases, which could easy reproduce the issues for big data fix.  Thanks!

[2020-05-20 05:15] animeshsingh commented on #63
@fenglixa can you connect with Michalina @@Udiknedormin internally

[2020-05-20 05:43] animeshsingh commented on #147
Repository created for Phase 2
https://github.com/kubeflow/kfp-tekton-backend

[2020-05-20 07:18] NikeNano commented on #54
This pr: https://github.com/tektoncd/pipeline/pull/2547 in Tekton/pipelines should be able to help solve this problem. I can work on it together with @JohanWork when/if the PR is merged.

[2020-05-20 20:58] #154 closed

[2020-05-21 08:20] fenglixa commented on #63
Get the issues, ans also synced with Michalina, I will try to provide PR later, which will address the items as below:

1. There is no `fix_big_data_passing` function in kfp-tekton now, will re-implement it for kfp-tekton.
2. Handle Output -> OutputPath, Input -> InputPath for big data passing, a potential solution is using `workspaces` instead of result if the parameter outputs is bigger data.
3.

[2020-05-21 08:49] animeshsingh commented on #63
Thanks @fenglixa for prioritizing it. We need this to unblock Watson

[2020-05-21 23:39] ckadner commented on #137
@afrittoli -- is there a tool or some programmatic way to verify a given Tekton YAML is valid and compliant with the specified API version?
Currently I apply my compiled Tekton YAML to a Kubernetes cluster with Tekton deployed on it and look for errors. That approach works on a one-by-one basis or in end-to-end test cases but it does not work as part of the compiler code.

[2020-05-22 00:26] #146 closed

[2020-05-22 21:18] Tomcli opened #161 "Support log archive to S3 storage."
/kind feature

**Description:**
Argo has support for archiving logs to S3. The UI and cache server then take those information to display the logs or pass it to other artifacts. Since Tekton doesn't support archive logs, we need to have an extra step/sidecar to aggregate logs from main container and sent it to S3.

Design doc summary: https://docs.google.com/document/d/14UF7b5-4YnqssaR2Kkfo0GWSx5u

[2020-05-22 21:35] Tomcli commented on #161
There were some cloud events for pipeline resource CRD that can archive logs. However, We don't see any plan for pipeline resource moving to v1beta1 API. It would be better to create with some Tekton catalog container or create our own.

[2020-05-22 21:36] Tomcli commented on #161
FYI: https://github.com/tektoncd/pipeline/blob/master/tekton/README.md#run-the-pipeline

[2020-05-23 00:36] Tomcli opened #163 "Remove ArtifactLocation support when migrating to KFP 0.5.1"
/kind bug

**What steps did you take and what happened:**
KFP 0.5.1 has officially removed the ArtifactLocation support. So we need to remove the ArtifactLocation in kfp-tekton when we migrate to KFP 0.5.1. Otherwise it will produce an `ImportError`.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2020-05-23 00:39] Tomcli commented on #163
/assign

[2020-05-26 20:09] NikeNano commented on #137
There are some validation used [here](https://github.com/tektoncd/pipeline/blob/858305d73b806583f9592dd166fdd360f5844423/pkg/apis/pipeline/v1beta1/pipeline_validation.go) for tekton pipelines. I have tried to check for any CLI validation but can't find any. @ckadner

[2020-05-26 20:17] NikeNano commented on #137
I could start to look in to the pipeline validation, will try to do it in steps and see how the validation is done in the tekton repo.

[2020-05-26 20:45] ckadner commented on #137
@NikeNano -- thanks for helping out on this task. I was really hoping for a CLI that allows to validate Tekton pipelines since I do not want us to duplicate (or refashion) Golang code from Tekton in this repo. This would inevitably go out of sync.

Maybe we could advocate for (or contribute) a small executable wrapper around the Tekton [`pipeline_validation`](https://github.com/tektoncd/pipeline/b

[2020-05-27 05:57] NikeNano commented on #137
Good point!

I will look into making it as an contribution to tekton that we can reuse!

[2020-05-28 22:57] #151 closed

[2020-05-29 10:00] fenglixa commented on #163
@Tomcli I am handling input/output artifacts in `Fix big data passing` task # 63, which will hanlde all kinds of input/output artifacts.
So, could you please hold on this task, as it's part of my on-going task now. Thanks!

[2020-05-29 16:25] Tomcli commented on #163
@fenglixa no problem, I opened this issue as a TODO for the KFP version upgrade.

[2020-06-01 16:23] Tomcli opened #165 "Update conditional feature with the catalog condition approach"
/kind feature

**Description:**
We want to rewrite the Tekton condition CRD to be more genetic for KFP. This way we can treat our condition as a "catalog" and let pipelineRun refer to it without passing multiple yamls.

TODOs:
1. Generalize the current condition into a more catalog task design.
2. Have a flag for compiler to opt-out the condition yaml since it will be available in KFP by default.

[2020-06-02 13:10] NikeNano commented on #137
Based upon the discussion [here](https://github.com/tektoncd/cli/issues/999) it currently is not suiting for the Tekton cli tool. But I guess we could still pursue a small executable to validate the the resources you mention @ckadner

[2020-06-03 21:19] Tomcli opened #168 "Add artifact input and output annotations for artifact tracking"
/kind feature

**Description:**
Argo controller can embedded the input and output artifacts into the pod annotation to achieve artifact tracking. However, Tekton doesn't have the concept of artifacts (since pipelineResource is still in alpha), we need to add the artifacts information within the sdk compiler in order to achieve similar feature.

**Additional information:**
[Miscellaneous informatio

[2020-06-03 21:19] Tomcli commented on #168
/assign

[2020-06-05 09:28] NikeNano commented on #54
This is now merged on the [tekton side](https://github.com/tektoncd/pipeline/pull/2547/files ) @johanWork

[2020-06-05 23:06] ckadner commented on #59
https://github.com/tektoncd/pipeline/issues/2767

[2020-06-05 23:15] ckadner commented on #59
**Related issues:**
- Generate `PipelineRun` with embedded `pipelineSpec` and `taskSpec` #143 #166
- Unsupported features for embedded pipelineSpec, taskSpec? [tektoncd/pipeline #2767](https://github.com/tektoncd/pipeline/issues/2767)

[2020-06-09 02:47] fenglixa commented on #85
/assign

[2020-06-09 04:31] #63 closed

[2020-06-09 04:33] #168 closed

[2020-06-09 08:26] fenglixa commented on #150
Connected with @Udiknedormin on slack. This issue was addressed.  Seems it could be closed now.

/close

[2020-06-09 08:26] #150 closed

[2020-06-09 08:36] fenglixa commented on #163
Thanks @Tomcli, ArtifactLocation could be removed now, since issue #63 was done.  Not sure whether you will handle it later or any helps from my side do you need?

[2020-06-09 18:11] #54 closed

[2020-06-09 21:32] Tomcli commented on #163
@fenglixa, I can take care of this. If you have time, can you take a look how we can warp our container logs and send them to the object storage? https://github.com/kubeflow/kfp-tekton/issues/161

[2020-06-09 21:33] Tomcli commented on #161
This is how Argo did their log archive. Because Tekton doesn't have this feature, we need an extra step or extend our artifact passing to also capture and send the logs to S3 object storage.
https://github.com/argoproj/argo/blob/master/workflow/executor/executor.go#L505-L567

[2020-06-10 01:53] fenglixa commented on #163
OK, sure.

[2020-06-10 03:23] fenglixa commented on #161
/assign

[2020-06-10 11:01] Udiknedormin opened #176 "Sub-variables / input as JSON (like in KFP loops)"
/kind feature

**Description:**
KFP defines "sub-variables" of loop item PipelineParams, `LoopArgumentVariable`, which enables the user to access loop item as a JSON object.

Currently, KFP-Tekton seems to treat every input as a string, but JSON fields are expected to be handled too. It's a must for full support of KFP loops, but may also be beneficial for non-loop inputs.

**Additional informatio

[2020-06-11 02:25] fenglixa commented on #85
Great thanks to @pritidesai working on this issue of tekton side. It's an important feature, and glad to see tekton is doing that.
For PR #2661, I saw It's been a long time, not sure when it could be finished? It would be great if we could finish it as soon as possible

[2020-06-11 06:14] fenglixa opened #180 "Verify whether exit handler works after tekton finish supporting it"
As requirement from watson cases, exit handler definiation in kfp-tekton is in a hurry needed by them.
But tekton has not finish to fully support Exit handler yet.  tektoncd/pipeline#2661 is still under code reviewing.
Since the finally syntax is now supported in tekton preview mode as in the final tasks can be specified but not executed yet, I provide the PR #179 for kfp-tekton which could suppor

[2020-06-11 06:23] fenglixa commented on #180
/help_wanted

[2020-06-11 06:24] fenglixa commented on #180
/good-first-issue

[2020-06-11 06:34] fenglixa opened #181 "Remove PVC definition alone. Generate it with pipelinerun together"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Create pvc for pipelinerun if using big data passing. As we used workspaces in tekton pipelines which depends on it.

TODO:
Remove PVC if Tekton version > = 0.12, use 'volumeClaimTemplate' instead

 'volumeClaimTemplate'  is not support if Tekton version < 0.12

Dependency:
 - [x] P

[2020-06-11 06:41] fenglixa commented on #176
@Udiknedormin , kfp-tekton already (temp) supported static loop, same with your case, refer to the example of: https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/loop_static.py#L20

Dynamic loop refer to the ticket #82

[2020-06-11 17:35] pritidesai commented on #85
@fenglixa it is finished and open for review but recent changes around `PipelineRun Status` has caused conflicts, working on resolving them as I speak 🙏

[2020-06-11 17:38] #85 closed

[2020-06-11 19:02] #163 closed

[2020-06-11 22:10] #28 closed

[2020-06-11 22:33] ckadner opened #183 "Update sdk/README after `artifact_location` example was removed"
/area docs

@Tomcli we need to update the `sdk/README.md` which refers to the removed `artifact_location` example:

https://github.com/kubeflow/kfp-tekton/tree/master/sdk#2-compile-kubeflow-pipelines-with-artifacts-enabled

[code]

Related: #175

[2020-06-11 22:33] ckadner commented on #183
/assign @Tomcli

[2020-06-11 23:03] ckadner commented on #183
/remove-kind bug

[2020-06-11 23:04] ckadner commented on #183
/remove-kind feature

[2020-06-11 23:09] Tomcli commented on #183
Sure I can do it
/assign

[2020-06-12 01:51] fenglixa commented on #85
Sounds good, thanks @pritidesai .
#180 logged in kfp-tekton to trace the testing of this feature once PR #2661 is done.

[2020-06-12 02:13] #183 closed

[2020-06-12 04:17] ckadner opened #185 "Generate long_description for PyPi based on sdk/README.md"
/kind feature

**Description:**
PyPi uses the `long_description` from `setup.py` for the documentation of the landing page of the [`kfp-tekton` project on PyPi.org](https://pypi.org/project/kfp-tekton/).

We should use the content of our `sdk/README.md` for that `long_description`.

[code]
/cc @jinchihe
/assign

[2020-06-12 04:19] ckadner commented on #185
@jinchihe -- I will create a PR for this shortly. Would you mind making me a `Maintainer` on `TEST.pypi.org` for https://test.pypi.org/project/kfp-tekton/ so I can try out if the documentation gets rendered properly? Thank you :-)

[2020-06-12 06:39] fenglixa commented on #161
I saw kubeflow/pipelines#2081 provided the capacity of achiving logs to S3, which was controled by severl env variables from UI.

For kfp-tekton:
**1. What's the signal of enabling archive logs, how to define it?
2. Any kfp case could be used for this issue?**

[2020-06-13 01:30] jinchihe commented on #185
@ckadner Done, thanks.

[2020-06-17 00:25] Tomcli commented on #152
Need to follow up after #166

[2020-06-17 00:39] ckadner opened #188 "Outstanding fixes from PR #166"
/bug

After PR # 166 (PipelineRun with embedded pipelineSpec) there are some test cases that still need to be fixed:

- [ ] **big_data_passing.yaml** (@fenglixa is working on #189)
- [ ] **input_artifact_raw_value.yaml** (might depend on `big_data_passing` fix)
  - `unknown field "artifacts"` ... missing `stepTemplate` with `volumeMounts`
- [ ] **pipelineparams.yaml** (might depend on `big_data_pa

[2020-06-17 00:41] Tomcli commented on #161
sorry @fenglixa I missed your message easier. We can add a flag for this feature similar with how we done with artifacts. https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/main.py#L53-L55

This feature came from Argo, which later get adopted with the kfp frontend. For Argo there's no changes to the yaml because it was done on the controller level, but Tekton doesn't

[2020-06-17 00:43] ckadner opened #189 "Need further big_data_passing fixes after PR #166"
/assign @fenglixa

1. Integrate the **tasks, pipeline, and pipelinerun** together from **list** to a **dict**. So, in _data_passing_rewriter, we just need to know which one is task template, pipeline and pipelinerun. Then should be no much code diff inside of `_data_passing_rewriter.py`.

2. There is not task name in pipelineSpec['tasks']['taskSpec'], so the task name should be used as pipelineSpe

[2020-06-17 00:44] ckadner commented on #189
@fenglixa -- we will merge #166 shortly so you can tackle the big_data_passing once more.

Many Thanks!

[2020-06-17 07:58] ckadner commented on #185
Thank you @jinchihe

[2020-06-17 08:21] fenglixa commented on #161
Great! Thanks @Tomcli , very clear!

[2020-06-17 17:50] Tomcli commented on #188
also tag #152 for double check artifacts after big data passing is done.

[2020-06-17 18:24] ckadner commented on #188
@animeshsingh

[2020-06-20 00:02] animeshsingh commented on #188
- [ ] **input_artifact_raw_value.yaml** (might depend on `big_data_passing` fix)
  - `unknown field "artifacts"` ... missing `stepTemplate` with `volumeMounts`
- [ ] **pipelineparams.yaml** (might depend on `big_data_passing` fix)
  - `[download : main] sh: results.downloaded-resultoutput.path: not found`

Just highlighting so that its on @fenglixa radar

[2020-06-20 00:24] #185 closed

[2020-06-23 04:09] #149 closed

[2020-06-23 14:36] fenglixa opened #193 "Update the examples of big data passing"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
With #189 addressed, the example of big data passing need to be updated

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

/assign

[2020-06-24 00:21] #143 closed

[2020-06-24 00:24] animeshsingh opened #197 "Produce a single SDK for KFP-Tekton and test the current set of samples end to end, with compile/upload/run"
Produce a single SDK for KFP-Tekton and samples here need to be tested end-to-end using a single KFP-Tekton SDK
https://github.com/kubeflow/kfp-tekton/tree/master/samples

Additionally the Watson internal samples should be using the same SDK once produced

cc @Tomcli @ckadner @drewbutlerbb4 @qyu @fenglixa @Udiknedormin

[2020-06-24 00:30] ckadner commented on #197
/assign -- I am working on it

[2020-06-24 00:31] ckadner commented on #197
/assign

[2020-06-24 15:32] fenglixa commented on #188
Below items are fixed in PR #194:
- [x] big_data_passing.yaml (@fenglixa is working on #189)
- [x] input_artifact_raw_value.yaml (might depend on big_data_passing fix)
* unknown field "artifacts" ... missing stepTemplate with volumeMounts
- [x] pipelineparams.yaml (might depend on big_data_passing fix)
* [download : main] sh: results.downloaded-resultoutput.path: not found

The last item should be

[2020-06-24 16:41] #165 closed

[2020-06-24 16:59] animeshsingh opened #198 "Investigate log archival and storage in context of KFP and Tekton"
Currently KFP provides mechanisms to store logs on S3 backed storage, which is a derivative and dependent on Argo's solution. What is going to be the corresponding mechanism for Tekton backend in KFP

[2020-06-24 17:00] animeshsingh commented on #198
cc @Tomcli @fenglixa @Udiknedormin

[2020-06-24 17:04] Tomcli commented on #198
FYI, right now we are creating a custom log achieve step within our compiler to replicate the same behavior in Argo.
https://github.com/kubeflow/kfp-tekton/issues/161

Any additional comment are welcome.

[2020-06-24 17:05] #188 closed

[2020-06-24 17:05] #189 closed

[2020-06-24 17:19] animeshsingh opened #199 "Investigate multi-user authentiction/authorization in context of KFP-Tekton"
Its going to be release in KFP 1.0, with a Istio/DEX along with Kubeflow profile controller for authentication/authorization

cc @Tomcli @adrian555 @fenglixa

[2020-06-24 17:21] animeshsingh opened #200 "Python 3.5 deprecation"
KFP is planning deprecation for Python 3.5
What's the impact on this project + Watson implementation, and concerns we want to raise

@Tomcli @ckadner @Udiknedormin @fenglixa

[2020-06-24 18:22] ckadner commented on #200
I don't see any issues from a SDK implementation perspective. In fact the code will get better if we drop support for Python 3.5. But there may be issues with bundled packages that allow or rely on Python 3.5 (i.e. TFX?) and with Linux platforms that come with Python 3.5.

Linking the discussion from KFP PR 668  that has been open since January 2019:
https://github.com/kubeflow/pipelines/pull/668

[2020-06-25 12:53] Udiknedormin opened #202 "build.sh uses "python", not "python3", but the code contains python3-only code"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
[code]

**Additional information:**

Works just well for python3.

**Environment:**

* Python Version (use `python --version`):
  * python: 2.7.16
  * python3: 3.7.7

[2020-06-26 14:10] Udiknedormin commented on #59
Shouldn't this be closed, considering [issue #143](https://github.com/kubeflow/kfp-tekton/issues/143) has been closed with [PR #166](https://github.com/kubeflow/kfp-tekton/pull/166)?

[2020-06-26 15:31] fenglixa commented on #200
My self python was 3.6, and I didn't find any issues on it for kfp-tekton.

[2020-06-26 16:13] Tomcli commented on #59
Thanks @Udiknedormin
/close

[2020-06-26 16:13] #59 closed

[2020-06-27 02:34] #152 closed

[2020-07-01 18:26] Tomcli opened #208 "KFP Tekton UI bug: Dynamic graph not displaying correctly when having two or more runAfter children"
/kind bug

**What steps did you take and what happened:**
When a node has two or more children with runAfter, the dynamic graph is not displaying correctly. The [trusted-ai](https://github.com/kubeflow/kfp-tekton/tree/master/samples/trusted-ai) example can reproduce this issue.

<img width="779" alt="Screen Shot 2020-07-01 at 11 25 27 AM" src="https://user-images.githubusercontent.com/10889249/862

[2020-07-03 00:18] #202 closed

[2020-07-06 15:32] fenglixa commented on #161
Tekton discussed this topic before:
https://github.com/tektoncd/pipeline/issues/1155#issuecomment-530014356
From discussion, Fluentd and sidecars is the proper solution to query for log output based on the Pipeline, PipelineRun, Task, or TaskRun.
But based on my investigating, seems it's not a good choice.

**Another solution**, tekton has it's own dogfooding to collect logs: https://github.com/te

[2020-07-06 20:39] Tomcli opened #219 "KFP UI: Update graph to accept the new Tekton finally syntax"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Tekton introduced a new finally syntax in 0.14.0. Here is an example generated with our kfp sdk.
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/exit_handler.py

**Additional information:**
[Miscellaneous information that will assist in solving

[2020-07-06 20:39] Tomcli commented on #219
/assign @drewbutlerbb4

[2020-07-06 21:07] drewbutlerbb4 commented on #219
Thanks @Tomcli, I'll take a look. Since anything marked "finally" is inherently going to be waiting on "non-finally" marked tasks how should the graph structure look for these exit handler tasks? Should there be an edge from every non-finally task to the finally tasks or should there only be edges from tasks that pass parameters to these finally tasks?

[2020-07-06 21:33] #208 closed

[2020-07-06 21:54] animeshsingh commented on #161
cc @afrittoli @pritidesai please see above  - and investigate if we have any recommendations/roadmap direction from Tekton?

[2020-07-06 22:11] Tomcli commented on #219
For the finally task, you can treat them as the regular Tekton node except the UI node background is mild yellow. So only show edges from tasks that pass parameters to these finally tasks.

https://github.com/kubeflow/pipelines/blob/master/frontend/src/lib/WorkflowParser.ts#L69-L79 In Argo it is called exit handler.

[2020-07-06 23:07] #193 closed

[2020-07-06 23:41] Tomcli commented on #161
Tekton Dogfood can work, but the only concern I have is this will introduce Tekton Triggers and pipeline resource to our pipelines where pipeline resource is still using the alpha api as I mentioned above. Although I do see there's resourceSpec in the latest release, so probably won't be as bad as the condition work around that we have.

[2020-07-07 21:30] Tomcli commented on #161
@fenglixa Can you describe a little bit more on the cons with the fluentd investigation? The Tekton community didn't explicitly say fluentd is not a good option. There was an proposal in the Tekton community that suggested to use fluentd a while ago, but it didn't get accepted because Tekton leaves it open to the cloud provider.
https://github.com/eddycharly/dashboard/blob/external-logs/docs/walkt

[2020-07-07 23:23] #219 closed

[2020-07-07 23:41] Tomcli commented on #180
Done
/close

[2020-07-07 23:42] #180 closed

[2020-07-11 01:03] animeshsingh opened #224 "Rebase to KFP 1.0"
https://github.com/kubeflow/pipelines/tree/1.0.0-rc.5

[2020-07-11 01:04] animeshsingh opened #225 "KFP-Tekton V0.3 Plan"
Support for

1. Log archival and storage
  https://github.com/kubeflow/kfp-tekton/issues/198
2. Multi-user pipelines
https://github.com/kubeflow/kfp-tekton/issues/199
https://github.com/kubeflow/pipelines/issues/1223
3. Upgrade to KFP 1.0
https://github.com/kubeflow/kfp-tekton/issues/224
https://github.com/kubeflow/pipelines/tree/1.0.0-rc.5

cc @Tomcli @ckadner @fenglixa

[2020-07-14 23:17] Tomcli opened #227 "Fix tekton 0.14 terminating api"
/kind bug

**What steps did you take and what happened:**
tekton 0.14 had some changes to the `cancel` api where we need to fix in the kfp apiserver

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`):
* SDK Version:
* Tekton Version (use `tkn version`):
* Ku

[2020-07-15 15:43] fenglixa commented on #161
@Tomcli @animeshsingh , I drafted a document which could successful collect the tekton pipeline logs to S3, you can get it from here:
https://github.com/fenglixa/kfp-tekton/blob/s3_doc/pipeline_logging_output_s3.md

[2020-07-16 14:37] ckadner opened #229 "Regenerate "Golden" End-to-end Test Logs"
**Description:**

The end-to-end tests rely on previously generated "golden" log files to compare current log output from a pipeline run on the cluster with the log output of a previous "golden" pipeline run.

Some of the "golden" log files appear to no longer be current since several code changes have modified the log output of the pipeline runs.

**What needs to be done:**

Set up a Kubernetes c

[2020-07-16 14:38] ckadner opened #230 "Create new Issues from TODOs in the SDK Source Code"
/good-first-issue

**Description:**

Since the KPF-Tekton Compiler is still under active development, there are quite a few `TODO`s left in the code base.

In order to address those we should create several new issues to track them. Some of the `TODO`s should be grouped into a single issue.

**Additional information:**

Use an IDE to find the `TODO`s or run the following command:

[code]
[code]

[2020-07-16 21:44] moficodes commented on #229
@ckadner looking into it.
Got a IKS k8s cluster with version 1.16 and kubeflow installed as per instruction from
https://github.com/IBM/KubeflowDojo/blob/master/HandsOn/Deployment/kubeflow-on-iks.md

[2020-07-17 18:58] Tomcli opened #234 "UI needs to support the new status for Tekton v0.14"
/kind bug

**What steps did you take and what happened:**

The latest Tekton introduced few new status for cancelling the pipeline. So we need to update the KFP frontend to map `PipelineRunCancelled` and `PipelineRunCouldntCancel`  as `terminated`.

/assign @drewbutlerbb4

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the iss

[2020-07-17 23:30] #227 closed

[2020-07-18 08:20] ckadner commented on #229
@moficodes and I looked at this together and it became clear that there are more fixes required to make the end-to-end tests a little bit more robust since there is too much variation in the log output from test run to test run.

I created PR #235 to make the log verification part of the E2E tests more tolerant of erratically appearing log lines and I added a few more options to allow running only

[2020-07-18 08:21] ckadner commented on #229
/remove-good-first-issue

[2020-07-18 08:30] ckadner commented on #229
/remove-help

[2020-07-18 08:30] ckadner commented on #229
/remove-kind feature

[2020-07-20 20:54] Tomcli commented on #224
FYI we should rebase using the official release from today
https://github.com/kubeflow/pipelines/releases/tag/1.0.0

Tasks:
- [ ] Backend
- [ ] Frontend
- [ ] SDK
- [ ] Manifest

[2020-07-21 05:51] fenglixa commented on #161
pipelinerun-logs requires a cluster running on GKE with "Stackdriver Kubernetes Engine Monitoring" enabled.
@Tomcli , does it OK for us?

[2020-07-21 08:50] fenglixa commented on #161
Try to work out the pipeline logs to S3 by the solution of fluented + finally now.
https://docs.fluentd.org/how-to-guides/apache-to-s3

[2020-07-21 16:19] Tomcli commented on #161
@fenglixa is the `pipelinerun-logs` not able to work on IKS? Also, we don't want to use fluented for our finally approach because the Watson team said it's taking too much resources.

[2020-07-21 16:26] drewbutlerbb4 commented on #234
@Tomcli what is a way to produce a `PipelineRunCanceled` and `PipelineRunCouldntCancel` status?

[2020-07-21 16:39] Tomcli commented on #161
@fenglixa is it possible to create our own service/job to use kubectl or the tkn cli to pull the logs? Then in the finally task we can either call the service directly or trigger it using the [Tekton trigger](https://github.com/tektoncd/triggers) service. We can talk to the watson team tomorrow and see what kind of rbac permission they allow for Tekton pipeline.

[2020-07-21 18:16] #229 closed

[2020-07-21 21:27] Tomcli commented on #224
Additional tasks for 1.0 multiusers:
- [ ] Implement a separate KFP-Tekton controller for injecting default S3 credentials for artifacts. In multi-user, pipelines are not suppose to mount on a secret, instead it should be injected by the runtime controller. (This feature is part of the new Argo controller, but since Tekton has not yet implement the concept of artifact, we need to add our own custo

[2020-07-21 23:37] Tomcli commented on #225
In addition, we need to fix these issues for our 0.3 release:
4. Add SDK Support for 'volumeClaimTemplate' to dynamically create PVC https://github.com/kubeflow/kfp-tekton/issues/181
5. (Nice to have) Add prow for testing. This may require upstream merging for SDK and sample directory design.
6. (Nice to have) Refactor the origin Argo interface into an abstracted common interface. However, we shou

[2020-07-21 23:38] animeshsingh commented on #161
@vdemeester do we have log archival enabled with OpenShift pipelines? What's the implementation there if it exists?

[2020-07-21 23:57] Tomcli opened #241 "Wanted Tekton feature: manageable artifacts"
/kind feature

**Description:**
Should Tekton have a more mature the concept of artifacts? There are concept of [Tekton artifacts](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#storage-resource) for the pipelineResource and workspaces. However, we don't see any plan for pipelineResource moving to v1beta1 and Tekton artifacts are not manageable on workspaces because they don't

[2020-07-21 23:59] Tomcli commented on #241
Currently these features are done within our custom task and SDK annotation. Ideally we want these features come out of the box from Tekton

[2020-07-22 00:04] Tomcli opened #242 "List of wanted Tekton features"
/kind feature

**Description:**
Tracking issue for list of wanted Tekton features on KFP:
1. Looping and recursion https://github.com/kubeflow/kfp-tekton/issues/82
2. Conditions for v1beta1 (done)
3. A more mature concept of artifacts. https://github.com/kubeflow/kfp-tekton/issues/241
4. Community support for log archive. https://github.com/kubeflow/kfp-tekton/issues/161 (lower priority)

Addition

[2020-07-22 00:52] Tomcli commented on #161
Some options we already investigated. https://docs.google.com/document/d/14UF7b5-4YnqssaR2Kkfo0GWSx5uLHF4wHSbyREz73-g/edit#

[2020-07-22 10:39] fenglixa commented on #161
Thanks @Tomcli , For you summary, per our discussion in the meeting. It should be OK if "fluentd container" + finally works for Tekton pipeline logs. I built the image of it, only 50MB, not heavy to impletment this function.

Right now, I am still debuging/investigating the way on it now, but I think it should works for us.

[code]

[2020-07-22 10:44] fenglixa commented on #161
Yes, it was described here:
https://github.com/tektoncd/plumbing/tree/master/pipelinerun-logs#access-to-stackdriver

With the content:

[2020-07-22 18:35] #234 closed

[2020-07-23 09:46] fenglixa opened #243 "Mnist example run failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Run mnist example, in the steps of:
[code]
Failed as below:
[code]

**What did you expect to happen:**
Run successfully

[2020-07-23 16:15] Tomcli commented on #243
Hi @fenglixa, are you running this notebook with KFP tekton backend installed? It seems like it couldn't find the ml-pipeline service in the kubeflow namespace which means you don't have Kubeflow installed.

[2020-07-23 16:17] Tomcli commented on #243
Here are the prerequisites for this notebook, and you also need to enable RWX for your default storageclass.
https://github.com/kubeflow/kfp-tekton/tree/master/samples/e2e-mnist#prerequisites

[2020-07-24 02:15] fenglixa commented on #243
Thanks @Tomcli ,  for the timely response.
I changed to use another Openshift cluster, and checked just now, it's true, kubeflow is not installed yet.

Close it then.
/close

[2020-07-24 02:15] #243 closed

[2020-07-25 22:04] ckadner commented on #224
The KFP 1.0.0 Rebase is a work in progress that requires collaboration between API, UI, SDK experts.

**Proposed process:**
- PR #244 targets the `kfp-1.0-rebase` branch, @Tomcli @drewbutlerbb4 review it, minor comments can be addressed there and if there are no obvious problems we merge that PR
- @Tomcli and @drewbutlerbb4 checkout the `kfp-1.0-rebase` branch locally and push further PRs to the t

[2020-07-27 22:19] ckadner commented on #230
/assign @Hachimaki

[2020-07-27 22:19] ckadner commented on #230
@Hachimaki

[2020-07-28 22:03] Tomcli commented on #224
Side note: The artifact and execution page doesn't have pagination because the metadata has not yet support it, so users will try query all artifacts (including the ones owned by other users) when they land the artifact page which can be slow for frequently use.

Tracking issue: https://github.com/kubeflow/pipelines/issues/3226

[2020-08-03 05:12] moficodes commented on #230
@ckadner has this been worked on already? if not i could do it. maybe also get started on working on pr for some of this issues.

[2020-08-03 14:53] Hachimaki commented on #230
@moficodes I'm working on this now and should be set to get some issues branched off it later opened later today.  If it works for you, I can tag you in those issues as I open them.

[2020-08-03 16:21] moficodes commented on #230
sounds good. 👍
thanks @Hachimaki

[2020-08-03 23:27] Tomcli commented on #224
For the new artifact design with multi user, we are planning to move on to tekton 0.15 for using new context variables as our s3 key. This way the implementation can be a bit more close to argo.
https://github.com/tektoncd/pipeline/blob/master/docs/variables.md

[2020-08-04 01:08] Hachimaki opened #252 "Check arguments of create_run_from_pipeline_func against the pipeline function"
/kind feature
/area sdk
/area testing

**Description:**
Part of to #230 - SDK TODO for new contributors

The arguments of [_client.py#create_run_from_pipeline_func](https://github.com/kubeflow/kfp-tekton/blob/9e23ec2b58270f671e9d46499b5c983ef5edb440/sdk/python/kfp_tekton/_client.py#L54) need to be checked against the pipeline function referenced.

**Additional information:**
[Miscellaneous informa

[2020-08-04 01:17] Hachimaki opened #253 "Use split on condition for resource template names in fix_big_data_passing"
/kind feature
/area sdk
/area testing

**Description:**
Part of to #230 - SDK TODO for new contributors

This looks similar to the prior code that sets up resource_templates, but something similar needs to be implemented for [resource_template_names](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_data_passing_rewriter.py#L85).

**Additional information:**

[2020-08-04 01:23] Hachimaki opened #254 "Swap PVC for volumeClaimTemplate in _data_passing_rewriter.py"
/kind feature
/area sdk
/area testing

**Description:**
Part of to #230 - SDK TODO for new contributors

Per the work being done in #181, the use of PVC should be removed to use the `volumeClaimTemplate` if the version of Tekton being used is >= 0.12.

**Additional information:**
Current references are [here](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_data_p

[2020-08-04 01:26] Hachimaki opened #255 "Use pipelineRun name if a pipeline has no name"
/kind feature
/area sdk
/area testing

Description:
Part of to #230 - SDK TODO for new contributors

Per [_data_passing_rewriter.py#324](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_data_passing_rewriter.py#L324), if a pipeline has no name the name of the pipeline run should be used instead.

**Additional information:**
[Miscellaneous information that will ass

[2020-08-04 02:01] Hachimaki opened #256 "Replace the image of kubeclient with the official image from Tekton"
/kind feature
/area sdk
/area testing

Description:
Part of #230 - SDK TODO for new contributors

Per [_op_to_template#104](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_op_to_template.py#L104), the image of kubeclient referenced should be replaced with an official image from Tekton.  Check if a comparable image is available and swap the reference to the offici

[2020-08-04 02:08] aburns7 commented on #256
I am going to work on this.

[2020-08-04 02:11] Hachimaki opened #257 "Pull default values for _process_output_artifacts from the KFP configmap once integrated"
/kind feature
/area sdk
/area testing

Description:
Part of #230 - SDK TODO for new contributors

A few parameters in [_process_output_artifacts](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_op_to_template.py#L293) are being set from arguments passed into the function.  These should be pulled from the configmap once they are available for default values and th

[2020-08-04 02:17] Hachimaki opened #258 "Change tekton_api_version for sdk/python compiler once Conditions are out of v1apha1"
/kind feature
/area sdk
/area testing

Description:
Part of #230 - SDK TODO for new contributors

Currently the apiVersion referenced in [sdk/compiler _get_super_condition_template](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/compiler.py#L56) for Tekton is v1alpha1.  This should be updated once Conditions are available.

**Additional information:**
[Miscellane

[2020-08-04 03:38] #224 closed

[2020-08-04 16:06] drewbutlerbb4 commented on #241
Currently, artifacts are not contained in the status of a PipelineRun. In order for the UI to display information about artifacts certain fields must be available describing these artifacts.

The way it is formatted in the Argo version of KFP is that `workflow.status.nodes[x].outputs.artifacts` is a list of artifacts where each artifact has the following information:
[code]
The ideal solution woul

[2020-08-05 05:31] pritidesai commented on #242
The proposal is in `proposed` state and will be moved to `implementable` after adding more details if necessary (nothing outstanding at this time):
https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

The proposal is to allow a task to be executed if all of the specified `Guards` evaluate to `true`. `Guards` can be specified using `when` statements. Guards operate on par

[2020-08-05 05:33] pritidesai commented on #242
[Design](https://docs.google.com/document/d/1P8gse1TCxJEDnj9oonl-_l3T4n2uO15bqbon4lHWD1Q/edit) is WIP and expected to have a TEP proposal based on this design doc.

[2020-08-05 17:06] pritidesai commented on #242
https://docs.google.com/document/d/1p8zq_wkAcwr1l5BpNQDyNjgWngOtnEhCYEpcNKMHvG4/edit#heading=h.ynspny37nwt9

[2020-08-06 22:23] #256 closed

[2020-08-07 01:35] fenglixa commented on #161
/reopen
because still another solution is on the way.

[2020-08-07 23:55] Tomcli opened #264 "Wanted Tekton feature: Pipeline Checkpoint."
/kind feature

**Description:**
I was looking in my TODO list for the apiserver. One of them was pending on the Tekton feature to able to manually retry from a failure state. Therefore, we are looking for how can Tekton store the pipeline stages so that we can continue later when pipeline failed midway. TODO code: https://github.com/kubeflow/kfp-tekton/blob/master/backend/src/apiserver/resource/re

[2020-08-10 21:06] Tomcli opened #267 "Testing recursion feature from Argo."
We want to test the recursion feature from Argo in the context of KFP. The main thing we are looking for is:
1. Can KFP have recursion syntax for calling the `pipeline function` itself. If so, how is it represented in Argo syntax.
...

Below are the example for using recursion on a group of tasks:
https://github.com/kubeflow/pipelines/blob/master/samples/core/recursion/recursion.py

The concept is

[2020-08-10 23:08] Tomcli opened #268 "Test workflowscheduler in the context of Tekton"
We add Tekton support for workflowscheduler recently and we want someone to do a deeper test with `catchup`, `concurrency`, `start time`, and `end time` compared to Argo.

[2020-08-10 23:16] Tomcli opened #269 "Create dedicated configmap for kfp-tekton configuration"
/kind feature

**Description:**
In kfp-tekton, we introduced many custom KFP concepts that aren't available in the native tekton engine. (e.g. artifacts, loggings, etc). Currently many of these configurations are pulling/reusing from the Argo configmap so we can have the consistent behaviors. However, we should now create and maintain our own version of configmap unique to kfp-tekton so that we ca

[2020-08-11 00:00] Tomcli opened #270 "Update e2e-mnist example with configurable storageclass"
/kind bug

**What steps did you take and what happened:**
The [e2e-mnist](https://github.com/kubeflow/kfp-tekton/tree/master/samples/e2e-mnist) example was originally created to use the default storageclass so it won't tie to any cloud provider. However, since many IBM Cloud users are not familiar with ibm cloud file system and many of the original KFP examples are required with GCP, we should exp

[2020-08-11 00:05] Tomcli commented on #270
/assign

[2020-08-11 16:32] Tomcli opened #271 "Integrate logging options as part of kfp-tekton manifest and metadata_writer"
/kind feature

**Description:**
We will integrate the loggings solution at #265 into our kfp-tekton deployment. Also, update metadata_writer to add log artifacts when logging is enabled.

[2020-08-11 16:33] Tomcli commented on #271
/assign

[2020-08-11 19:03] Tomcli commented on #242
Thanks @pritidesai, the proposal looks great but all of those features are still letting the client decide which image they want to inject. We are more looking for a solution build on the server/controller side where the admin should dictate which image should be used for artifacts. We added few comments in the design docs and let's see how far we can go from there.

[2020-08-12 22:05] Tomcli opened #273 "Tekton bug: Tekton task results not striping EOF new lines"
/kind bug

**What steps did you take and what happened:**
When passing Tekton output parameter using the Tekton task results feature, End of file new lines are not strip. It causes problem to users who may not aware of this limitation.

TODO tasks:
1. [x] Reproduce this bug using kfp-tekton
2. [x] Create issue on Tekton Pipelines
3. [x] Add tips and workaround until the bug is fixed.

**What did y

[2020-08-12 22:09] Tomcli opened #274 "Tekton Bug: Tekton task results (file_outputs) pointing to non-existing path"
/kind bug

**What steps did you take and what happened:**
Tekton controller won't provision new pods if the path for Tekton task results does not exist.

TODO tasks:
1. [ ] Reproduce this bug using kfp-tekton
2. [ ] Create issue on Tekton Pipelines/Fix compiler
3. [ ] Add tips and workaround until the bug is fixed.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous inf

[2020-08-12 22:13] Tomcli commented on #268
/cc @hachimaki @aburns7 @moficodes

[2020-08-12 22:14] Tomcli commented on #268
/help-wanted

[2020-08-18 05:32] fenglixa opened #276 "Fluentd collect pipeline logs to S3 on IBM Cloud"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

It could be problem for the shared vm on ibm public cloud. Fyre usually has dedicated nodes for creating openshift so it might not have this problem.

On my fluentd agent, the pos_file works. However, it looks like fluentd aren't able to parse those files to s3 probably due to the simil

[2020-08-19 00:41] Tomcli opened #277 "Refactor kfp-tekton artifact implementation"
/kind feature

**Description:**
Items:
- [ ] Configurable annotations for injecting default credentials (#278)
- [ ] Expose artifact mount dependencies to annotation. Move client side logic to the server side and inject the necessary post-processing steps/

[2020-08-20 00:31] #270 closed

[2020-08-20 22:01] #161 closed

[2020-08-24 17:52] Tomcli opened #280 "[SDK] Throw errors when volumes or volumemount path does not exist."
/kind bug

**What steps did you take and what happened:**
https://github.com/kubeflow/kfp-tekton/pull/279 Help us found some bugs on the kfp-tekton where this pipeline is not suppose to work on kfp-1.0 due to deprecated volumes and volumemount definition in kale. However, our kfp-tekton didn't throw out errors and compiled pipeline with missing volumemount path which causes error during runtime. T

[2020-08-25 16:55] rafalbigaj commented on #273
@Tomcli it seems that there is an issue with `copy-artifacts` step. Please see the example of `PipelineRun` generated by `kfp-tekton` `TektonCompiler`:

[code]

It's a very basic pipeline that in the first step "find-project" outputs the pipeline param "project_name" and then in the second step it prints the passed value from the former.

Here are the logs from the steps:

test-params-abf5-find-pr

[2020-08-25 18:16] Tomcli commented on #273
Thanks @rafalbigaj.

@ckadner I think the bug is with the value `$(tasks.find-project.results.project)` which it captured as part of Tekton Task results. Let's create a simpler version of this pipeline and see is Tekton willing to strip the EOF newlines.

[2020-08-25 21:24] adrian555 opened #284 "remove KUBECONFIG dependency for test"
/kind bug

**What steps did you take and what happened:**
Login to an OpenShift cluster with token `oc login --token=xxx --server=https://xxx:6443`, no KUBECONFIG env is set nor required for accessing the cluster. Run `make test` will fail.

**What did you expect to happen:**
`make test` should succeed.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-08-25 23:00] #269 closed

[2020-08-25 23:26] #280 closed

[2020-08-26 00:21] animeshsingh commented on #273
cc @afrittoli @pritidesai

[2020-08-26 00:41] Tomcli commented on #273
here is a trimmed version of the tekton pipelinerun to reproduce this
[code]

[2020-08-26 11:34] rafalbigaj opened #286 ""copy-artifacts" step fails on log concatenation command"
/kind bug

**What steps did you take and what happened:**
Any pipeline compiled with flag `enable_s3_logs` enabled fails on the "copy-artifacts" step on:
[code]

"$TASKRUN*$NAMESPACE" is not a valid Pod name.

**What did you expect to happen:**
Container logs to be copied to archive in s3 backet.

**Additional information:**
Variable `$HOSTNAME` contains the correct Pod name.

**Environment:**

*

[2020-08-26 20:01] ckadner commented on #273
FYI: I tagged all the Python DSL test scripts we had to change in order to "`workaround #273`" in PR #174

[2020-08-27 17:37] ckadner commented on #284
The `KUBECONFIG` check was added as an early abort mechanism to report a concise usage error message as opposed to exposing the user to less clear error messages when the E2E tests are attempting to access the cluster via the `kubectl` or `tkn` CLI later on. Using the `KUBECONFIG` environment variable is concise way to pass the cluster context to downward `shell` or `python` processes, i.e. in run

[2020-08-27 17:50] ckadner opened #288 "make unit_test fails with module not found error (regression)"
/kind bug

**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

`Makefile` to ensure `pytest` exists or gets installed into the `make` process' `virtualenv`.

**Additional information:**

Regression introduced with #283

**Environment:**

* Python Version (use `python --version`): `2.7.5`
* SDK Version: `master`
* Tekton Version (use `tkn version`): n/a
* Kub

[2020-08-27 17:58] adrian555 commented on #284
@ckadner a couple of things:
* you don't need the KUBECONFIG to run `kubectl` in the python test code
* instead of running `kubectl` commands, how about `https://github.com/kubernetes-client/python`? (aka `pip install kubernetes` then
[code]

[2020-08-27 18:35] ckadner commented on #284
I use environment variables in order to run test configurations targeting various clusters where I do not have a logon shell to run `oc` commands prior to test execution. Same for containerized environments.

The Python client for is not as intuitive and straight-forward as the `kubectl` CLI both for the programming of things as simple as a `kubectl apply -f ..` and for the error messages returned

[2020-08-27 18:45] #288 closed

[2020-08-27 18:48] adrian555 commented on #284
cc @Tomcli since he asked to open this issue. As for how or whether to fix this, up to the team to discuss. Thanks.

[2020-08-27 20:14] Tomcli commented on #284
@ckadner i think the issue we have is the new ibm cloud CLI from 3 months ago moved away from KUBECONFIG and put all the k8s credentials under `$HOME/.kube/config`. And for minikube, fyre, and other cloud platform they are doing similar way.

[2020-08-27 20:15] Tomcli commented on #284
maybe we should based it on `kubectl config current-context` and see does they actually have access to a real k8s cluster.

[2020-08-27 20:42] ckadner commented on #284
I want to make sure the `make e2e_test` target as well as the `sdk/python/tests/compiler/compiler_tests_e2e.py` work from a shell environment as well as in IDE runtime configurations or in container based environments. Environment variables work in all of those environments. If we want to support both OpenShift and standard Kubernetes target clusters, we may need to add some additional code for th

[2020-08-27 20:52] Tomcli commented on #284
~/.kube/config can be point to an invalid endpoint. Can we run a simple checking with `kubectl config current-context` before assigning to KUBECONFIG?

[2020-08-27 21:10] ckadner commented on #284
I opened a PR #291 to remove the hard dependency on `KUBECONFIG` but I left it as an option with a warning to alert the user that the targeted cluster might not be the expected one.

[2020-08-28 00:31] Tomcli opened #292 "Upcoming release note"
Main features:
- KFP 1.0 (#251)
- Multi-user support (#259) (#275)
- PipelineRun workflow scheduler (#261)
- Pipeline termination (#233)
- Artifact visualization with KFP-Tekton  (#266)
- Log archival (#248) (#281)
- Auto Strip EOF newlines for Tekton results (parameter outputs) (#281)
- Admin configurable artifact, logging, and strip EOF settings (#281)
- Feasible with Tekton 0.15.0 API (#260) (#

[2020-08-29 00:11] #284 closed

[2020-08-29 06:59] fenglixa commented on #276
**Reason:**

Log format is not json format in some k8s cluster, e.g. Kubernetes v1.16.2:

Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.2", GitCommit:"a02f27a", GitTreeState:"clean", BuildDate:"2020-04-13T12:04:13Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}

[code]

Log format is json format in kubernetes v1.18.6:

Server Version: version.Info{Major:"1

[2020-09-01 00:15] #276 closed

[2020-09-03 21:27] Tomcli opened #297 "Verify Kubernetes log file format for all system type"
/kind question

Currently when we are archiving logs from Kubernetes, we map the log file using `$PODNAME*step-main*.log` (* is wildcard, and step-main is the main container name). There's one small concern we have where the pod name and container name can be duplicated in different namespace. Since in KFP, there are 3 different set of random string get produced for pipeline run pods, we are not s

[2020-09-04 16:57] rafalbigaj opened #298 "Server API to read run log"
/kind feature

**Description:**
Run log is currently retrieved directly from Pod or from artifact location in the BFF endpoint. There is no KFP server API that allows for that, no way to expose this capability in SDK/CLI. Additionally, from the KFP adaptation perspective it creates a need to duplicate code.

**Additional information:**
It is much natural to introduce the new KFP server API endpoin

[2020-09-08 23:56] Tomcli opened #300 "Update UI with the new archive log path"
/kind feature

**Description:**
Once https://github.com/kubeflow/kfp-tekton/pull/281 is merge, we need to update the UI to pull logs from archive based on the new implementation. (if UI log archival is enabled)

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-09-08 23:58] Tomcli opened #301 "Update end to end tests to also test API and client."
/kind feature

**Description:**
Currently, our end to end tests are only testing with pure tekton features. We need to extend our testing to also cover the api and the client.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-09-08 23:59] Tomcli commented on #301
https://github.com/kubeflow/kfp-tekton/tree/master/samples/kfp-user-guide#3-upload-pipelines-using-the-kfp-bash-command-line-tool
should be a good starting point to test pipelines using bash commands.

[2020-09-09 00:02] Tomcli commented on #200
Closing this, there's no hard dependency for Python 3.5 and we will be supporting the same python releases as KFP.

[2020-09-09 00:03] Tomcli commented on #200
/close

[2020-09-09 00:03] #200 closed

[2020-09-09 00:04] Tomcli commented on #199
Fixed as part of https://github.com/kubeflow/kfp-tekton/pull/259
/close

[2020-09-09 00:04] #199 closed

[2020-09-09 00:07] Tomcli commented on #230
done by @Hachimaki, thanks
/close

[2020-09-09 00:08] #230 closed

[2020-09-09 00:09] Tomcli commented on #121
/close
will wait for tekton loop support

[2020-09-09 00:10] #121 closed

[2020-09-09 00:12] Tomcli commented on #301
/assign @ckadner
Will provide example soon

[2020-09-09 19:14] Tomcli commented on #301
run pipeline
[code]
stdout
[code]

view pipeline (need to grep run id from previous)
[code]
stdout
[code]

@ckadner There not much support for the kfp cli, so if you think using Python SDK is easier then I will recommend that instead.

[2020-09-09 22:51] #271 closed

[2020-09-09 22:51] #277 closed

[2020-09-09 22:51] #286 closed

[2020-09-10 00:13] Tomcli commented on #292
/close

[2020-09-10 00:13] #292 closed

[2020-09-10 00:25] Tomcli commented on #297
/close

[2020-09-10 00:25] #297 closed

[2020-09-10 00:26] Tomcli commented on #273
Workaround for this is listed here https://github.com/kubeflow/kfp-tekton/blob/master/kfp-admin-guide.md#enable-auto-strip-for-end-of-file-newlines

[2020-09-10 00:38] Tomcli commented on #300
/assign @drewbutlerbb4
We need to figure out how to pass the correct values to this function https://github.com/kubeflow/kfp-tekton/blob/master/frontend/server/handlers/pod-logs.ts#L41

Our log artifacts by default are stored at `/artifacts/$workflowName/$taskName/main-log.tgz` inside `ml-pipeline` bucket

[2020-09-10 12:09] rafalbigaj commented on #273
Thanks @Tomcli!
We're going to verify it soon.

[2020-09-10 14:52] fenglixa commented on #181
Start working on this issue now

[2020-09-10 20:58] ckadner commented on #301
Thank you @Tomcli -- I will use the Python client (`kfp_tekton.TektonClient`) to submit the `PipelineRun`s and keep using the `tkn` CLI to get the run status and logs

[2020-09-10 21:05] Tomcli commented on #301
Just be aware the run id for kfp is different from the pipelinerun name, those mapping are only available under the mysql database just like argo.

[2020-09-10 21:10] ckadner commented on #301
I got it this way:

[code]

[2020-09-10 21:25] Tomcli commented on #301
Ah I see, you actually pull from the workflow manifest. Yes then this should be correct.

[2020-09-11 19:27] Tomcli opened #304 "update to tekton 0.16 for next release"
/kind feature

**Description:**
Tekton 0.16 introduced several features that can unblock some of our older issues
- more context variables such as pipeline uid (unblock https://github.com/kubeflow/kfp-tekton/issues/78)
- TaskSpec metadata, useful for distinguish task generated by kfp vs tfx
- variable substitution works on configmap and secrets
- WhenExpressions (new beta api for conditional)

Dep

[2020-09-11 19:30] Tomcli commented on #304
/assign

[2020-09-16 15:00] rafalbigaj opened #310 "Server API does not accept Tekton YAML with dependency specified by `after` on condition node"
/kind bug

**What steps did you take and what happened:**

The successfully compiled tekton YAML:
[train_and_validate_in_notebook_pipeline.py.tar.gz](https://github.com/kubeflow/kfp-tekton/files/5232905/train_and_validate_in_notebook_pipeline.py.tar.gz)

from source:
https://github.ibm.com/AILifecycle/ai-kubeflow-pipelines/blob/new-components/pipelines/train_and_validate_in_notebook_pipeline.py#L1

[2020-09-16 15:40] Tomcli commented on #310
Thanks @rafalbigaj, we will take a look and see can we do some workaround with the alpha conditional API. If not, we will prompt an error in the SDK for now and try to address it in the beta conditional API during the next major release.

[2020-09-16 15:56] Tomcli commented on #304
This will be targeted for the next major kfp-tekton release (0.4)

[2020-09-16 16:00] Tomcli commented on #310
FYI @ckadner @drewbutlerbb4
Since the alpha tekton condition is not a regular task (also it's an older api), it's not possible to refer it as a dependencies such as .after(conditions) or condition.results. So let's see is there any workaround we can do on the compiler side.

[2020-09-16 17:42] Tomcli opened #312 "Document big data passing"
/kind feature

Document for #309

**Description:**
Document big data passing for all the possible env variable. We can put the docs under https://github.com/kubeflow/kfp-tekton/tree/master/sdk

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-09-16 17:50] Tomcli commented on #257
done in #281
/close

[2020-09-16 17:50] #257 closed

[2020-09-16 21:13] #181 closed

[2020-09-16 21:19] Tomcli commented on #254
/close
done by #309

[2020-09-16 21:19] #254 closed

[2020-09-16 21:19] Tomcli commented on #225
done
/close

[2020-09-16 21:19] #225 closed

[2020-09-16 21:24] Tomcli commented on #198
/close

[2020-09-16 21:24] #198 closed

[2020-09-16 21:25] Tomcli commented on #118
/close

[2020-09-16 21:25] #118 closed

[2020-09-17 15:38] #298 closed

[2020-09-17 17:58] #300 closed

[2020-09-18 20:19] Tomcli commented on #304
As I try to update to Tekton 0.16 along with the tekton go client, I discovered we might lose few backward compatibility on tekton 0.14.3 since there are some taskspec changes.

So I suggest we should create a new branch for the tekton 0.16 work first. Once Openshift pipeline supports tekton 0.16 on Openshift, then we can merge the new Tekton 0.16 changes such as the client, deployment, beta condi

[2020-09-25 13:27] Udiknedormin opened #315 "Keyword-only arguments in pipeline function signature break the compilation"
/kind bug

**What steps did you take and what happened:**
Pass a pipeline function that has keyword-only arguments, e.g. `def pipeline(*, keyword_only_argument: str)`.

Compiler rises:
[code]

**What did you expect to happen:**
Pipeline working just fine, just like for non-keyword-only arguments, e.g. `def pipeline(casual_argument: str)`.

**Additional information:**
Origins in `compiler.py` due t

[2020-09-25 19:09] ckadner commented on #315
So the `FullArgSpec` does contain the `kwonlyargs`, which we could make use of here.

[code]

But is that really a useful thing to do? Why would you define a `dsl.Pipeline` function with `varargs` (`*`) followed by `kwonlyargs`? Should your pipeline function not have to know about the arguments by name in order to do something useful with them?

[2020-09-25 19:16] ckadner commented on #315
I see Kubeflow changed this code 4 month ago: https://github.com/kubeflow/pipelines/commit/374b3b0

I will create a PR to make that change for the `kfp_tekton` compiler as well

[2020-09-25 19:38] ckadner commented on #315
Fails as well with `kfp.Compiler`:

[code]
[code]

So, I go back to my first comment :-)

[2020-09-29 06:32] stobias123 opened #319 "MNIST e2e fails. Denied by Tekton admission controller."
/kind bug

**What steps did you take and what happened:**
On a fresh install, trying to run through the samples to see pipeline behavior.

**Environment:**
OKD 4.5 cluster (K8s 1.19).
Installed tekton v0.14 via operator.

Running `kfp-tekton/samples/e2e-mnist/mnist.ipynb` to test functionality.

On the step where pipeline is submitted I get the below error.
[code]

**What did you expect to happen:

[2020-09-29 20:40] Tomcli commented on #319
Related issue: https://github.com/tektoncd/pipeline/issues/2830
@stobias123 you need to uninstall the OKD 4.5 openshift pipeline then install kubeflow.

[2020-09-30 05:36] stobias123 commented on #319
@Tomcli  - After further inspection..  I have not installed openshift pipelines, nor tekton via the operator. I've updated the image as such.

Inspecting my kfdef shows that I'm deploying the below as my tekton deployment...

https://github.com/adrian555/manifests/blob/update-manifests-repo-link/tektoncd/tektoncd-install/base/deployment.yaml

[2020-09-30 22:49] Tomcli commented on #319
@stobias123 Correct me if I'm wrong. Isn't OKD 4.5 cluster comes with openshift pipelines operator by default?

Also, did you use the option 1 in this deployment doc?
https://github.com/IBM/KubeflowDojo/tree/master/OpenShift/manifests#1-leverage-openshift-pipelines

[2020-09-30 22:55] Tomcli commented on #319
You can run `oc get pod -n openshift-operators` and see is the openshift pipelines operator deployed on your machine.

[2020-09-30 23:30] stobias123 commented on #319
@Tomcli  - Re: OKD pipelines. No it's not pre-installed. And I literally mean OKD, not OCP, so I dont even get access to RH supported operators.

[2020-10-01 00:11] Tomcli commented on #319
@stobias123 sorry I mistaken the OKD abbreviation. The error above usually happens when someone try to overwrite an existing Tekton CRDs. Just to verify, is this error also show up with the flip-coin example from the default kfp-tekton deployment?

[2020-10-01 00:15] Tomcli commented on #319
Also just to check with the python kernel inside the jupyter notebook. can you run this python code in the jupyter notebook to see the pipelinerun spec?
[code]

[2020-10-01 05:39] stobias123 commented on #319
I destroyed custer and re-created... things look ok - flip-coin pipeline worked. I appreciate the quick responses, but I'll close, this was installation issues due to user error 🤷

I'll leave the below comments in case someone comes across in the future.

1. I was wrong in above comments about my install method.
2. It's very unclear what's actually in the min install, I can't even get notebooks or

[2020-10-01 05:39] #319 closed

[2020-10-01 20:39] #312 closed

[2020-10-06 22:03] Tomcli opened #324 "Add example for watson openscale"
/kind feature

**Description:**
Update the watson openscale example to use the new analytics-engine service to replace spark.
https://github.com/kubeflow/pipelines/tree/master/samples/contrib/ibm-samples/openscale

https://cloud.ibm.com/catalog/services/analytics-engine
https://cloud.ibm.com/catalog/services/watson-openscale
https://cloud.ibm.com/catalog/services/machine-learning

**Additional inf

[2020-10-06 22:04] Tomcli commented on #324
/assign @fenglixa

[2020-10-08 14:14] Udiknedormin opened #325 "ConditionRef is generated, but the referenced condition is not"
/kind bug

**What steps did you take and what happened:**

[code]
Results in Tekton yaml:
[code]
Tekton-pipeline-controller fails with:
[code]

**What did you expect to happen:**
Condition with name `super-condition` should be defined.

**Environment:**

* SDK Version: 0.3.0

[2020-10-08 16:19] Tomcli commented on #325
The super-condition is no longer produced in our SDK, it's deployed as part of the single and multi-user of KFP-Tekton.

Single user deployment: https://github.com/IBM/manifests/blob/master/pipeline/installs/tekton/kfp-tekton/catalog-condition.yaml

Multi-user deployment: https://github.com/IBM/manifests/blob/master/pipeline/installs/tekton-multi-user/sync.py#L250-L281

[2020-10-08 16:24] Udiknedormin commented on #325
@Tomcli Yes, I've just come to that in the meantime and was about to close the issue. Thank you.

[2020-10-08 16:24] #325 closed

[2020-10-08 16:37] Tomcli opened #326 "TODO list for next release"
/kind feature

**Description:**
- [ ] enhance deployment method
- [ ] enhance the test suite
- [ ] generate an updated report for the supported dsl features
- [ ] get the openscale pipeline fixed
- [ ] Investigate KFP 1.1 rebasing.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-09 00:17] Tomcli opened #327 "Update UI to support Tekton whenexpression spec for conditional task"
/kind feature

**Description:**
We migrated the implementation for condition to use Tekton WhenExpression. There's some changes to the Tekton spec and the new implementation is more align with Argo where each condition is also treated as a "node".

Source code is ready in this PR: https://github.com/kubeflow/kfp-tekton/pull/321

**Additional information:**
[Miscellaneous information that will assi

[2020-10-09 00:18] Tomcli commented on #327
/assign @drewbutlerbb4

[2020-10-09 05:13] fenglixa commented on #324
OK, let me handle it.

[2020-10-13 22:05] Tomcli opened #331 "Migrate to kfp 1.0.3 for some major bug fixes on the cache deployer"
/kind feature

**Description:**
We need to migrate our kfp base code to 1.0.3 for some major blockers in the cache deployer code.
https://github.com/kubeflow/pipelines/releases/tag/1.0.3

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-14 20:56] ckadner commented on #331
/assign

[2020-10-14 21:31] Tomcli opened #332 "Sanitizing Kubernetes resources into strings"
/kind feature

**Description:**
Some Kubernetes resources such as `V1EnvVar` for container environment variables only accept string, so we need to let the SDK to sanitize these variables into proper strings before dumping it to Tekton YAML.

The Kubernetes API docs defines what types are supported under the pod spec.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/

/good-first

[2020-10-14 21:32] Tomcli commented on #332
/area sdk

[2020-10-16 12:18] rafalbigaj opened #333 "Artifacts copy step template"
/kind feature

**Description:**
Custom artifacts copy step requires access to specific secrets and env variables. It would be extremely useful to be able to provide a container template for this step in configuration.

**Additional information:**
The new configuration option `ARTIFACT_COPY_STEP_TEMPLATE` should allow to specify a artifacts copy step template, e.g.:
[code]

[2020-10-16 12:28] rafalbigaj opened #334 "MetricsReporter fails on `nil` nodeStatus.Status"
/kind bug

**What steps did you take and what happened:**
In some failure scenarios the `Status` in `PipelineRunTaskRunStatus` can be `nil`. `collectNodeMetricsOrNil` is unsafe and crashes.

**What did you expect to happen:**
This corner case should be ignored.

**Additional information:**
N/A

**Environment:**

* Python Version (use `python --version`):
* SDK Version:
* Tekton Version (use `tkn v

[2020-10-20 16:15] Tomcli commented on #332
Here is an example where it could fail when running
[code]

[2020-10-20 16:16] Tomcli commented on #332
and we need to update the compiler to convert `V1EnvVar` values into string

[2020-10-20 18:28] #334 closed

[2020-10-21 00:24] jizg commented on #332
I'd like to have a try. I will firstly to setup the development environment and reproduce this problem.

[2020-10-21 00:31] Tomcli commented on #332
thanks @jizg, here is the sdk setup https://github.com/kubeflow/kfp-tekton/tree/master/sdk

[2020-10-22 06:12] jizg opened #339 "Pipeline compiled by python SDK 0.3.0 installed by pip failed when running"
/kind bug

**What steps did you take and what happened:**

I created a pipeline to test passing file artifacts between tasks. When the pipeline is compiled by SDK installed from pip, the execution failed. But if I install SDK compiled from the lastest master branch, it worked without problem.

**What did you expect to happen:**

pip installed SDK should work without  problem.

**Additional informa

[2020-10-22 11:10] jizg commented on #332
@Tomcli I did some investigation in KF pipeline and kfp-tekton codes. I found this `import` definition in pipeline dsl SDK. Are these resources the kubernetes resources that you think we should sanitize?

https://github.com/kubeflow/pipelines/blob/2676b56151ba57f17fd43c5e0734297632724785/sdk/python/kfp/dsl/_container_op.py#L20-L24

[code]
And I also checked the kubernetes specification of [V1Conta

[2020-10-22 15:26] jizg opened #340 "Wrong input artifacts path in yaml compiled by python SDK"
/kind bug

**What steps did you take and what happened:**

Input artifacts path is wrong when input artifacts are from 2 different parent tasks.

**What did you expect to happen:**

Input artifacts path should be in correct format, and be accessible.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

`get-subdirectory` is the common parent task for `li

[2020-10-22 15:37] jizg commented on #340
/area sdk

[2020-10-22 15:39] Udiknedormin opened #341 "dsl.Conditional not sanitising its PipelineParams"
/kind bug

**What steps did you take and what happened:**
If `dsl.Condition` uses outputs the names of which aren't already-sanitized, they aren't sanitised in the Tekton yaml either.

`coin.py` example with "output" replaced for "output_value" (sanitised as: "output-value"):
[code]

Resulting Tekton yaml:
[code]

Note: for the same task, `print-2`, it's:
* in condition: `value: $(tasks.generate-r

[2020-10-22 16:32] Tomcli commented on #341
Thanks @Udiknedormin. `_data_passing_rewriter.py` is trying to do too many things at once so sometimes we missed these edge cases. I think we should sanitize the variables at the very beginning of the compilation and raise errors on any underscore Tekton variable. (similar to how KFP Argo is doing in 1.0 for the Argo variables).

What do you think? @ckadner @fenglixa

[2020-10-22 16:43] Tomcli commented on #332
Thanks @jizg, yes that's correct. Right now our compiler doesn't sanitize these string/int types so there will be errors when running these pipelines. It will be great if you can sanitize these variables (like you pointed out containerPort should be int32). If any of these variables cannot be sanitized, prompt an error to the users telling that they need to input the correct type.

[2020-10-22 18:16] Tomcli commented on #340
@fenglixa it looks like the big data passing only handles one dependency but not multiples. Maybe these's some bug in one of the for loop?

[2020-10-22 18:19] Tomcli commented on #339
yes there's a bug with the big data passing, I fixed few weeks ago and it will in our 0.4 release.

[2020-10-22 18:47] Tomcli opened #342 "Move name sanitization out of the big data passing."
/kind feature

**Description:**
The big data passing is not able to go over all the variables in the Tekton template, so we should sanitize all the variables at the beginning of the compiler instead of depending on the big data passing.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-22 18:50] Tomcli opened #343 "Make name sanitization to match with KFP, also handles same identifiers after sanitization"
/kind feature

**Description:**
Right now the tekton sanitization function is not the same as KFP, we need to align with them as close as possible.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/_k8s_helper.py#L20

Also, we need to handle when two identifiers are the same after sanitization.

**Additional information:**
[Miscellaneous information that will assist in solv

[2020-10-22 18:51] Tomcli commented on #342
/area sdk

[2020-10-23 00:23] jizg commented on #332
@Tomcli Thanks for your reply. The feature requirement is clear for me now. I think I can work on this.
And I also found you raised the following issue, doese it make sense to create a common sanitization class or module to handle them together?

https://github.com/kubeflow/kfp-tekton/issues/342

[2020-10-23 00:35] Tomcli commented on #332
Yes. For your initial PR, you can put your helper functions/modules under this file.
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/_k8s_helper.py

For #342, I want to offload some functions from big data passing since it's growing too big, and hence you are seeing some issues popping up for artifact passing. You can address this in a follow-up PR if you're inter

[2020-10-26 20:52] #341 closed

[2020-10-26 22:36] #331 closed

[2020-10-28 07:42] fenglixa commented on #340
/assign

[2020-10-28 07:48] fenglixa commented on #340
This is a bug of big data passing, as Tommy mentioned, will fix it.

[2020-10-29 10:44] fenglixa commented on #264
Useful feature.

[2020-10-29 22:42] Tomcli opened #348 "Document ARTIFACT_COPY_STEP_TEMPLATE usage"
/kind feature

**Description:**
We need to document how to use `ARTIFACT_COPY_STEP_TEMPLATE` from #336 at https://github.com/kubeflow/kfp-tekton/blob/master/kfp-admin-guide.md#customize-artifact-image-to-do-your-own-post-processing

@rafalbigaj

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-10-29 22:52] #333 closed

[2020-11-02 07:09] fenglixa commented on #264
We already have `retry` feature in sdk complier of kfp-tekton, but it's not enough to meet the checkpoint & restart logic, which will enable user to modify something if the special task failed, and let the pipeline goes continue.

[2020-11-02 11:49] jfigura opened #352 "Disabling pipeline timeout doesn't work"
/kind bug

**What steps did you take and what happened:**
Disabling pipeline timeout should be possible by setting the timeout to 0. However, setting the timeout to 0 currently doesn't create the timeout field in Tekton YAML and therefore the default (60m) is used.

**What did you expect to happen:**
`dsl.get_pipeline_conf().set_timeout(0)` should be supported so that the generated Tekton YAML exp

[2020-11-02 22:08] #332 closed

[2020-11-03 08:55] fenglixa opened #353 "define script that you want to run for evaluating condition."
/kind feature

**Description:**

[A clear and concise description of what your proposal. What problem does it solve?]
to support the case of the condition with evaluating script, which already supported by Tekton:
https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/conditional-pipelinerun.yaml#L13-L15

Example as below:
[code]

[2020-11-03 08:59] fenglixa commented on #352
Thanks for your report, we can disable timeout if set timeout as zero, but it's better compare with kubeflow pipeline to keep the behavior consistant.

[2020-11-03 09:00] fenglixa commented on #352
/help-wanted

[2020-11-03 09:05] fenglixa commented on #352
/help

[2020-11-03 18:44] jfigura commented on #352
@fenglixa in Argo Kubeflow pipelines, there's no timeout by default. Using `dsl.get_pipeline_conf().set_timeout(0)` produces the exact same YAML as default, i.e. no timeout. Using a positive number, e.g. `dsl.get_pipeline_conf().set_timeout(1)` sets `activeDeadlineSeconds` to the given value. So setting timeout to 0 in tekton in case of `set_timeout(0)` would be consistent. It's also claimed by ht

[2020-11-04 01:02] Tomcli commented on #352
In Kubeflow pipeline DSL, the default timeout value is 0, so setting the timeout to 0 doesn't change the default value when passed to our compiler. I can make everything is not timeout by default to align with Argo's behavior.

[2020-11-04 14:44] fenglixa commented on #82
Limitations of loop tasks in Tekton: https://github.com/tektoncd/experimental/tree/master/task-loops#limitations
And another gap here: pipelinerun loop, we may need to find a solution here.
@animeshsingh @Tomcli any idea?

[2020-11-04 21:18] #352 closed

[2020-11-10 20:53] ckadner opened #362 "Upload version 0.4.0 of the SDK to PyPI"
Preview release on `test.PyPI.org`:
https://test.pypi.org/project/kfp-tekton/0.4.0rc1/

Related: #339

/cc @Tomcli @animeshsingh

/assign

[2020-11-10 20:55] ckadner commented on #362
Waiting on PR #361 to be reviewed before pushing the real PyPI release

[2020-11-10 21:24] ckadner commented on #362
/cc @animeshsingh

[2020-11-11 01:00] ckadner commented on #362
https://test.pypi.org/project/kfp-tekton/0.4.0rc2/

[2020-11-11 01:04] Tomcli commented on #362
thanks @ckadner, it looks good to me.

[2020-11-11 01:05] ckadner commented on #362
The new release `0.4.0` is now on PyPI! 🎉

https://pypi.org/project/kfp-tekton/0.4.0/

@animeshsingh @Tomcli

[2020-11-11 01:05] #362 closed

[2020-11-11 01:09] #340 closed

[2020-11-13 05:50] fenglixa opened #364 "Yaml file cannot show with Safari browser"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Yaml file cannot show with Safari browser, as below picture.
![image](https://user-images.githubusercontent.com/12505594/99033966-18c8fc80-25b7-11eb-94e9-127ed3bbd05f.png)

It's OK with my Chrome browser.

**What did you expect to happen:**
Show yaml file correctly

**Additional informat

[2020-11-13 05:53] fenglixa commented on #364
/area/frontend

[2020-11-13 05:55] fenglixa commented on #364
area/front-end

[2020-11-13 05:57] fenglixa commented on #364
/area frontend

[2020-11-13 05:58] fenglixa commented on #364
@Tomcli could you please take look?

[2020-11-13 19:33] #304 closed

[2020-11-13 19:35] #327 closed

[2020-11-14 11:46] fenglixa commented on #364
Not urgent, since it's not a block issue. Thanks @Tomcli

[2020-11-17 09:26] fenglixa opened #366 "Email notification support"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Tekton community already has sendmail catalog: https://github.com/tektoncd/catalog/tree/master/task/sendmail, kfp-tekton community can enhance dsl to support it accordingly.

### Details of the the notification requirement:

User can specify a parameter whose value you indicate at r

[2020-11-17 09:29] fenglixa commented on #264
A solution to use kfp/cache feature in API Server to meet the checkpoint/restart requirements:
https://www.kubeflow.org/docs/pipelines/caching/

"Kubeflow Pipelines caching provides step-level output caching. And caching is enabled by default for all pipelines submitted through the KFP backend and UI. The exception is pipelines authored using TFX SDK which has its own caching mechanism. The cache

[2020-11-18 00:08] fenglixa commented on #366
Potaintail Solution/Finds:

1. catalog: https://github.com/tektoncd/catalog/tree/master/task/sendmail, kfp-tekton community can enhance dsl to support it accordingly.

2. https://github.com/kubeflow/pipelines/issues/3516

3. looks like it was being implemented upstream by using CloudEvents https://github.com/tektoncd/pipeline/issues/2082

[2020-11-18 00:11] Tomcli commented on #366
We can make the sendmail catalog task as an kubeflow component.yaml. This way it can be used as exit handler or as a regular containerOp.

[2020-11-19 00:45] Tomcli commented on #310
This feature is supported in the master branch now.

[2020-11-19 00:45] Tomcli commented on #310
/close

[2020-11-19 00:45] #310 closed

[2020-11-19 02:52] Tomcli commented on #366
@fenglixa can you give me an example for this? Can this run at the end of the pipeline or any time when a task is finished?

[2020-11-19 05:37] fenglixa commented on #366
Sure, the notification could be an task inside of the pipeline, as below a typical example:

![image](https://user-images.githubusercontent.com/12505594/99626031-5375dd80-2a6c-11eb-99ac-1c0ad4f5f119.png)

I get the information that CPD platform already has notification API, so this feature should be not tricky to us currently.

[2020-11-20 01:10] ssiegel95 opened #367 "Seldon installation failed on IKS"
/kind bug

**What steps did you take and what happened:**
I meticulously followed the steps outlined [here](https://github.com/kubeflow/kfp-tekton/blob/master/guides/kfp_tekton_install.md) to installed kubeflow on IKS. Things were going fine until the file step `kfctl apply -V -f ${CONFIG_URI}` when I encountered the following error:

`kfctl exited with error: failed to apply:  (kubeflow.error): C

[2020-11-20 01:15] ssiegel95 commented on #367
Probably related to https://github.com/SeldonIO/seldon-core/issues/1675

I think perhaps I should back out and create a 1.16 cluster instead? I've gotten Kubeflow 1.0 successfully installed on a different IKS 1.18 cluster, BTW, so perhaps this is a bit of regression.

[2020-11-20 03:50] ssiegel95 commented on #367
Confirmed that everything works fine on IKS v1.16.15.

[2020-11-20 03:50] ssiegel95 commented on #367
Closing as this is probably not something you guys have control over.

[2020-11-20 03:50] #367 closed

[2020-11-20 22:51] ckadner opened #368 "set_display_name is not respected for pipeline tasks"
/kind bug

**What steps did you take and what happened:**
Setting a task display name works for the `kfp` compiler, but the `kfp-tekton` compiler still ignores the `display_name` property.

**What did you expect to happen:**
The `kfp-tekton` compiler should respect the custom task names

**Additional information:**
KFP feature commit: https://github.com/kubeflow/pipelines/commit/db0af86

[2020-11-20 22:51] ckadner commented on #368
@Tomcli

[2020-11-23 06:02] fenglixa commented on #342
@Tomcli , are you working on this issue?

[2020-11-23 17:13] Tomcli commented on #342
@fenglixa not right now, you can pick this up if you want. The idea here is to sanitize all the variables in the DSL before passing it to `_op_to_template` and big data passing.

[2020-11-25 02:24] fenglixa opened #371 "Click "Report an Issue" in kfp-tekton UI link to pipeline, should be kfp-tekton"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Click :Report an Issue" in kfp-tekton UI will link to pipeline as below
![image](https://user-images.githubusercontent.com/12505594/100174815-26ac4500-2f08-11eb-973c-350274709ad6.png)

**What did you expect to happen:**
 It should link to kfp-tekton

**Additional information:**
[Miscell

[2020-11-28 04:48] fenglixa opened #372 "UI of when condition"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

This is the UI behavior of when condition, there is one issue here:
Condition2 is not skipped, the skipped one should be flip-again and print-1, could we list flip-again there and mark it is skipped?

![image](https://user-images.githubusercontent.com/12505594/100493844-40eb5a80-31

[2020-11-28 04:49] fenglixa commented on #372
/cc @Tomcli @drewbutlerbb4

[2020-12-01 16:58] #364 closed

[2020-12-01 17:50] drewbutlerbb4 opened #375 "Fresh standalone install causes "error no matches for kind Application""
/kind bug

**What steps did you take and what happened:**
Fresh install of tekton pipelines and then standalone kfp-tekton
```kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.16.3/release.yaml```
```kubectl apply -f install/v0.4.0/kfp-tekton.yaml```

Results (during kfp-tekton install):
[code]

This is fixed by running the kfp-tekton install again.
It seems to b

[2020-12-01 19:42] #372 closed

[2020-12-01 23:53] Tomcli commented on #375
The crd should be created at the beginning of the kfp-tekton.yaml. Can you make sure the kubectl version matches with the k8s server version, then delete and rerun the `kubectl apply` command?

[2020-12-02 09:54] fenglixa opened #376 "UI display error if custom task defined in tekton task"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
![image](https://user-images.githubusercontent.com/12505594/100857242-6efad280-34c7-11eb-814a-d93d351dea60.png)

**What did you expect to happen:**
display normally

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python

[2020-12-02 12:23] fenglixa commented on #375
encounter this issue today:
[code]
kubectl version is matched:
[code]

workaround by apply again

[2020-12-02 16:28] #376 closed

[2020-12-02 17:40] Tomcli commented on #375
OK, it looks like there's some race condition since the crd takes few second to register to the k8s api. We can follow the Knative approach to deploy the crd first, then deploy the cr few seconds after.

[2020-12-02 22:21] #371 closed

[2020-12-02 23:37] #375 closed

[2020-12-03 01:52] Tomcli opened #382 "Things to consider for the KFP IR design"
/kind question

**Question:**
Tekton and Argo go clients use different go dependencies. As we are still seeking new features from Tekton, we would like to use the latest Tekton client if possible which uses very new version of client-go library. As the result, we cannot put the Tekton and Argo into a single microservice/package because they always have version conflicts with all the k8s related pa

[2020-12-03 01:58] Tomcli commented on #382
![Uploading Screen Shot 2020-12-02 at 5.58.14 PM.png…]()

[2020-12-03 01:58] Tomcli commented on #382
<img width="994" alt="Screen Shot 2020-11-24 at 5 59 00 PM" src="https://user-images.githubusercontent.com/10889249/100953733-ffd1ae00-34c7-11eb-8eb9-3ab966c3b0f2.png">

[2020-12-03 01:59] Tomcli commented on #382
<img width="1163" alt="Screen Shot 2020-12-02 at 5 59 24 PM" src="https://user-images.githubusercontent.com/10889249/100953783-1e37a980-34c8-11eb-935c-d9e45dc3d72b.png">

[2020-12-04 20:25] #368 closed

[2020-12-07 05:39] fenglixa commented on #353
/close
since condition is dropped, to use when expression instead

[2020-12-07 05:39] #353 closed

[2020-12-08 20:49] tonanhngo commented on #382
It seems natural to deploy the Tekton or Argo backend compiler in separate microservices.  Is there a scenario where it would be advantageous to package them together?

[2020-12-08 22:47] Tomcli commented on #382
Putting argo and tekton go client in the kfp backend microservice can reduce the HTTP/GRPC overheads for deploying/getting the pipeline engine CRDs. The trade off is all the packages have to use the same client-go version. In this case it's blocking us because these packages are hosted between 3 different communities.

[2020-12-08 23:01] Tomcli opened #388 "Update/remove all the Argo related test and mock clients"
/kind feature

**Description:**
related #382
Since Argo and Tekton are having major conflicts with the client-go in the next release, we need to completely remove all the Argo related stuff before upgrading the Tekton to the 0.18+ version.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2020-12-08 23:04] Tomcli commented on #388
backend tests:
[ ] apiserver (hard)
[ ] persistent agent (medium)
[ ] cache deployer (medium)
[ ] workflowscheduler (medium)
[ ] others (viewer, etc) (unknown)

[2020-12-09 19:17] Udiknedormin opened #389 "Bug: strings "y" and "n" are yaml-dumped as bools"
/kind bug

**What steps did you take and what happened:**
1. Create any pipeline which contains the literal "y" as one of the elements of "command" (e.g. `command: ["sh", "-c", "echo", "y"]`)
2. Compile pipeline.
3. Try to unmarshal the Tekton yaml as a Pipeline Run using a library other than PyYAML, e.g. Go's [ghodss/yaml](https://github.com/ghodss/yaml).

The above steps lead to getting an unmar

[2020-12-10 19:40] #389 closed

[2020-12-23 12:55] Udiknedormin opened #397 "Nested conditions are wrongly getting unnested"
/kind bug

**What steps did you take and what happened:**
A modified flip coin example in three variants to compare the results:

[code]
[code]
[code]

For Argo target, it looks as expected:
[code]

For Tekton backend, though, the following is happening:
[code]

**What did you expect to happen:**

condition1.py looks fine to me

condition2.py looks like condition-1 is simply ignored instead of mak

[2020-12-31 06:49] vincent-pli opened #398 "Introduce TTL for Pipelinerun prune"
/kind feature

**Description:**
Seems we do not consider `pipelinerun` clean up, I guess the feature is necessary for produce level.
I saw there is `kfp.dsl.PipelineConf.set_ttl_seconds_after_finished` but it's for Argo, it's based on Argo's `ttlStrategy` and `tekton` has no such feature.

So I think we could introduce new label, maybe `tekton.dev/ttl` and set the label to `pipelinerun` in `compil

[2021-01-04 17:12] Tomcli commented on #397
Thanks @Udiknedormin, I just came back from the holidays. I will try to address it in our SDK.

[2021-01-04 17:40] Tomcli commented on #398
KFP already has a simple TTL that removes the pipelineruns that are more than 1 day old. You can change this default value in the manifests at https://github.com/kubeflow/kfp-tekton/blob/master/manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml#L22-L23

Here is the current TTL implementation we used in kfp https://github.com/kubeflow/kfp-tekton/blob/master/backend/src/a

[2021-01-04 20:29] Tomcli commented on #397
Since Tekton doesn't provide a way to create nested component (like Argo DAG or sub-pipeline), I updated it to check all the chained conditions together to simulate the nested condition edge cases above. Since the condition only need to compute once so it doesn't impact the performance.

Ideally it should be done in a "nested pipeline/graph" like Argo, but we had some push back on the nested pipel

[2021-01-04 20:32] Tomcli commented on #397
The new fixes should update the above examples as:
[code]

[2021-01-04 23:29] #397 closed

[2021-01-05 00:23] vincent-pli commented on #398
Thanks @Tomcli
but seems it's for workflow persistence(correct me), not for `pipelinerun`(workflow) clean up.

[2021-01-05 00:28] Tomcli commented on #398
workflow is what kubeflow call their pipelines (the name comes from Argo), but we have updated the client to delete the pipelinerun instead.

The persistent agent will add the TTL period. Once it's expired, the agent will make sure the data is persisted and remove the pipelinerun crd.

[2021-01-05 00:28] Tomcli commented on #398
you can try to change the TTL to 1 minutes and verify at your end.

[2021-01-05 00:52] vincent-pli commented on #398
Great, I saw the code:
https://github.com/kubeflow/kfp-tekton/blob/dc6014ded8fab2f0628c7791887e339aa5369518/backend/src/apiserver/resource/resource_manager.go#L804

[2021-01-05 00:52] #398 closed

[2021-01-05 05:18] fenglixa opened #402 "Upgrade API server to use Tekton version >= 0.19"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Since Tekton version v0.19.0 released, it contains the features (e.g custom task) we may need to use. But seems it was blocked by the issue of:
https://github.com/argoproj/argo/issues/4425

And the PR provided:
https://github.com/argoproj/argo/pull/4810

After that, we can upgrade k

[2021-01-05 09:45] Udiknedormin commented on #397
@Tomcli Hmm. I can only see one problem with that solution, it is visible in the third example.

Your solution:

[code]

I.e. even if the condition-1 is false, condition-2 is still evaluated (and therefore is created a task). No short-circuiting, basically. It may also affect the control flow graphs in the UI.

Is there any technical issue with making one condition depend on another (i.e. adding a

[2021-01-05 20:13] Tomcli commented on #402
We are trying to remove all the Argo mock api/tests so it doesn't have to depend on the Argo version. Another task for Tekton 0.19 is to update all the k8s function calls to `go-client 0.18.x`. For example,
https://github.com/tektoncd/pipeline/pull/3319/files#diff-3b3ca39720cb7f55cf1c1529cee802b2f712fcbec78de47484eb3fc5f1d0eed5R34

[2021-01-06 00:35] evan-hataishi opened #405 "Investigate travis docker build"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
My changes in PR https://github.com/kubeflow/kfp-tekton/pull/403 did not execute a docker build in the "Verify api-server, persistenceagent, metadata-writer, and scheduledworkflow docker build" test.

**What did you expect to happen:**
Files were changed under src, so this should have tr

[2021-01-06 00:37] evan-hataishi commented on #405
/assign evan-hataishi

[2021-01-06 01:08] Tomcli commented on #397
So we agreed with your approach to make the condition depend on its parent since all conditions are evaluated in a regular Tekton task after we moved to whenExpression. Here is the new condition3 example
[code]

[2021-01-06 02:03] Udiknedormin commented on #397
Great, that is exactly how I imagined it to be working, seems to cover all of the use-cases. Thank you!

[2021-01-06 22:11] #405 closed

[2021-01-06 22:13] Tomcli commented on #339
/close

[2021-01-06 22:13] #339 closed

[2021-01-07 19:37] Tomcli opened #409 "clarify the anySequencer failure case"
@jinchihe @fenglixa I'm not sure how anySequencer suppose to behave in datastage for the failure scenario, but currently the `anySequencer` container will keep running until it sees a succeeded task or sees no events for 10 minutes. Should we add some way to fail fast if all the tasks are failed?

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/issues/408#issuecomment-75633

[2021-01-07 23:18] Tomcli opened #410 "migrate to kfp 1.3.0"
/kind feature

**Description:**
https://github.com/kubeflow/pipelines/releases/tag/1.3.0

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-07 23:20] Tomcli commented on #410
/assign @ckadner
let me know if you need any help from me.

[2021-01-08 00:06] Tomcli opened #411 "update Katib examples to use v1beta1 api"
/kind feature

**Description:**
Katib introduced the new v1beta1 api component and merged in mid December. We need to upgrade our katib examples if we want to use the latest API from katib (need kubeflow 1.2+)

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-08 02:10] fenglixa commented on #409
Thank you @Tomcli, for your report this.  Personally, I think this is an issue in `any sequencer` need to be addressed. @jinchihe, how do you think?

[2021-01-08 02:27] jinchihe commented on #409
Seems that's a bug, I will take a look. Good catch! Thanks @Tomcli

/assign

[2021-01-11 05:18] fenglixa opened #413 "DSL enhancement to support loops feature for kfp-tekton"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
The PR of pipeline loop I already provided by #412
Log this issue to trace the DSL enhancement of supporting loops feature for kfp-tekton, includes both static and dynamic loop.
The loop defination will be as below:
[code]

OR:

[code]
**Additional information:**
[Miscellaneous info

[2021-01-11 20:28] ckadner commented on #410
@Tomcli, @animeshsingh -- in order to keep additional merges/rebases to a minimum, I propose to merge the large PRs currently in progress, like #395, before I start to create a PR for the KFP upgrade

[2021-01-12 05:52] fenglixa commented on #402
@Tomcli Do you know when we could upgrade tekton to latest version?

[2021-01-12 18:55] Tomcli opened #415 "add github actions to push upstream images"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-12 23:08] #409 closed

[2021-01-12 23:16] Tomcli opened #416 "Investigate how to put custom task spec into pipelinerun"
/kind feature

**Description:**
Related #412

Currently, custom task doesn't support pipeline.taskSpec, so we cannot generate the loop pipeline using just one single pipelinerun CR. If we are going to take custom task as a separate resource, we need to build a custom task registry that's just for a particular custom task type (like pipelineloop).

So ideally we want to make Tekton's pipeline.taskS

[2021-01-13 00:55] evan-hataishi commented on #415
@animeshsingh Before this feature is merged, we'll need to do a couple things:

1. Access to the `aipipeline` account on dockerhub is required to push/update images
    * This can be done by generating a personal access token: https://docs.docker.com/docker-hub/access-tokens/
 2. The workflow accesses dockerhub using encrypted environment variables
     * Set these under the repo settings: https:/

[2021-01-13 09:13] fenglixa commented on #416
Thanks @Tomcli
I investigated it yet, that custom-task doesn't support pipeline.taskSpec currently.

A potential solution is: create a resourceOps task as the first task in the pipelinerun CR. This solution could ennsure that's a single pipelinerun CR.

How do you think?

[2021-01-13 18:27] Tomcli commented on #416
So based on the Tekton community comment, they will take some time to get the user feedbacks before adding the `taskSpec` support. So we can use resourceOps to deploy our custom task resource if that works for the datastage team.

[2021-01-19 21:44] #410 closed

[2021-01-21 01:23] #100 closed

[2021-01-21 04:06] ckadner commented on #301
/remove-lifecycle stale

[2021-01-21 09:50] jinchihe opened #427 "The copy-artifacts step failed due to no tar command"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**
The artifacts should be copied successfully.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`): 3.8
* SDK Version:  0.5
* Tekton Version

[2021-01-21 09:51] jinchihe commented on #427
/cc @fenglixa @Tomcli Any idea for this, thanks.

[2021-01-21 09:59] jinchihe commented on #366
I saw @Tomcli implements, that's great.

One question, user need to set env from secret when compiling as below
https://github.com/kubeflow/kfp-tekton/blob/d5e86d763e71baeaadd2abf6a6d3b5b4458765ba/samples/exit-handler-email/send-email.py#L29-L38

that's a little complicated to use/load the component, since user may just want to focus on inputs of components.

Shall we wrap this in DSL, or we build

[2021-01-21 17:34] Tomcli commented on #427
@jinchihe you need to update the kfp-tekton config
https://github.com/kubeflow/kfp-tekton/blob/master/manifests/kustomize/env/platform-agnostic/kfp-pipeline-config.yaml#L9

This is cherrypicked into 1.2 branch few weeks ago.

[2021-01-21 23:23] Tomcli opened #429 "Update UI to support custom task and pipeline run status for tekton 0.19+"
/kind feature

**Description:**
Tekton 0.19+ introduced new breaking syntax in its pipelinerun.status. So we need to update the UI after the #428 PR.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-22 00:59] jinchihe commented on #427
@Tomcli Oh, thank you very much to point out this!

[2021-01-22 01:20] jinchihe commented on #427
That's OK now after updated the image. Thanks.
/close

[2021-01-22 01:20] #427 closed

[2021-01-25 02:00] #402 closed

[2021-01-25 05:08] fenglixa opened #430 "The param dict json was not translate to yaml format"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
compile sequential.py via newest kfp-tekton dsl code, the param dict json was not translate to yaml format, as below:
[code]

The correct one should be as following:
[code]
Actually, all the python test script with params has the issue above.

**Additional information:**
[Miscellaneous i

[2021-01-25 05:09] fenglixa commented on #430
@Tomcli @ckadner, do you know the reasons of this issue?

[2021-01-25 05:12] fenglixa opened #431 "UI enhancement to support loops feature for kfp-tekton"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

This issue is trace for UI enhancement to support loops feature for kfp-tekton

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]
/assign

[2021-01-25 05:14] fenglixa commented on #366
/close via PR #386

[2021-01-25 05:14] fenglixa commented on #366
/close

[2021-01-25 05:16] fenglixa commented on #366
/reopen since still question/issue on https://github.com/kubeflow/kfp-tekton/issues/366#issuecomment-764520634

[2021-01-25 05:17] fenglixa commented on #366
/reopen

[2021-01-25 17:50] Tomcli commented on #430
@fenglixa This is the format changes from kfp 1.3.0. KFP 1.3.0 is also using JSON to represent their Argo param fields.

[2021-01-26 01:41] fenglixa commented on #430
OK, Thanks Tomcli, for your clarify.

[2021-01-26 01:41] fenglixa commented on #430
/close

[2021-01-26 01:41] #430 closed

[2021-01-26 17:14] Tomcli commented on #366
I can put this helper function as part of the kfp-tekton package, but users will still need to run something like `containerOp().apply(kfp_tekton.k8s_helper.env_from_secret())`. Is it fine for your?

[2021-01-27 17:54] Tomcli commented on #431
@fenglixa we are planning to do something similar at #429. Are you planning to work on this?

[2021-01-27 18:41] Tomcli commented on #429
/assign @drewbutlerbb4

[2021-01-27 18:53] drewbutlerbb4 commented on #429
Thanks @Tomcli, I'll start working on this

[2021-01-27 18:56] akchinSTC opened #438 "Using kfp-tekton with Elyra results in installation failure due to conflicting dependencies"
/kind bug

**What steps did you take and what happened:**
When installing elyra with kfp-tekton as a requirement, and using the new pip package resolver, installation fails due to incompatible kfp versions, since elyra and kfp-tekton have pinned kfp to different versions, 1.1.2 vs 1.0.4 respectively.

See: https://github.com/elyra-ai/elyra/issues/1251

Were wondering if kfp-tekton could cut a fix

[2021-01-27 18:58] Tomcli commented on #438
We can cherry pick the 0.5.1 version to be kfp>=1.0.4

[2021-01-27 19:05] Tomcli commented on #429
@drewbutlerbb4 it only happens on tekton 0.19+. and you can recreate this with the latest 0.6 standalone install https://github.com/kubeflow/kfp-tekton/blob/master/guides/kfp_tekton_install.md#standalone-kubeflow-pipelines-with-tekton-backend-deployment

[2021-01-27 21:10] ckadner commented on #438
@akchinSTC -- I just uploaded an unofficial `kfp-tekton` package to PyPI, version `0.5.1rc0` (https://pypi.org/project/kfp-tekton/0.5.1rc0/) which is aligned with `kfp==1.1.2`

Can you give that a try?

[code]

[2021-01-27 21:12] ckadner commented on #438
/remove-kind bug

[2021-01-27 22:41] ckadner commented on #438
@akchinSTC -- I just pushed another RC (`rc1`) to workaround a `pip` install error on mismatching version stamps `0.5.1  != 0.5.1rc0`

[code]

[2021-01-27 23:52] akchinSTC commented on #438
@ckadner - so far so good! just waiting on a few other guinea pigs to test. Thanks for the quick work!!!

[2021-01-27 23:59] akchinSTC opened #439 "Make kfp-tekton package available via conda-forge"
/kind feature

**Description:**

Make kfp-tekton available via conda-forge so user can install kfp-tekton using conda

**Additional information:**
If kfp-tekton has source packages and wheel avaialble via pypi, then it should be simple enough to generate the metadata using `grayskull` to create the initial pull request over at the conda-forge staged recipes repo to get  kfp-tekton into conda-forge

[2021-01-28 01:17] #366 closed

[2021-01-28 02:05] fenglixa commented on #431
Oh, I think these two are not the same task.
#429 is for the custom task support, but this one will support loop special UI displaying.
of cource, if #429 could support both of them, it will fine to me.
Thanks.

[2021-01-28 06:43] fenglixa commented on #416
Fet the feedback from tekton  https://github.com/tektoncd/pipeline/issues/3682, they will support taskSpec defining for custom task, so we don't need to rush to support  it via resourceOps for now.

[2021-01-28 21:01] ckadner commented on #439
/assign

[2021-01-28 23:06] ckadner commented on #439
@Tomcli @animeshsingh -- please add a comment with a `+1` on https://github.com/conda-forge/staged-recipes/pull/13814 in order to confirm your maintainer status for the new `kfp-tekton` recipe on Conda Forge

[2021-01-29 00:00] Tomcli opened #443 "issue tracker: loop feature support"
/kind feature

**Description:**
- [x] #413 update compiler to produce new loop crd
- [x] #416 https://github.com/tektoncd/pipeline/issues/3682 find ways to put the loop crd spec into the pipelinerun crd
- [x] #431 add ui support for new loop syntax
- [x] Tekton 0.21 release for taking task results as parameters.

**Additional information:**
[Miscellaneous information that will assist in solving th

[2021-01-29 00:08] #388 closed

[2021-01-29 01:10] Tomcli commented on #431
Ok, for #429 we will just have a pr for adding the new spec changes for tekton 0.19+. For the new loop status we will track with this issue.

[2021-01-29 01:10] Tomcli commented on #431
do you want to take on this issue?

[2021-01-29 01:16] Tomcli commented on #416
@fenglixa the resourceOps option probably won't work because the pipeline will not start until all the task references is present. I think our best option is to use the taskSpec if possible.

I think the Tekton community don't have a strong objection. If the community is not picking this up, we can start changing the Tekton reconciler and create do some experiments to provide feedbacks.
https://gi

[2021-01-29 01:47] fenglixa commented on #431
yes, sure, will take this issue.

[2021-01-29 07:32] ckadner commented on #439
/assign @animeshsingh

[2021-01-29 19:47] #429 closed

[2021-01-31 01:15] ckadner commented on #439
KFP-Tekton release `v0.5.0` is published on `conda-forge` now:

https://github.com/conda-forge/kfp-tekton-feedstock/releases/tag/v0.5.0

[2021-01-31 01:15] ckadner commented on #439
/close

[2021-01-31 01:15] #439 closed

[2021-01-31 01:19] ckadner commented on #439
@lresende -- I will create an `0.5.1` release for `kfp` `1.1.2` and an `0.6.0` release that aligns with `kfp` `1.3.0`

[2021-02-01 21:13] ckadner commented on #438
`kfp-tekton` `v0.5.1` is available on conda-forge:

https://github.com/conda-forge/kfp-tekton-feedstock/releases/tag/v0.5.1

[2021-02-01 21:14] ckadner commented on #439
`kfp-tekton` `v0.5.1` is available on conda-forge:

https://github.com/conda-forge/kfp-tekton-feedstock/releases/tag/v0.5.1

[2021-02-02 13:55] fenglixa commented on #443
Thanks @Tomcli ,

Another Loop Task for community:  Support parallelism parameter as below:

`dsl.ParallelFor(produce_numbers_task.output, parallelism=4)`

[2021-02-02 21:29] bobcatfish commented on #82
quick update from tekton: @GregDritschler has been working on adding looping functionality to Tekton and it is currently possible via a custom tasks (https://github.com/tektoncd/experimental/tree/master/task-loops#task-loop-extension) - next steps for this are to decide if we want to add it to the Tekton API or alternatively promote this [custom task](https://github.com/tektoncd/community/blob/mas

[2021-02-02 23:00] Tomcli opened #453 "Add delivery pipeline for publishing Tekton component images"
/kind feature

**Description:**
- [ ] Custom task controller for [pipelineloop](https://github.com/kubeflow/kfp-tekton/tree/master/tekton-catalog/pipeline-loops#option-two-install-by-building-your-own-docker-images)
- [ ] [any sequencer](https://github.com/kubeflow/kfp-tekton/tree/master/tekton-catalog/any-sequencer#how-to-build-image)
- [ ] [resourceOp](https://github.com/kubeflow/kfp-tekton/tree

[2021-02-02 23:02] evan-hataishi commented on #453
/assign @evan-hataishi

[2021-02-03 06:29] fenglixa opened #454 "Condition DSL bug with global parameters"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Define the condition as below:
[code]

Get the generated yaml:
[code]

Which will caused error report while create the workflow:
[code]

/assign

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environ

[2021-02-03 06:30] fenglixa commented on #454
/cc @rafalbigaj

[2021-02-03 16:10] #454 closed

[2021-02-04 02:09] Tomcli opened #457 "update compiler code to enable pipeline cache"
/kind feature

**Description:**
related #424
@vincent-pli

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-02-04 06:08] fenglixa commented on #416
@Tomcli the pipeline won't block if the task references are not present, that mean resourceOps option is working to us from functionally. The first task will be executed, the pipeline will be failed while the reference task starting to run but didn't find it.

[2021-02-05 02:36] vincent-pli commented on #457
Thanks @Tomcli
I will work on this task soon.

[2021-02-06 18:11] juliusvonkohout opened #461 "Regression in 0.6"
/kind bug

@animeshsingh there are regressions in the 0.6 release

According to the official tutorial i tried the following:

[code]

From https://github.com/kubeflow/kfp-tekton/blob/master/samples/big_data_passing/big_data_passing_description.ipynb
[code]

There are two different bugs here.
1.
A known one https://github.com/kubeflow/kfp-tekton/issues/273
[code]
You need to replace '\n' with "\N{L

[2021-02-06 18:16] juliusvonkohout commented on #461
[buggy_pipeline.py_1.yaml.txt](https://github.com/kubeflow/kfp-tekton/files/5937377/buggy_pipeline.py_1.yaml.txt)
[buggy_pipeline.py_2.yaml.txt](https://github.com/kubeflow/kfp-tekton/files/5937378/buggy_pipeline.py_2.yaml.txt)

As you can see in the files, the workspace is missing

[2021-02-08 18:37] #413 closed

[2021-02-09 22:15] ckadner commented on #461
@Tomcli @fenglixa @

[2021-02-09 23:14] Tomcli commented on #461
Looks like there's a bug with using newlines. This is fixed in the latest kfp code
https://github.com/kubeflow/pipelines/pull/4993

For a quick fix, you can run `pip install kfp==v1.4.0-rc1`. We will also update the kfp-tekton dependency to a later version when kfp v1.4.0 is official.

[2021-02-10 11:37] juliusvonkohout commented on #461
Thank you very much, I will test it and report back. What do you think about the workspace issue?

[2021-02-10 17:37] Tomcli commented on #461
Thanks @juliusvonkohout for reporting this. Looks like the workspace won't be enabled when there's no input artifact. We will double check with the Argo implementation and update it correspondingly.

[2021-02-10 19:17] juliusvonkohout commented on #461
The pipeline runs fine with argo. E.g. emissary executor can be used and has no limitations regarding the output size. Workspaces should be enabled as soon as there is an output artifact, no matter whether it is used as input later on.

[2021-02-12 03:33] evan-hataishi commented on #137
@ckadner I was just looking for this as well. What a coincidence that you had already opened an issue for this feature, and it was the first link I clicked on 😀. It's pretty annoying to deploy a pipeline just to figure out whether the yaml is valid or not 😢.

[2021-02-12 12:29] ScrapCodes opened #467 "Sample: katib is not up to date with kfp 1.3.0, and thus fails to run."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

### Part 1. trying to compile katib.py as is.
[code]

### Part 2 Trying to fix it by changing the component.yaml to some previously released version.
e.g. 1.1.2 of kubeflow pipeline.
It compiles clean, but on running the pipeline

[code]

**What did you expect to happen:**
I had expect

[2021-02-12 13:57] juliusvonkohout commented on #461
1.4.0 is avavilable now https://pypi.org/project/kfp/ https://github.com/kubeflow/pipelines/tags

[2021-02-16 21:26] #438 closed

[2021-02-16 21:43] ckadner opened #469 "Upgrade to KFP 1.4.0"
/kind chore

**Description:**

Rebase to [KFP 1.4.0](https://github.com/kubeflow/pipelines/releases/tag/1.4.0):

- [ ] SDK (@ckadner)
- [ ] API (@Tomcli)
- [ ] UI (@drewbutlerbb4)

**Additional information:**

https://github.com/kubeflow/pipelines/releases/tag/1.4.0

[2021-02-16 21:44] ckadner commented on #461
https://github.com/kubeflow/kfp-tekton/issues/469

[2021-02-16 21:53] ckadner opened #470 "The parallel_join_with_argo_vars pipeline has syntax error: unterminated quoted string"
/kind bug

**What steps did you take and what happened:**

[code]

[code]

**Environment:**

* Python Version (use `python --version`): `3.9`
* SDK Version: `0.6`
* Tekton Version (use `tkn version`): `0.20`
* Kubernetes Version (use `kubectl version`): `1.18`

[2021-02-16 21:56] Tomcli commented on #469
@ckadner you can update the sdk to 1.4.0 since there's a sdk bug in 1.3.0 release. For API, I will wait for 1.4.0 to be official because i still see some errors in their upstream and KFP haven't announce the 1.4.0 release note yet (right now it's just a github tag).

[2021-02-16 22:29] #470 closed

[2021-02-19 13:01] ScrapCodes opened #475 "Some of the samples are using argo based pipelines in samples."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Some of the samples are using argo based pipelines in samples.
**What did you expect to happen:**
Should be using tekton backend.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`):

[2021-02-19 17:22] #453 closed

[2021-02-22 22:13] Tomcli commented on #469
@ckadner you can start doing the kubeflow 1.4 merge because it's official now.

[2021-02-23 01:24] chinhuang007 opened #477 "Please clarify the expected behavior of dsl.Condition"
/kind question

**Question:**
According to kfp sdk doc, https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/, "dsl.Condition represents a group of ops, that will only be executed when a certain condition is met". The actual implementation seems to execute the code block under python with statement regardless the condition evaluates true or false. Is this the expected behavior?

For example, I

[2021-02-23 01:35] Tomcli commented on #477
@chinhuang007 not sure which version of kfp-tekton your are using. I tried your example on kfp-tekton 0.6 and 0.4, both of them skipped the print 2 task.

On kfp-tekton 0.6, you should see this to indicate print-2 task is skipped.
<img width="466" alt="Screen Shot 2021-02-22 at 5 34 25 PM" src="https://user-images.githubusercontent.com/10889249/108791612-59c89980-7534-11eb-9fec-65a6991757c1.png">

[2021-02-23 18:54] chinhuang007 commented on #477
@Tomcli Thanks for checking!

I followed the instructions here, https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow-on-iks/, to install a Kubeflow cluster using kfp-tekton. It is using https://github.com/kubeflow/manifests/blob/master/distributions/kfdef/kfctl_ibm.v1.2.0.yaml. However I don't know how to verify the kfp-tekton version in the package.

Please feel free to check my experiments

[2021-02-23 19:15] chinhuang007 commented on #477
Quick follow-up... I believe kfp-tekton is 0.4.0 in the kubeflow 1.2.0 package.

[2021-02-23 23:05] chinhuang007 commented on #477
Installed kfp-tekton 0.6.0 standalone and verified the experiment result is consistent with the spec. Will close the issue now.

Just a pre-caution, the 0.4.0 packaged in the current Kubeflow 1.2.0 doesn't have proper implementation for dsl.Condition.

[2021-02-23 23:05] #477 closed

[2021-02-23 23:09] Tomcli commented on #477
@chinhuang007 for kubeflow 1.2 you will need to install with `pip install kfp-tekton == 0.4.0`. kfp-tekton 0.6 changes how condition work so it may not be backward compatible.

[2021-02-23 23:23] chinhuang007 commented on #477
@Tomcli Got it. So the problem is that the yaml is created in 0.6.0 and it is not backward compatible with 0.4.0. Thanks for the clarification!

[2021-02-26 21:12] Tomcli opened #482 "Add loop argument post processing to handle [], syntax"
/kind feature

**Description:**
Figure out a way in the compiler to post process `[],` loop argument to work with the Tekton parameter spec.

[code]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-03-01 18:21] #469 closed

[2021-03-03 12:44] fenglixa opened #486 "Add annotations or labels to pipeline or pipelinerun"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Add annotations or lables to pipeline or pipelinerun via DSL

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]
There is `add_pod_label` function to add the label or annotations to the pod/task, but I didn't find the way to add annotation

[2021-03-03 12:44] fenglixa commented on #486
@Tomcli do you have any ideas on it? Thanks.

[2021-03-03 21:33] #467 closed

[2021-03-05 23:02] #301 closed

[2021-03-06 01:20] #486 closed

[2021-03-08 07:49] fenglixa opened #488 "[API] Get apis/v1beta1/runs/${run-id} didn't get the full status, if custom task was defined in the pipeline"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Run a PR which with custom task defined inside via kfp UI.
2. Call  GET apis/v1beta1/runs/${run-id} didn't get the full result of this run.

**What did you expect to happen:**
Call  GET apis/v1beta1/runs/${run-id} should get the complete result of this run

**Additional information:**

[2021-03-08 08:01] fenglixa commented on #488
@Tomcli , do you know who is familar with this issue?

[2021-03-08 10:27] juliusvonkohout commented on #461
@fenglixa are there any news regarding the workspace creation without input artifacts?

[2021-03-08 11:51] fenglixa commented on #461
Oh, let me check, will response to you soon.
/assign

[2021-03-08 17:20] Tomcli commented on #488
Right now, the Get apis/v1beta1/runs/${run-id} only returns the pipelinerun spec which doesn't include the pipeline loop spec due to https://github.com/tektoncd/pipeline/issues/3682

[2021-03-08 17:23] Tomcli commented on #488
Although we can make the api to do some extra api calls for getting the custom task crd, but it will need to alter the api spec and it could add some extra workloads to the etcd and loop controller. Maybe I can make it as an experimental feature for now so people can opt-out if they don't want to decrease performance.

[2021-03-08 17:39] Tomcli commented on #488
Oh i think this also requires to alter the database schema since we need a place to store the custom task crd...

[2021-03-09 05:53] fenglixa commented on #488
Thanks @Tomcli, this issue is not related to TaskSpec defination for custom task.
When get the PipelineRun status via this API. It returned the custom task CR result but not the pipelinerun result. That's why the issue logged.

[2021-03-09 18:54] Tomcli commented on #488
@fenglixa sorry i couldn't reproduce this issue. I believe you also use kfp-tekton 0.7? In kfp-tekton 0.7 with custom task, this is what i get from the runs api. It returns the PipelineRun CR result. The runs status is under status.run. and regular task status is under status.taskruns.

[code]

[2021-03-09 19:48] Tomcli commented on #482
/assign

[2021-03-09 22:23] Tomcli commented on #482
@ckadner for the first example, it could be a typo in the original example. I opened an issue and fix at https://github.com/kubeflow/pipelines/issues/5270

For the second example, let's open another issue for it since it's not about the bracket [ ] described in this issue.

[2021-03-09 22:30] Tomcli opened #490 "ParallelLoop cannot handle list of dict defined as regular python variable."
/kind bug

**What steps did you take and what happened:**
Loop over a list of dictionaries works on containerOp output and pipeline parameters, but it doesn't work when the dictionary is defined in regular python variable. Take a look at the following example,
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/withitem_nested.py

Right now this example can work o

[2021-03-09 22:35] Tomcli commented on #475
closing this since we will stop pulling argo examples from main kfp.

[2021-03-09 22:35] #475 closed

[2021-03-10 06:52] ScrapCodes commented on #411
@Tomcli Can we resolve this as well?

[2021-03-10 08:19] fenglixa commented on #461
Thanks @juliusvonkohout, I get your mean. This should be an issue need to be addressed, I will provide PR for it later.

[2021-03-10 08:20] fenglixa commented on #461
Thanks for submitting this issue @juliusvonkohout

[2021-03-10 10:21] fenglixa commented on #490
@Tomcli , This is a defect during I handling the dict parameters. Let me fix it. Thanks

[2021-03-10 14:59] fenglixa commented on #461
@animeshsingh  @Tomcli  @ckadner I would like to discuss this issue with you here.

In Argo, there is no this issue, because:
Argo will handle the output as below definition, even it is or not big data passing:
[code]

But for tekton, the output will be translated to `results` by default:
[code]
***The issue for us here***: We don't know which case we should translate the output to `results`, and

[2021-03-10 21:31] Tomcli commented on #461
@fenglixa so we only need to enabled big data passing when the user defines the output as outputPath or input as inputPath.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/_python_op.py#L78-L81

[2021-03-10 21:37] Tomcli commented on #461
If we don't have to use big data passing, then we will default it back to Tekton results.

[2021-03-11 01:50] Tomcli opened #492 "UI is not displaying pipeline duration"
/kind bug

**What steps did you take and what happened:**
Currently, the UI is not displaying pipeline duration for completed pipelines in the run page.
<img width="1432" alt="Screen Shot 2021-03-10 at 2 29 56 PM 1" src="https://user-images.githubusercontent.com/10889249/110723227-90efa980-81c8-11eb-9430-256673bd9d1f.png">

**What did you expect to happen:**
The run page suppose to display the dur

[2021-03-11 01:51] Tomcli commented on #492
/frontend

[2021-03-11 01:51] Tomcli commented on #492
/assign @drewbutlerbb4

[2021-03-11 01:51] Tomcli commented on #492
/area frontend

[2021-03-11 02:14] #490 closed

[2021-03-11 02:15] #411 closed

[2021-03-11 02:20] fenglixa commented on #461
Thanks @Tomcli , yes, you are right, we should capture whether user defined outputPath or inputPath. But from tekton complier. There are no any metrics defined if user defined outputPath (inputPath is OK). That's the issue my concerned.

[2021-03-11 02:24] Tomcli commented on #461
The outputPath and inputPath should be part of the pipeline object in the compiler. Probably it wasn't capture when passing to the `big data passing` function.

[2021-03-11 03:26] pugangxa opened #493 "Copy results failed when file output already specify /tekton/result path"
/kind bug
Here's a very simple test program:
[code]

Notice the file output is already tekton result path: ```file_outputs={'OutPut': '/tekton/results/output'}```,  but after compile still copy results is generated:

[code]

**What did you expect to happen:**
Should not add the copy steps when it's already in the correct path

[2021-03-11 03:27] pugangxa commented on #493
This is a but reported when we are doing the integration project internally.

[2021-03-11 04:34] #493 closed

[2021-03-11 21:53] #492 closed

[2021-03-11 23:55] Tomcli commented on #482
addressed in main KFP repo

[2021-03-11 23:55] #482 closed

[2021-03-16 01:16] Tomcli opened #496 "Add support for auto apply custom task resources until taskSpec is implemented."
/kind feature

**Description:**
Given the slow pace on the taskSpec support for custom task, we want to have better optimization and user experience for the time being. Thus, we propose the following solution.

1. Add custom task CR information in the annotations, so the information can be carried to the API and UI without any API schema changes.
2. Add flags in API to support auto CR creations. G

[2021-03-16 02:05] vincent-pli opened #497 "automate labels and annotations for pipeline cache"
/kind feature

**Description:**
We has done the implements for `cache server` to meet the `tekton` for backend. and try to enable the function in `DSL` side.

Basically, to enable the `cache` feature just need add several specific `label`s to the sub task.
By review the original implements(Argo), it add the label in the api level(a global setting), it's not work in `tekton`, in `tekton` scenario,

[2021-03-16 02:15] vincent-pli opened #498 "Support generate "custom task" defination in DSL"
/kind feature

**Description:**
I think we need support to generate `custom task` definition to the yaml file in `dsl`, like this:
[code]

I think user will have such requirement, since the `tekton` introduced the conception of `custom task`.
with such ability we can easy to support `loop`, `exception handler` .etc which depends on controller of `custom task`.

**Additional information:**

https:/

[2021-03-16 19:00] Tomcli opened #501 "support recursion DSL using pipeline-loops custom task"
/kind feature

**Description:**
We need to support the recursion DSL (graph component) using the pipeline-loops custom task (part of kfp-tekton 0.7 release). Please be aware that the current pipeline-loops will append the pipeline name to its sub-pipeline, so recursion will hit the Kubernetes name length limits within several iterations.

Example: https://github.com/kubeflow/pipelines/blob/master/

[2021-03-17 02:51] pugangxa commented on #501
/assign

[2021-03-17 17:04] Tomcli commented on #496
/assign

[2021-03-17 17:05] drewbutlerbb4 commented on #497
/assign

[2021-03-17 19:17] Tomcli opened #504 "Update the e2e-mnist example to work on k8s 1.19 with kubeflow 1.3"
/kind bug

**What steps did you take and what happened:**
Right now, Katib has a bug that is blocking experiment to run on k8s 1.19. It's fixed in master but probably not for kubeflow 1.3. We may want to remove the Katib section until the bugs are fixed in kubeflow 1.4

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.

[2021-03-18 10:37] rafalbigaj opened #506 "ExitHandler not triggered on pipeline run cancellation"
/kind bug

**What steps did you take and what happened:**
When cancelling a pipeline run, operations added with `ExitHandler` are not triggered.

Operations added with `ExitHandler` are mapped to the Tekton final tasks (`finally`).
Tekton final tasks are skipped when Tekton `PipelineRun` is [cancelled](https://github.com/tektoncd/pipeline/blob/main/docs/pipelineruns.md#cancelling-a-pipelinerun).

[2021-03-19 19:53] drewbutlerbb4 commented on #497
@vincent-pli
I have an initial PR #507 which adds the labels so that caching is enabled for every task. As you noted this allows any task with `Results` to be cached. Is the ask here to also enable caching for tasks without `Results` or does this PR fulfill the request?

[2021-03-22 00:49] vincent-pli commented on #497
@drewbutlerbb4
I append my comments in the pr, p please take a look, thanks

[2021-03-22 06:56] ScrapCodes commented on #504
Issue tracking this in upstream repo: https://github.com/kubeflow/pipelines/issues/5306 is still open.

[2021-03-22 22:46] Tomcli commented on #498
@vincent-pli so after talking to the google team, we are getting some push back on the DSL syntax. One way they suggested is to use the existing containerOp and create our own mapping in our compiler. So I created this new proposal
https://docs.google.com/document/d/14PEuKY6T1ku4uFZx12FLFEPNE8poTdZRlzj6RDT3YKk/edit#

If this looks good to you, then we can proceed it with this way. As long as we do

[2021-03-23 00:25] vincent-pli commented on #498
@Tomcli
I get your point, but could we create a new `class` based on `containerOp`, will not change anything in upstream `kubeflow-pipeline`, just maintain it in our side, like this:
[code]

[2021-03-23 01:00] Tomcli commented on #498
So the KFP team wants us to still use the `ContainerOp` object to store all the information, not extend it to a new class where it diverge with the classes in the Argo compiler. The reason they want us to design it this way so that someone else can implement the exact same containerOp in Argo without changing the Argo compiler.

[2021-03-23 01:04] Tomcli commented on #498
For example, our we can create a ContainerOp for CEL. In the Tekton compiler, we map it to custom task. But in the Argo compiler, it can still run as a regular containerOp that just run the CEL step in a new container. Currently we will not maintain and support the CEL containerOp from our side, but we need to at least maintain the same syntax/class between the two compilers.