[2021-03-23 01:13] vincent-pli commented on #498
@Tomcli thanks for clarification.
I mean `CustomtaskOp` (maybe not named as this) is just maintained in our side. Argo compiler has no idea of it.

[2021-03-23 01:18] Tomcli commented on #498
We can create a new class to help us map the arguments, but the object we use has to stay as containerOp.
We could do something like
[code]

[2021-03-23 01:19] Tomcli commented on #498
also, I think our params cannot be `Dict[str, str]` because our value type could be pipelineParam

[2021-03-23 01:33] Tomcli commented on #498
The main reason we want to have all the information using just `ContainerOp` class because in V2, our own class definition won't get transferred to the IR (intermediate representation). Therefore, if we want some custom mapping for custom task, we have to set the flag using annotations or a specific image name to map the `ContainerOp` differently in our server(backend) compiler in v2.

[2021-03-23 01:41] Tomcli commented on #498
I understand the containerOp will look very messy and the attributes may not make sense for custom task, but this is currently the best option if we don't want to introduce extra python SDK work when migrating to V2 (using IR).

[2021-03-23 02:30] vincent-pli commented on #498
@Tomcli
OK, I agree with you, thanks.

[2021-03-23 12:37] andreyvelich commented on #504
To keep you updated, Katib 0.11 should support K8s 1.19: https://github.com/kubeflow/katib/releases/tag/v0.11.0.
We will include this release in Kubeflow 1.3

At least, I have tested this release in GCP - `1.19.7-gke.1500` version and it's working.
We disabled dynamic Webhook creation, which blocked K8s 1.19 before.

[2021-03-24 18:07] #497 closed

[2021-03-24 18:15] Tomcli commented on #457
/closed #507

[2021-03-24 18:16] Tomcli commented on #457
/close

[2021-03-24 18:16] #457 closed

[2021-03-24 21:14] drewbutlerbb4 opened #511 "Artifact paths for cached tasks are incorrect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Artifact paths for tasks which utilize the caching feature by adding `pipelines.kubeflow.org/cache_enabled: 'true'` label are incorrect. These artifact paths use current pipeline ID rather than the cached pipeline ID.

<img width="593" alt="Screen Shot 2021-03-24 at 2 11 12 PM" src="htt

[2021-03-29 07:46] pugangxa opened #516 "Two single quotes in generated yaml when there's format like \'heads\' in arguments"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
There's some examples contain format like \'heads\', after run this py the yaml generated is wrong:
[code]
You can see two single quotes here ```forced_result == ''heads'' or forced_result == ''tails''``` for tails and heads.

for example in below link: https://github.com/kubeflow/kfp-te

[2021-03-29 12:04] Udiknedormin commented on #488
@fenglixa @Tomcli What is the status of this issue?

[2021-03-29 13:18] pugangxa commented on #516
/assign

[2021-03-29 17:55] Tomcli commented on #488
@Udiknedormin @fenglixa for getting all the information in one pipelinerun yaml, I have a PR over here https://github.com/kubeflow/kfp-tekton/pull/512 (need to fix some tests)

@fenglixa do you have an example that can reproduce this issue? Do you see it when the pipeline is running or completed?

[2021-03-29 23:37] fenglixa commented on #488
Based on comments from Tomcli, I am worried the api-server is an old one in my cluster caused this issue.
@Udiknedormin, which version of kfp-tekton are you using, you reproduced this issue, right?

[2021-03-30 02:02] pugangxa commented on #516
Seems it's due to PR #390, when added yaml_utils.

[2021-03-30 09:10] #516 closed

[2021-03-30 09:13] #501 closed

[2021-03-30 14:22] Udiknedormin commented on #498
@Tomcli

KFP uses PipelineParam's runtime type in type annotations pretty often. For instance --- it declares pipeline inputs as e.g. `str` or `int` despite the fact they are all `PipelineParam`. Same could be applied here.

I can see the V2 compatibility issue, it's a valid point.

Do you have any prototype that I could look at or test?

[2021-03-30 16:46] Udiknedormin opened #518 "Resource names are too long"
/kind bug

**What steps did you take and what happened:**
Create any pipeline with a long name (over 63 characters after sanitisation) which uses `dsl.ParallelFor`:

[code]

Compile it.

Created files:
* `long_names_with_resources.py.yaml`
* `long_names_with_resources.py_pipelineloop_cr1.yaml`

[code]
[code]

Note that PipelineRun's name got shortened:
[code]
But the loop resource's way above the

[2021-03-30 17:04] Udiknedormin opened #519 "Inner loop's iterated-on param not getting propagated to the outer loop"
/kind bug

**What steps did you take and what happened:**
Create a pipeline with two loops, where the inner one iterates over a pipeline parameter but doesn't use it in any other way.

[code]

It generates the following, correct yaml for inner loop:
[code]
but for the outer loop:
[code]
Note that `params.my_pipe_param` is used, but not passed in params, so a runtime error is produced:
[code]

[2021-03-31 16:56] Tomcli commented on #518
/assign

[2021-04-01 02:52] jinchihe commented on #519
/cc @pugangxa

[2021-04-01 03:21] #518 closed

[2021-04-01 13:40] fenglixa commented on #519
Let me handle it
/assign

[2021-04-06 23:10] #519 closed

[2021-04-07 01:53] #498 closed

[2021-04-07 19:45] Udiknedormin opened #527 "CEL_ConditionOp: expressions with multiple pipelineparams miscompiles as if there was only one"
/kind bug

**What steps did you take and what happened:**
Create a pipeline using `CEL_ConditionOp` with expression using multiple pipeline params. Here is the simplest example:

[code]

Generated yaml is:

[code]

Note the: `$(params.a) == $(params.a)`, despite `f"{a} == {b}"` being used in DSL.

**What did you expect to happen:**

The parameters being compared, as in DSL:

[code]

**Additional i

[2021-04-08 01:48] #527 closed

[2021-04-09 07:18] pugangxa opened #532 "Any-Sequencer --- wait for some output to be true/false/some-value"
The current implementation of AnySequencer, both in kfp-tekton as DSL extension and the controller itself, can only wait for multiple tasks to complete. It doesn't provide possibility for asynchronous "or" operation --- waiting for any condition to be fulfilled. That's needed to implement the Any-Sequencer's relationship with conditional nodes.

Considering how conditional links are evaluated as C

[2021-04-09 07:27] pugangxa commented on #532
Here's some implementation details:
- If we add a condition we in fact add a task to watch implicitly, since the result can only be evaluated after task finished.
- Because the condition is in fact an enforcement for a task to watch, if there's multiple conditions on one task, they must all be met. That is to say for ```seq = AnySequencer(long_calc_op, short_calc_op.outputs["status"] == "success",

[2021-04-13 00:03] Tomcli opened #534 "Optimize non-recursive graph opGroup to not use Tekton sub-pipeline"
/kind feature

**Description:**
In the KFP DSL, graph means a sub-pipeline/sub-dag in Argo. This is necessary for recursion so we implemented the graph opGroup as Tekton sub-pipeline. However, Tekton sub-pipeline is relatively expensive and not really necessary for non-recursive graph. Thus we want to optimize the Tekton compiler by not generating sub-pipeline for graphs that doesn't have referenc

[2021-04-13 00:05] Tomcli commented on #534
/area sdk

[2021-04-13 00:08] Tomcli commented on #534
currently the graph is implemented here, we need to have few exceptions to generate non-recursive graph without using `pipelineloop` for sub-pipeline.

[2021-04-13 16:49] Tomcli opened #535 "Update UI to render user defined Tekton custom task"
/kind feature

**Description:**
We introduced new features that allow users to define Tekton custom task in KFP. However, the UI needs to be updated in order to render any user defined custom task.
e.g. we need the UI to render this condition example
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/condition_custom_task.yaml

**Additional information:**
[Miscel

[2021-04-13 16:50] Tomcli commented on #535
/assign @drewbutlerbb4

[2021-04-13 18:01] Tomcli opened #536 "Update labels and annotations injections to also apply on custom task"
/kind bug

**What steps did you take and what happened:**
Currently for Cache and istio injection flags, the api-server is overriding it on the individual task metadata. However, this approach may not work on custom task since they have different spec and controller. Thus, update the Cache and istio injection flags to apply it on the pipeline global metadata so it will inject into all the pods tha

[2021-04-13 18:01] Tomcli commented on #536
/assign

[2021-04-14 06:48] pugangxa commented on #534
So do we plan to use pipeline in pipeline for graph? Or some other methods like a dedicated custom controller for graph?

[2021-04-14 12:19] Udiknedormin opened #540 "Artefacts of nodes with long names miscompile"
/kind bug

**What steps did you take and what happened:**
Create a pipeline with an op which produces two outputs and uses their `outputPath`s. Parametrise that pipeline with the op's name length. Create instances for 20, 55, 80.

[code]

The "20" file looks correct:
[code]

Meanwhile, "50" and "80" variants differs vastly from it:
[code]

[code]

Not only does it provide an additional `stepTempla

[2021-04-14 19:29] #540 closed

[2021-04-14 21:20] Tomcli commented on #534
For recursion graph we will keep using pipelineloop. However, for graph that only been used once in the pipeline, we don't want to wrap them into a custom task because it's expensive on Tekton and doesn't give us too much benefit.

[2021-04-14 21:30] Tomcli commented on #534
So if a graph component is not in recursion, parallelfor, and only been referenced once in the whole pipeline, we will flatten that graph as part of the main pipeline. Similar to what we did to loop before we introduce custom task.

e.g. `flip_component` only been referenced once: flatten it as part of the main pipeline. If `flip_component` is referenced again in the pipeline, then we keep using t

[2021-04-14 21:31] Tomcli commented on #534
@Udiknedormin ^^^ Does it sound good to you?

[2021-04-15 02:06] pugangxa commented on #534
Thanks Tommy, I understand. But in my opinion, in this case user can flatten the graph_component by themselves, there's no benefit to provide a graph_component this way too. So I think better to keep the design now, reasons:
- Keep consistent and easy to maintain in future
- Keep consistent with Argo too, we can change to use pipeline in pipeline if needed in future easily
- All the features can s

[2021-04-15 03:07] pugangxa commented on #534
Thought about it again, not sure what's ```expensive on Tekton```, in my opinion the loop controller is always there and if we do it by custom task then no pod been created so from theory it should have better performance.

[2021-04-15 05:41] pugangxa opened #542 "Support parallelism for pipeline loop"
/kind feature
Introduce the parallism parameter to control the concurrency

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Before we have already implemented loop, but all the pipeline can only run in sequential. We need support parallism parameter so that multiple pipelines can be started at once with one loop arg for each one.

[2021-04-15 07:16] pugangxa commented on #542
/assign
I will do it after the any-sequencer enhancement.

[2021-04-15 07:22] pugangxa commented on #535
So do we plan to have UI for custom task or even for the content of the custom task? Take loop for example, do we just show the loop as a whole custom task or user can click it to deep into the pipelines created for the loop?
Considering the diversity of custom task I think we cannot support this granularity for all of the custom tasks but for some typical ones right?

[2021-04-15 08:27] juliusvonkohout commented on #461
Was it fixed in 0.8 ?

[2021-04-15 21:44] #536 closed

[2021-04-15 22:57] #535 closed

[2021-04-16 22:02] Tomcli opened #546 "Custom task condition doesn't generate status result in some cases"
/kind bug

**What steps did you take and what happened:**
The below example doesn't generate the condition status for the first custom task.

[code]

outputs: Note that the first cel-condition custom task didn't generate the condition statement as status.
[code]

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**En

[2021-04-16 23:57] Tomcli commented on #546
@Udiknedormin This issue didn't happen on the latest commit on kfp-tekton master. Was your SDK build from a previous commit?

[2021-04-19 10:26] Udiknedormin commented on #546
@Tomcli I think it was 6adfcc64f3c4deb0a90411b9f72347d6cc418e6d ("feature(sdk): Optimize unnecessary condition task when using User definable CEL Custom task  (#478)").

Looks like it works for the current master's HEAD, although I don't really know why.

[2021-04-19 11:55] Udiknedormin opened #547 "CEL conditionals + recursion = mis-compilation"
/kind bug

**What steps did you take and what happened:**

Use recursion inside of `dsl.Condition` branch, or `dsl.Condition` inside of recursion and using a node output created inside of it.

[code]
[code]
[code]

The results are mis-compiled for both files in different ways.

[code]
[code]
So a CEL custom task is generated, but no recursion call that was inside of `dsl.Condition` based on that C

[2021-04-19 13:32] #532 closed

[2021-04-19 17:39] Tomcli commented on #547
/assign

[2021-04-19 18:31] Udiknedormin opened #548 "Long task and output names"
/kind bug

**What steps did you take and what happened:**
Use a long component name and a long output name.

[code]

Output:
[code]

**What did you expect to happen:**
If the name would fail at runtime, it should be trimmed (probably trimming the task name, treating output name as suffix?), but definitely not break the compilation.

**Additional information:**
The code that throws this exception i

[2021-04-19 19:08] Tomcli commented on #548
/assign

[2021-04-20 08:28] huixa opened #551 "[Any-Sequencer][Condition]Enhance the output messages."
**Test the any-sequencer condition #539 , some output messages which it's better to enhance:**

**Env:**
build the env for any-sequencer from kfp-tekton/tekton-catalog/any-sequencer

===================
**Update 1:**
**When trigger the any by one condition, the output message as below:**
_[root@symtest21 test]# kubectl -n kubeflow logs any-sequencer-any-test-lnbrq-pod-w4698
time="2021-04-20T05:40:

[2021-04-20 08:29] huixa commented on #551
@pugangxa , please help handle this one. Thanks.

[2021-04-20 08:36] huixa opened #552 "[Any-Sequencer][Condition]any-test cannot exit when the condition does not meet."
**Test the any-sequencer condition #539 , some output messages which it's better to enhance:**

**Env:**
build the env for any-sequencer from kfp-tekton/tekton-catalog/any-sequencer

**Issue:**
When the condition does not meet, the any-test will watch forever, don't exit.

**Configure:**
    - name: any-test
      taskSpec:
        steps:
        - name: main
          args:
          - --namespac

[2021-04-20 08:36] huixa commented on #552
@pugangxa , please help handle this one. Thanks.

[2021-04-20 08:54] pugangxa commented on #551
/assign
Agree we can add detailed message.

[2021-04-20 08:56] pugangxa commented on #552
/assign
OK will take a look, thanks!

[2021-04-20 12:49] Udiknedormin commented on #552
@huixa @pugangxa It seems to me it should put the AnySequencer into "skipped" tasks in such a case, so that tasks that have a dependency on it would not run as if it exited successfully.

[2021-04-20 13:26] pugangxa commented on #552
In fact I already do it this way to append to failed task when condition not meet. I found it's because in yaml if taskList is empty or "" it will still be accepted in go.
I already come up with a fix for these issues and will PR tomorrow after full testing.

[2021-04-20 16:28] Tomcli opened #553 "Document the any sequencer condition usage and its limitation at feature.md"
@pugangxa, can you also summarize the any sequencer condition usage and its limitation (like the succeeded too quickly in this example) at the feature.md? thanks
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/FEATURES.md#any-sequencer

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/issues/550#issuecomment-823419287_

[2021-04-20 17:13] #548 closed

[2021-04-20 19:09] Tomcli opened #554 "rebase kfp-tekton to kfp 1.5.0 release"
/kind feature

**Description:**
/assign @ckadner

Note: kfp 1.5.0 sdk doesn't have a release yet because they are working on some v2 changes.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-04-21 02:09] Tomcli commented on #547
I'm able to fix the first bug. We need to rebase to kfp 1.5.0 for our next release so probably I might not able to work on the second bug this week.

@pugangxa I'm having a hard time to figure out where did the recursive graph handles the when condition (for the second bug), do you have any insight on this? thanks

e.g. with dsl.condition (a == b):
           recursive_graph(). # <- this graph won

[2021-04-21 04:50] pugangxa commented on #547
Sure, if you are busy I can take a look at the second bug.

[2021-04-21 14:17] pugangxa commented on #547
The second issue also exists for loop, for below code there's no when condition generated too.
[code]
For now the condition only processed tasks at https://github.com/kubeflow/kfp-tekton/blob/e68e03e6c317dd02691387815235493d9b53bc0d/sdk/python/kfp_tekton/compiler/compiler.py#L683-L692
Need do it for loop and graph too.

[2021-04-21 19:06] #554 closed

[2021-04-22 17:29] #551 closed

[2021-04-23 00:03] Tomcli commented on #552
/close by #557

[2021-04-23 00:03] Tomcli commented on #553
/close
by #557

[2021-04-23 00:03] #553 closed

[2021-04-23 00:04] Tomcli commented on #552
/close
by #557

[2021-04-23 00:04] #552 closed

[2021-04-23 05:39] huixa commented on #551
use the new code to test it, it's ok.

[2021-04-23 05:45] huixa commented on #552
**use the new code to test it, it's ok.**

**case 1: when no the condition and task list:**
_[root@symtest21 kfp-tekton]#
time="2021-04-23T03:07:20Z" level=info msg="Should provide either taskList or conditions to watch."
[root@symtest21 kfp-tekton]#_

**case 2: when all the conditions failed:**
_[root@symtest21 kfp-tekton]# kubectl -n kubeflow logs any-sequencer-any-test-qxq7p-pod-bgf7t
time="202

[2021-04-23 16:44] #547 closed

[2021-04-26 02:55] pugangxa commented on #542
Spent some time on the any-sequencer and loop issues, will start working on this.

[2021-04-27 01:10] Tomcli opened #569 "support small K8s volume using non cloud service based storageclass"
/kind feature

**Description:**
Currently on IBM Cloud, all the storage classes are created by the IKS service which has to go over 3-5 minutes billing process when dynamically creating new K8s volume. Thus, we need to have one storageclass option for quick and small volume provision without going over the IBM Cloud billing process.

We have few options for public cloud
1. Have a predefined NFS/bl

[2021-04-27 20:49] Tomcli opened #570 "verify upcoming Tekton 0.24 on kfp-tekton"
/kind feature

**Description:**
Upcoming Tekton 0.24 release could have critical change to the Tekton home directory behavior. Our internal team will be moving to it soon, so we need to verify it before it breaks our code.

This will go in our 0.9.0 release since Tekton 0.24 is not out yet.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-04-28 00:56] Tomcli commented on #570
master branch doesn't have issue for the path sensitive examples. The home directory behavior in Tekton 0.24 are not in master branch yet. Will verify again when Tekton 0.24 is officially released.

[2021-04-28 01:01] Tomcli commented on #546
/close
reopen it if this issue still exist

[2021-04-28 01:01] #546 closed

[2021-04-29 02:03] Tomcli commented on #569
This is useful for pipelines using big data passing and volume op because they need to provision storage fast.

[2021-05-03 20:01] #511 closed

[2021-05-05 23:53] Tomcli opened #577 "Tekton variables for custom task results are not sanitized when using it in condition"
/kind bug

**What steps did you take and what happened:**
When defining custom task output as `return_value` (with underscore), we need to sanitize it in to hyphen `-` order to let the Tekton controller understands what to do. These variables are already sanitized for regular tasks I/O, but the below edge case wasn't sanitized within custom task.
[code]

We need to update the compiler to cover thi

[2021-05-06 00:06] Tomcli opened #578 "Log API didn't cover the edge case with custom tasks that don't produce logs"
/kind bug

**What steps did you take and what happened:**
With the introduction of Tekton custom task, some custom task doesn't need to create new pods to run workloads. This means there's no logs for the custom task since it only get back the controller status. The current log API didn't cover this edge case and panic because log API was introduced before Tekton diverge its pipelinerun spec with

[2021-05-06 00:25] Udiknedormin commented on #577
This one has bigger priority for us than #578, as it makes `CEL_ConditionOp` fail PipelineRuns immediately on the validation phase, as Tekton validates the results presence before start (that changed recently, it used to fail when the task result was about to be used).

[2021-05-06 00:59] Tomcli commented on #577
@Udiknedormin The Tekton controller doesn't check the Tekton variable mapping for custom tasks. It could be a bug when they introduce this feature. I will open an issue to the Tekton community and see anyone can pick that up.

[2021-05-06 05:48] vincent-pli opened #580 "Cache server only effect in certain namespace for now, should has ability to watch all namespaces"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
For now, `cache server` will only effect on one certain `namespace`(namespace: kubeflow), it should has ability to watch all namespaces.

To enable such ability, there are two steps required:

1. `cache server` has variables `namespace_to_watch` to define the `namespace` it effected

[2021-05-06 18:00] Tomcli commented on #580
@vincent-pli for multi-users mode, we will patch these manifests to the cache server
https://github.com/kubeflow/kfp-tekton/tree/master/manifests/kustomize/base/installs/multi-user/cache

I found that the cache permission didn't get enough permission to watch taskruns for all namespace, so I PRed #581 to fix this issue.

[2021-05-06 18:02] Tomcli commented on #580
In short, the multi-users manifests will patch the `NAMESPACE_TO_WATCH` env to `''` to let the cache server watch all namespace. Then it also patch the necessary clusterrole and clusterrolebinding permission as well.

[2021-05-06 19:07] #577 closed

[2021-05-06 21:06] #580 closed

[2021-05-06 23:33] #578 closed

[2021-05-11 12:39] Udiknedormin commented on #570
@Tomcli It looks like 0.24 is [officially released](https://github.com/tektoncd/pipeline/releases/tag/v0.24.0) now.

[2021-05-11 13:24] Udiknedormin opened #584 "recursion miscompiles PipelineParams"
/kind bug

**What steps did you take and what happened:**
Create a looping-like recursion with conditionals on both the original and recursive call:

[code]

Two files produced:

"recursion.yaml"
[code]
[code]

**What did you expect to happen:**

Note how the main call miscompiles PipelineParams as inputs instead of task outputs:
[code]
...while recursive call miscompiles the same PipelineParams a

[2021-05-12 00:21] Tomcli commented on #570
@Udiknedormin I tested with new Tekton 0.24 and don't see any problem with it. We already disabled the home and work directory overwrite when we deploy Tekton as part of Kubeflow since the early 2020. The only way this can cause problem is from the user container. Let us know if you see any issue on Tekton 0.24 release and we can fix it accordingly.

[2021-05-12 08:24] Udiknedormin commented on #570
@Tomcli We disabled it on our side too and saw no problems. We haven't tested any other stuff from 0.24 yet though.

[2021-05-15 09:00] #584 closed

[2021-05-17 16:43] Udiknedormin opened #590 "User-defined resource-based custom tasks"
/kind feature

**Description:**
It's currently possible to define a new custom task in the user land. However, it's not possible to generate neither `taskSpec` nor a new resource for that component, like the `TektonCompiler` itself does for `dsl.ParallelFor`. Due to that, what is possible to achieve with custom task is limited.

Without adding support for either `taskSpec` (when it's merged into T

[2021-05-17 17:33] Tomcli opened #591 "Enhance error checks for invalid nested recursion"
/kind feature

**Description:**
The Python DSL may not able to map the parameters correctly when a user defines a nested recursion. KFP Argo 1.5.0 is able to catch the incorrect parameters with the latest Argo CLI whereas Tekton CLI didn't check for it. Since Tekton custom task doesn't have task results to verify is the output parameters actually exist, we need to add our own validation functions

[2021-05-17 17:57] Tomcli commented on #590
I can add some new fields to the containerop to take raw yaml as custom task spec. As for custom task that needs specialized processing such as pipelines-in-pipelines, we will need to ask users to implement an inheritance class that has similar functions as how we generate pipelineloop CR.

[2021-05-17 17:57] Tomcli commented on #590
/assign

[2021-05-18 12:12] Udiknedormin commented on #591
@Tomcli So miscompiling of this example is a problem in the original kubeflow-pipelines Argo compiler? Can it be fixed in kfp-tekton or does it require a fix in Argo version too?

[2021-05-18 12:14] Udiknedormin commented on #590
@Tomcli The extra-fields and custom resource generation / custom task spec is much more important. As I said, the pipelines-in-pipelines can be handled if it's implemented (not an elegant solution but it works).

[2021-05-18 23:45] Tomcli commented on #591
I will open another issue once I find a way to fix it in Tekton. This issue is for fixing the parameter validation.

[2021-05-19 05:52] #542 closed

[2021-05-20 01:09] Tomcli commented on #590
#593 able to accept the custom task spec as it and generate a new yaml for it. If there are a list of custom tasks you want to have more specific DSL integration, let us know and we will evaluate them.

As for pipelines-in-pipelines, personally I would recommend to see can we work around with pipeline loop. As far as I know, pipelines-in-pipelines only has 2-3 active reviewers and we need at least

[2021-05-20 06:00] pugangxa opened #594 "AnySequencer: exposing "status" instead of failure"
/kind feature

**Description:**
As tested by @sswarna, when no conditions of its dependencies are met, AnySequencer simply fails. That is not the expected behaviour (or at least not the default one) --- it is expected that, like conditions, AnySequencer will be marked as "skipped".

Because Tekton currently provides no possibility to "skip" a task or even a custom task after it started execution,

[2021-05-20 06:00] pugangxa commented on #594
@Udiknedormin Will implement this in this issue.

[2021-05-20 06:03] pugangxa commented on #594
/assign

[2021-05-20 06:23] pugangxa commented on #594
When statusPath is not specified, skippingPolicy and errorPolicy will be ignored, and original `failOnError` behavior will be kept. Or will check skippingPolicy must be one of `skipOnNoMatch` or `skipOnNoMatch`, errorPolicy must be one of `continueOnError` or `failOnError`

[2021-05-20 19:21] Tomcli opened #595 "kfp-tekton 0.8.0 Pypi install may fail"
/kind bug

**What steps did you take and what happened:**
When a user install kfp-tekton sdk with `pip install kfp-tekton --upgrade` without building KFP 1.5.0 from source, it will show the below errors because KFP skipped the 1.5.0 SDK release.
[code]

**What did you expect to happen:**

pip install from pypi should work without errors.

**Additional information:**
[Miscellaneous information that

[2021-05-20 19:22] Tomcli commented on #595
/assign @ckadner

[2021-05-22 09:53] #590 closed

[2021-05-24 10:55] #594 closed

[2021-05-24 23:53] Tomcli opened #599 "Make SDK compile nested recursion with conditions in Tekton"
/kind feature

**Description:**
Currently when compiling any nested recursion pipeline to Tekton, the compiler doesn't place the nested loop reference correct. Using the below example,
[code]

When compiled to Argo, it will look like this
![argo](https://user-images.githubusercontent.com/10889249/119419952-27a01280-bcb0-11eb-8445-6e1b17133ac6.png)

However, when compiled to Tekton, the loop refere

[2021-05-24 23:56] Tomcli commented on #599
#591 has another example for when using custom task

[2021-05-25 00:04] Tomcli commented on #599
@pugangxa are you able to take on this issue? I'm not sure which part of the code handles the loop references for recursion.

[2021-05-25 00:09] Tomcli commented on #591
So looks like the Tekton compiler and Argo have difference issue. For Tekton I opened a new issue #599 for fixing the loop custom task location. The Argo error generated from the Argo CLI seems not relevant because the missing input parameter is actually in the same Argo template. It seems like an Argo CLI bug in the 2.x version since 3.x CLI has a different validation method that didn't work on K

[2021-05-25 02:01] pugangxa commented on #599
Sure, I will take a look.

[2021-05-25 02:01] pugangxa commented on #599
/assign

[2021-05-25 03:17] pugangxa commented on #599
Seems it works for me. Using the example above, after fixed a key error, seems the nested recursion taskref is generated. @Tomcli

[2021-05-28 16:30] Udiknedormin opened #603 "AnySequencer: for success, the status is "Succeeded" but should be "Completed""
/kind bug

As described in title: when an AnySequencer finishes execution successfully, its `status` is "Succeeded" instead of "Completed".

[2021-05-29 00:07] Tomcli commented on #603
we probably need to change this line? https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/any-sequencer/cmd/root.go#L51

/cc @pugangxa
is this what your team want to change?

[2021-05-29 08:08] pugangxa commented on #603
@Udiknedormin In my opinion, when an AnySequencer finishes execution it's completed so failed or skipped is also completed right? So now there's status `Succeeded`, `Failed` and `Skipped`, I think if it's not completed `Failed` and `Skipped` why can not it be `Succeeded`?

BTW, I saw other discussion in your repo, if there's more enhancements needed, please summarize and I can do it all at one tim

[2021-05-31 08:25] Udiknedormin commented on #599
@pugangxa @Tomcli What's the status of this issue?

[2021-05-31 12:09] pugangxa commented on #599
Just wait for review and approve. @Tomcli

[2021-06-01 01:36] jinchihe commented on #603
/assign @pugangxa

[2021-06-01 06:34] Udiknedormin commented on #603
@pugangxa I'm not aware of any more issues with AnySequencer. Other than that value of status, it seems to be working fine to me.

[2021-06-01 07:20] pugangxa commented on #603
OK, then I will fix this now.

[2021-06-01 07:25] #599 closed

[2021-06-01 16:10] #603 closed

[2021-06-01 17:18] Tomcli opened #605 "enhance the pipelineloop controller for embedded custom task spec"
@pugangxa Yes right now the Run CR just created without any validation. From the [TEP 61](https://github.com/tektoncd/community/pull/393), the recommended feedback is the have some kind of async validation from the custom controller. So the not all the RUN CRs will be pending when one of the custom task validation webhooks is failing. Let me open another issue to track these enhancement.

To enhan

[2021-06-01 17:23] Tomcli commented on #605
The only tricky thing on this enhancement is that with embedded spec, the custom controller only can see the task spec when the RUN CR is submitted/created. Whereas with taskRef, the spec are created before the pipelineRun is running which helps catching syntax/spec errors early on.

[2021-06-01 17:38] Tomcli commented on #605
If there is a HTTP validation API or binary for the whole pipelinerun on custom task, the KFP server can use that API/binary to verify the spec before creating the pipelineRun CR. However, since every new custom task api/kind is host on a different custom task server, this approach is not viable unless we have all custom task APIs/Kinds being implemented in one single controller. In which is sort

[2021-06-02 05:10] pugangxa commented on #605
I prefer to not do it in one controller. At the worst case we did nothing, I think seeing the task spec when the RUN CR submitted/created is still acceptable, as long as it can fail and let user know what happened. It's the same process as the normal tasks.

[2021-06-02 10:44] Udiknedormin opened #607 "[SDK] Nested recursion with .after mis-compiles"
/kind bug

**What steps did you take and what happened:**
[code]

generates the following `_pipelineloop_cr1.yaml` file:

[code]

Note:
[code]

A couple of problems here:
* `condition4`: while `nested-recursion-pipeline-graph-flip-component-b-2` is passed as a dependency (passed up from `flip-coin-3), `print-2` is not
* `flip-coin-3` lists `graph-flip-component-b-2` as its dependency, but that tas

[2021-06-02 17:17] #82 closed

[2021-06-02 17:17] #348 closed

[2021-06-02 17:17] #20 closed

[2021-06-02 17:17] #343 closed

[2021-06-02 17:17] #71 closed

[2021-06-02 17:17] #70 closed

[2021-06-02 17:17] #74 closed

[2021-06-02 17:17] #78 closed

[2021-06-02 17:17] #22 closed

[2021-06-02 17:17] #18 closed

[2021-06-02 17:17] #61 closed

[2021-06-02 17:17] #144 closed

[2021-06-02 17:17] #147 closed

[2021-06-02 17:17] #176 closed

[2021-06-02 17:17] #197 closed

[2021-06-02 17:17] #87 closed

[2021-06-02 17:17] #253 closed

[2021-06-02 17:17] #255 closed

[2021-06-02 17:17] #252 closed

[2021-06-02 17:17] #258 closed

[2021-06-02 17:17] #241 closed

[2021-06-02 17:17] #267 closed

[2021-06-02 17:17] #274 closed

[2021-06-03 00:36] Tomcli commented on #607
/assign

[2021-06-03 02:10] pugangxa commented on #607
This part is really complicated now and impacted by a lot of places, I will try to fix it, hope this would be the last one...

[2021-06-03 02:12] pugangxa commented on #607
This part is really complicated now and impacted by a lot of places, thanks very much @Tomcli and I can help if needed.

[2021-06-03 19:14] Tomcli commented on #570
/close
we don't see any issue for tekton 0.24

[2021-06-03 19:14] #570 closed

[2021-06-03 19:23] Tomcli opened #610 "Unit and e2e tests didn't check generated loop and personal custom resources"
/kind feature

**Description:**
The current unit tests didn't compare the generated loop and personal custom resources (e.g. pipeline loop, custom task spec) against the compiled version. The challenge here is that the unit tests might not aware of how many custom resources are generated per pipeline. So we need to extend our tests and update the SDK to cover these cases.

As for e2e tests, we act

[2021-06-03 19:24] Tomcli commented on #610
@ckadner do you have any testing code when you did the e2e test last time? we might want to break them into smaller tests and some of them as unit tests.

[2021-06-03 22:17] ckadner commented on #610
@Tomcli -- the existing "end-to-end" tests are generically generated on the fly based on the compiled YAML files found in the `testdata` directory. They are merely "log verification" tests.

The problem you are describing calls for a new test suite with dedicated test cases for specific use cases. We should add one TestSuite that deals with the CRD creation/verification.

[2021-06-03 22:29] Tomcli commented on #610
thanks @ckadner, yes we probably need a new set of tests just to verify these new use cases. e2e test is too much for checking every small PRs. These tests can be similar to what we have for unit tests but specialized to verify the generated CRDs. And have another test that can apply all those CRDs to an actual cluster.

[2021-06-04 03:07] #607 closed

[2021-06-04 05:01] ScrapCodes commented on #605
Hi Tommy, I have explored this, we are already using async validation and not depending on webhook validation. Though webhook exists, but it is noop in my understanding. Please correct me, if this is not the case.

/cc @Tomcli

[2021-06-04 07:50] pugangxa commented on #605
Do you mean the code here? https://github.com/kubeflow/kfp-tekton/blob/af9f03d000cc69aaac7aee91361cad3b114347ff/tekton-catalog/pipeline-loops/pkg/reconciler/pipelinelooprun/pipelinelooprun.go#L183-L188

Yes I think it's good enough now. IMO it's not the same as webhook validation and we can add more logic here if needed in future.

[2021-06-04 15:17] #268 closed

[2021-06-04 15:17] #242 closed

[2021-06-04 15:17] #273 closed

[2021-06-04 15:17] #315 closed

[2021-06-04 15:17] #324 closed

[2021-06-04 15:17] #326 closed

[2021-06-04 16:25] Tomcli commented on #605
thanks @ScrapCodes, I think the only concern here is to make sure the `Run` can fail in case the validate method or the custom controller is not running. Which can be handled by the `timeout` feature you are implementing.

Let me change this issue to add timeout once your PR is merged.

[2021-06-05 01:04] Tomcli opened #611 "Create a validation CLI for commonly used Tekton custom task CRDs"
/kind feature

**Description:**
The Tekton CLI only can verify official Tekton CRDs but not custom task CRDs. Therefore we often time can see things are compiled and able to run without complain even though the custom task CRD syntax is completely wrong. Thus, we need to create some CLI to verify the common Tekton custom task CRDs that we use such as pipeline loop.

Goal: Create a CLI/script to ru

[2021-06-05 01:05] Tomcli commented on #611
/assign @ScrapCodes

[2021-06-06 12:26] ScrapCodes commented on #611
/assign

[2021-06-07 11:35] mat0pad opened #612 "Allow kubeflow to render graph when using pipelineRef or taskRef"
/kind feature

Description:
The Kubeflow dashboard fails to render all custom CRDS using pipelineRef and taskRef. This makes it differcult to reuse existing Tasks or Pipelines created on the cluster.

Goal: Allow rendering of dashboard graph when using pipelineRef and taskRef

[2021-06-07 14:22] ScrapCodes commented on #605
This may also be related: https://github.com/tektoncd/pipeline/issues/3997

[2021-06-08 13:34] fenglixa commented on #610
+1 like this.

[2021-06-08 13:39] fenglixa commented on #612
@mat0pad Do you have use case for this issue?
This is the design of  kubeflow UI. which need to import one object and render graph based on it, I am not say it is not doable. but much more complex.  That's why we pushed tekton community to support pipelineSpec and taskSpec for custom task feature.

[2021-06-09 00:59] Tomcli commented on #612
Hi @mat0pad, do you have a use case where you need to use pipelineRef and taskRef? We are only planning to support taskRef for recursion use case only. The KFP-Tekton UI is mainly for rendering generated pipelines from the KFP-Tekton SDK.

[2021-06-09 06:45] mat0pad commented on #612
Hi @fenglixa @Tomcli I see multiple use cases and benefits for this:

- Having multiple pipelines using the same tasks/pipelines requires a mantainer to update all taskSpecs or pipelineSpecs manually if a change is needed. Say each pipeline have a task that clones the source code then if the version control changed, hosting service or protocol then the mantainer would need to update all pipelines

[2021-06-09 16:55] Tomcli commented on #612
Thanks @mat0pad, I think your use case is more suited for the Tekton dashboard. Kubeflow Pipeline dashboard is fundamentally different because all the information in the dashboard except pods and events are pulled from a relational database where we archive all the Tekton pipelineRun and metadata. This way we are not limited to the Kubernetes etcd service and able to store tens of thousands of job

[2021-06-10 11:44] ScrapCodes commented on #611
One of the challenges I am facing in implementing this is, validations are not same for embedded spec and normal spec. For example, it is ok for an embedded spec to not have field `metadata.name` and not for normal spec or PipelineLoop.

[2021-06-10 12:01] fenglixa commented on #611
Thanks @ScrapCodes , I think it's OK to only validate the madatory filed, and it will be better if we can ensure the format of the custom task definition is correct.
I am glad to review any PRs for this issue. : )

[2021-06-10 12:15] ScrapCodes commented on #611
@fenglixa Thank you !

I have opened my WIP PR #614 , you can take a look.

[2021-06-10 17:37] Tomcli commented on #595
@ckadner are you planning just update the kfp sdk version to 1.6.x to work around this? I think some other users are starting to hit this issue.

[2021-06-10 17:38] Tomcli commented on #595
1.6 sdk release is more focus on the v2 design, so no significant impact to the actual yaml other than few bug fixes.

[2021-06-14 17:03] #595 closed

[2021-06-14 17:16] #611 closed

[2021-06-14 18:37] Tomcli opened #618 "Move Travis unit tests to Github Actions"
/kind feature

**Description:**
Kubeflow community is moving away from Travis and we don't have control of what Travis plan we can choose. Thus, moving to Github Actions can give us more flexibility on what to enable since the committers are also the repo editor right now.

One tricky thing with this change is the Docker build because Github Actions has a different mechanism for running the Docker

[2021-06-14 19:20] Tomcli commented on #618
/assign

[2021-06-15 17:21] Udiknedormin opened #620 "Recursion-in-recursion mis-passes parameters"
/kind bug

**What steps did you take and what happened:**

double_recursion.py:
[code]

double_recursion.yaml:
[code]

double_recursion_pipelineloop_cr1.yaml:
[code]

double_recursion_pipelineloop_cr2.yaml:
[code]

**What did you expect to happen:**
Note how in double_recursion_pipelineloop_cr1.yaml, `params.condition-cel-2-outcome` and `params.condition-cel-3-outcome` were passed from the outer l

[2021-06-15 17:39] Udiknedormin opened #621 "Recursion-in-recursion passes task results as params in nested call"
/kind bug

**What steps did you take and what happened:**

double_recursion_dep.py:
[code]

double_recursion_dep.yaml:
[code]

double_recursion_dep_pipelineloop_cr1.yaml:
[code]

double_recursion_dep_pipelineloop_cr2.yaml:
[code]

**What did you expect to happen:**
Note how in outer loop, the output of condition-cel-4 (array indexer) is referred to as:
* `$(tasks.condition-cel-4.results.outcome)`

[2021-06-16 00:50] Tomcli commented on #620
/assign

[2021-06-16 00:50] Tomcli commented on #621
/assign

[2021-06-16 16:14] Tomcli opened #624 "update tekton go client and deployment to 0.25 release"
/kind feature

**Description:**
We need to update the tekton go client and deployment to 0.25 to support the below two features
- Embedded custom task
- Graceful Pipeline Run Termination

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-06-17 01:47] Tomcli opened #627 "Update SDK to support embedded spec for custom task"
/kind feature

**Description:**
This issue needs to build on top of #626

Update SDK to support embedded spec for custom task instead of using taskRef.

Requirements:
1. Have a flag (python variable) to switch back to the old taskRef behavior for backward compatibility.
2. Make parallel pipeline loops and user custom task to use taskSpec (recursive loop will keep using taskRef because it needs  se

[2021-06-17 01:48] Tomcli commented on #627
cc @ScrapCodes

We can split this issue into two part in case we need to split the work. Can you work on the first TODO in this issue?

[2021-06-17 03:22] #624 closed

[2021-06-17 13:17] ScrapCodes commented on #627
Thanks @Tomcli, on it.

[2021-06-17 22:14] Tomcli commented on #627
/assign @ScrapCodes

[2021-06-18 19:00] #618 closed

[2021-06-18 19:09] ckadner opened #630 "GitHub actions should reuse the same Python `$VIRTUAL_ENV` for all Make targets"
It looks like the the `VIRTUAL_ENV` gets (re)created for the Makefile targets that require it. We may want to find a way to re-use the same `VIRTUAL_ENV` for all the Make targets. But we can optimize this in the future.

[code]

_Originally posted by @ckadner in https://github.com/kubeflow/kfp-tekton/pull/619#discussion_r654627198_

[2021-06-18 21:56] #620 closed

[2021-06-18 21:56] #621 closed

[2021-06-22 23:39] blublinsky opened #634 "Nested loops pipeline does not run from notebook"
/kind bug

Converted nested loops python code to notebook, replacung

if __name__ == '__main__':
    from kfp_tekton.compiler import TektonCompiler
    TektonCompiler().compile(pipeline, __file__.replace('.py', '.yaml'))

with:

# Specify Kubeflow Pipeline Host
host=None

# Submit a pipeline run using the KFP Tekton client.
TektonClient(host=host).create_run_from_pipeline_func(pipeline, arguments

[2021-06-23 00:52] Tomcli commented on #634
Currently you have to create the Tekton loop resources before calling the `create_run_from_pipeline_func` function. To generate the loop resources, you can run the first part of the nested loop instruction
https://github.com/kubeflow/kfp-tekton/tree/master/samples/nested-loops#instructions

We introduced a new feature in Tekton v0.25 to embed all the loop resources into a single pipelinerun. PR #6

[2021-06-23 01:42] blublinsky commented on #634
The strange thing, is that when running Python code, It generates a single file containing everything, so I was assuming it will work in notebook as well.
So how is invocation should look like in the notebook?
I am not sure how to implement it. Can you sketch the code, please?

[2021-06-24 17:40] Tomcli opened #637 "PipelineLoop controller cannot handle nested inline custom task"
/kind bug

**What steps did you take and what happened:**
The current PipelineLoop controller can handle inline custom taskSpec on the first layer. However, for the inline taskSpec in the nested layer, it's still expecting the old client behavior.

[code]

We need to fix this and let all the nested spec to follow the new Tekton v0.25 API.

**What did you expect to happen:**

**Additional informati

[2021-06-24 17:43] Tomcli commented on #637
To reproduce this issue, deploy KFP-Tekton 0.9.0-rc0 with #635 and try the nested loop examples `withitem_multi_nested.yaml` and `withitem_multi_nested.yaml` from #633

[2021-06-24 17:46] Tomcli commented on #637
The error is coming from https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/pkg/reconciler/pipelinelooprun/pipelinelooprun.go#L187-L192

/assign @ScrapCodes

[2021-06-24 23:06] blublinsky commented on #634
I think I found the issue.
for pipelines v0.8.0,
It works with kfp-tekton==0.6.0 but not python library 0.8.1

[2021-06-25 00:44] Tomcli commented on #634
On 0.6.0, the nested loop feature wasn't implemented, so you are probably running an incomplete pipeline. This issue should be fixed in 0.9.0 as we are working on some enhancement to inline all the Tekton resources into one yaml

Here are the WIP PRs #633 #636 #635

[2021-06-25 00:47] Tomcli commented on #634
As for now, you have to follow this instruction to generate the Tekton resources separately because we just added the inline enhancement to the Tekton community few weeks ago in Tekton v0.25.0.

https://github.com/kubeflow/kfp-tekton/tree/master/samples/nested-loops#instructions

[2021-06-25 07:50] ScrapCodes commented on #637
Hi @Tomcli , the reason was trivial i.e. feature flag for custom task was not enabled.

#638

[2021-06-25 16:28] blublinsky opened #639 "When running a pipeline, for example flip coin, how do I add metadata to an operation"
/kind question

**Question:**
When I run flip coin example, I can see that conditions have metadata, but custom steps do not.
How do I add basic metadata to custom steps?

[2021-06-27 21:15] blublinsky opened #640 "Volume claim is generated with access mode ReadWriteMany for default storage class"
/kind bug

Here is a simple KFP application:

[code]

The execution requires a PVC for execution.

But if you look at generated yaml file, you will see

[code]
Which requires read write many access mode for a default storage class, which fails on PVC binding

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[code]
Which actually works

**Environment:*

[2021-06-28 17:11] Tomcli opened #644 "pipelineloop unit tests are broken after Tekton 0.25 upgrade"
/kind bug

**What steps did you take and what happened:**
when running `go test -v -cover ./tekton-catalog/pipeline-loops/pkg/reconciler/pipelinelooprun/`. Several unit tests are broken for pipelineloop, so we need to fix those tests.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Versi

[2021-06-28 17:11] Tomcli commented on #644
/assign @ScrapCodes

[2021-06-28 17:12] #637 closed

[2021-06-28 23:40] Tomcli commented on #644
You can add the go test command as another github action like this to make sure the pipelineloop tests are not broken in the future.
https://github.com/kubeflow/kfp-tekton/blob/master/.github/workflows/kfp-tekton-unittests.yml#L71-L83

[2021-06-29 00:17] Tomcli commented on #640
You can configure the workspace mounting strategy using these env variables https://github.com/kubeflow/kfp-tekton/tree/master/sdk#big-data-passing-workspace-configuration

[2021-06-29 15:31] blublinsky commented on #640
Thanks @Tomcli, it works great

[2021-06-30 02:07] Tomcli opened #647 "Parallel loops inside recursion graph are not generated properly"
Based on @pugangxa 's request, I created this example. So it looks like @pugangxa is right where loops inside recursion graph is embedded in the main pipelinerun yaml instead of the recursion yaml.

Example:
[code]

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/issues/633#issuecomment-870790711_

[2021-06-30 02:10] Tomcli commented on #647
Right now, all the parallel loops TaskSpec are injected to the main pipelinerun yaml. However, for parallel loops that are inside a recursion graph, we need to inject the loop taskSpec inside the recursion yaml instead of the main pipelinerun yaml.

[2021-06-30 02:14] Tomcli commented on #647
@pugangxa @ScrapCodes One of you can pick it up when you get time.

[2021-06-30 02:49] pugangxa commented on #647
/assign
Sure, I can have a look.

[2021-07-01 02:44] #488 closed

[2021-07-01 17:48] ckadner opened #651 "Fix WML"
Yeah, ignore the failing link. I will open a separate issue, to fix the link and check why the script does report it as 404 when it should follow the redirect (which it does when I run it locally)

_Originally posted by @ckadner in https://github.com/kubeflow/kfp-tekton/issues/650#issuecomment-872436417_

[2021-07-01 17:55] Tomcli commented on #651
@ckadner they added the redirect this morning, it was 404 yesterday after noon since they are doing some migration.

[2021-07-01 17:56] Tomcli commented on #651
the test should be passing now after triggering the github actions again

[2021-07-01 18:01] ckadner commented on #651
@Tomcli -- the redirected link also makes clear that besides updating the link, we may also have to update some code as I see a few deprecation notices here:

https://pypi.org/project/watson-machine-learning-client-V4/

https://ibm-wml-api-pyclient.mybluemix.net/

[2021-07-01 18:11] ckadner commented on #651
@ScrapCodes has updated the WML link in PR #646 -- Thanks :-)

https://github.com/kubeflow/kfp-tekton/pull/646/files#diff-5593f07227ed6d1768749d08cfc16e9da277758d19244819b3582be31ba4063bR3

[2021-07-01 18:13] Tomcli commented on #651
thanks @ckadner, I think we need to update our WML example and services because we were using V4 beta. The V4 GA also includes all the autoAI stuff so the python code might also need to change.

[2021-07-02 00:09] #647 closed

[2021-07-02 10:28] jinchihe opened #652 "Any Sequencer hangs if some dependencies skipped and other all dependencies failed"
/kind bug

**What steps did you take and what happened:**
Any Sequencer hangs if some dependencies skipped and other all dependencies failed .

For example, if Any Seqencer depends on 3 tasks, task1 and task2 and task3, task1 and task2 failed, but task3 skipped, the Any Seq will hang.

**What did you expect to happen:**
Any Sequencer should be exits since all dependencies failed or skipped.

**Add

[2021-07-02 10:28] jinchihe commented on #652
/assign

[2021-07-02 17:26] #627 closed

[2021-07-05 08:25] #652 closed

[2021-07-05 09:22] Udiknedormin opened #656 "dsl.ParallelFor getting wrong results for list of non-dict objects"
/kind bug

**What steps did you take and what happened:**

[code]

results in:
[code]
Note the correct:
[code]
but incorrect:
[code]

**What did you expect to happen:**
Any (trivially?) jsonifiable types should be supported by `dsl.ParallelFor`.

**Additional information:**
It looks like python-stringifying, instead of json-dumping, the argument if the first element is not a dictionary, in [HEAD's

[2021-07-05 12:54] pugangxa commented on #656
/assign

[2021-07-06 16:32] #656 closed

[2021-07-06 23:42] Tomcli opened #659 "Enhance unit tests: Add pipelineloop validation"
/kind feature

**Description:**
As part of our unit tests, we also want to check the pipelineloop validation to make sure all the parameters and tasks are mapped correctly.

Todo:
Update the unit tests below to also check against the pipelineloop validation cli.
https://github.com/kubeflow/kfp-tekton/blob/master/.github/workflows/kfp-tekton-unittests.yml#L27-L28

Github actions are possible to ins

[2021-07-06 23:43] Tomcli commented on #659
/assign @ScrapCodes

[2021-07-07 02:44] #506 closed

[2021-07-08 00:54] Tomcli opened #661 "pipelineloop test will occasionally fail because the generated parameters are not in order"
Also I realize one of the pipelineloop test will occasionally fail because the generated parameters are not in order. FYI https://github.com/kubeflow/kfp-tekton/pull/512/checks?check_run_id=3004430660

Let me open another issue for this.

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/issues/660#issuecomment-876033213_

[2021-07-08 00:54] Tomcli commented on #661
/assign @ScrapCodes

[2021-07-08 13:35] #661 closed

[2021-07-08 17:52] Tomcli opened #664 "Single character parameters need to have double quote to avoid yaml keyword conflicts"
I think this is a bug, we should have double quote on single character parameter for n and y to avoid this issue. For now I will lgtm and open another issue for it

_Originally posted by @Tomcli in https://github.com/kubeflow/kfp-tekton/pull/660#discussion_r666403707_

[2021-07-08 17:53] Tomcli commented on #664
to reproduce this issue, use either `n` or `y` as the parameter name or key and the issue will be reproduced. We need to put double quotes on them to avoid these conflicts

[2021-07-08 17:53] #659 closed

[2021-07-09 05:16] pugangxa commented on #664
/assign
Strange it works for me with double quotes on. Anyway I will make it clear.

[2021-07-09 07:25] pugangxa commented on #664
I found when I run the file conditions_and_loops.py(change n1 back to n) directly then the yaml would be fine. But in test with GENERATE_GOLDEN_YAML being true then it would be error.
Seems it's due to yaml dump/load, see https://github.com/yaml/pyyaml/issues/247

[2021-07-13 05:12] #664 closed

[2021-07-14 21:18] #644 closed

[2021-07-15 19:09] Tomcli opened #668 "pipelineloop unit tests expected outputs still have unsorted parameters"
/kind bug

**What steps did you take and what happened:**
Error occurs:
https://github.com/kubeflow/kfp-tekton/runs/3079953879?check_suite_focus=true

It rarely happens during the tests, so it needs to run the unit tests 5-10 times in order to reproduce it.

/assign @ScrapCodes

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving t

[2021-07-19 16:18] #668 closed

[2021-07-21 07:26] #496 closed

[2021-07-21 22:38] Tomcli opened #670 "Migrate components away from containerOp"
/kind feature

**Description:**
We need to update all our helper functions and examples to use component.yaml instead of containerOp because containerOp is going to be removed in the v2 release.

- [ ] [Hyperparameter tuning using Katib](/samples/katib)
- [ ] [Training and Serving Models with Watson Machine Learning](/samples/watson-train-serve#training-and-serving-models-with-watson-machine-learn

[2021-07-21 22:43] Tomcli commented on #670
/assign

[2021-07-21 22:43] Tomcli commented on #670
/assign @yhwang

[2021-07-21 22:46] Tomcli commented on #670
@yhwang can you take care of
- [ ] https://github.com/kubeflow/kfp-tekton/tree/master/samples/nested-pipeline
- [ ] https://github.com/kubeflow/kfp-tekton/tree/master/samples/flip-coin
- [ ] https://github.com/kubeflow/kfp-tekton/tree/master/samples/trusted-ai

some of them should be partially using component.yaml already

[2021-07-22 00:40] Tomcli opened #672 "UI needs to support new inline loops and recursion rendering"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-07-22 00:44] Tomcli opened #673 "Convert any sequencer class from containerOp to component yaml"
/kind feature

**Description:**
containerOp class is deprecated in the new kfp version, the recommended way to define tasks now is using the component yaml. Here is an example for how to do it #671

The any sequencer class is inheriting from containerOp. If any containerOp function is missing from component, please record it in this issue.

**Additional information:**
[Miscellaneous information th

[2021-07-22 00:44] Tomcli commented on #673
/assign @pugangxa

[2021-07-26 17:55] Tomcli opened #678 "UI DAG should not crash when pods are not available."
/kind bug

**What steps did you take and what happened:**
When deleting the pipelinerun in kfp-tekton 0.9.0 UI after it completed, the UI DAG crashed because some pod information is not available. However, the archived pipelinerun should have enough information to display the DAG without crashing in the previous version.

The errors in the UI:

[code]

In this case, the UI should just have errors

[2021-07-26 17:55] Tomcli commented on #678
/assign @drewbutlerbb4

[2021-07-26 23:37] #678 closed

[2021-07-29 02:39] #673 closed

[2021-07-29 20:06] Tomcli opened #682 "Data passing doesn't work if the task output is both a file and a output parameter"
/kind feature

**Description:**
In this example, when the task's output is consumed as both file and parameter, KFP-Tekton compiler doesn't produce the correct yaml because we opted out output parameter in case the output file is more than 4KB. We need to either have a better way to handle it or issue warnings in the compiler to let users be aware of this issue.

https://github.com/Ark-kun/pipelin

[2021-07-30 17:23] Udiknedormin opened #683 "Recursion is not generating a resource, but uses it anyway"
/kind bug

**What steps did you take and what happened:**
Created a pipeline which uses a recursive graph component. Compiled.

[code]

Both compilations produced only one file, identical between the calls:
[code]

Note how "recur-and-condition-c901d-graph-recur-1" is referenced but not created as a resource.

**What did you expect to happen:**
I would expect the referenced resource to actually be

[2021-08-02 05:09] Tomcli commented on #683
After #512 , you need to add this extra config if you want to generate the recursive resource in a separate file
[code]

As for the long name, it was occuring on this line in the embedded resources. There some assuming on passing the whole group name to find out the nested recursion dependencies, so I need to refactor some functions in the next few days to address this issue.
https://github.com/ku

[2021-08-02 05:09] Tomcli commented on #683
/assign

[2021-08-03 02:57] #683 closed

[2021-08-03 11:19] Udiknedormin opened #687 "[SDK] No params passing for --taskSpec custom-tasks"
/kind bug

**What steps did you take and what happened:**
Reported to me by Kamil Huras from our team.

He passed params to a custom-task specified with --taskRef and --taskSpec option.

At least in some cases, for --taskRef the params have been generated:

[code]
results in:

[code]

...but for --taskSpec they are not:

[code]
results in:
[code]
Note how there are no `params` in the task, only in

[2021-08-03 22:01] #687 closed

[2021-08-06 17:23] Tomcli commented on #634
FYI for this issue should be fixed if you run with our 0.9.0 kfp-tekton release with Tekton 0.25+
https://github.com/kubeflow/kfp-tekton/blob/master/guides/kfp_tekton_install.md#standalone-kubeflow-pipelines-with-tekton-backend-deployment

[2021-08-09 16:38] yhwang commented on #670
try to note down the issues while updating testcases and samples:
- not sure how to use component.yaml with `dsl.InputArgumentPath`
  - sdk/python/tests/compiler/testdata/input_artifact_raw_value.py
- NotImplementedError: dsl.graph_component is not yet supported in KFP v2 compiler
   - sdk/python/tests/compiler/testdata/long_recursive_group_name.py
   - sdk/python/tests/compiler/testdata/loop_in_r

[2021-08-10 16:46] Tomcli opened #694 "Add rewrite_data_passing_to_use_volumes support for Tekton"
/kind feature

**Description:**
Add [rewrite_data_passing_to_use_volumes](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/_data_passing_using_volume.py) support for Tekton compiler, so users can pick their volume for passing big data. This feature is known for not working with artifact tracking, so we are only implementing it based on internal requirements because they ne

[2021-08-13 08:08] pugangxa opened #697 "Support user functions to be used in CEL context"
/kind feature

**Description:**
User can use CEL expressions in condition now, see https://github.com/kubeflow/kfp-tekton/blob/master/guides/advanced_user_guide.md
Now only the CEL builtin functions can be used. It's not possible for user to implement cel functions and used in CEL context. For example want to transform the input parameter and then output and implemented a simple function to be CEL

[2021-08-13 08:09] pugangxa commented on #697
Should log an issue and implement in https://github.com/tektoncd/experimental/tree/main/cel but we can discuss here firstly.

[2021-08-13 16:26] Tomcli commented on #697
Thanks, do you have a plan for how to add this plugin to the CEL controller?

cc @pritidesai @afrittoli Do we need to create a TEP or present at the API group if we are trying to change an experimental feature? I remember @vincent-pli was trying to do some enhancement on CEL, but that get dropped because it was not brought up in the community call.

[2021-08-13 16:41] pritidesai commented on #697
I would recommend to demonstrate it in the API WG to get attention from the folks, but that does not block from implementing it.

[2021-08-16 19:00] Udiknedormin opened #701 "Separate steps for writing results in case of multiple results"
/kind feature

**Problem:**
When multiple results are generated by a `ContainerOp`, Tekton cannot get their values correctly due to utilising step's termination message and it having a hard limit of 4KB (in practice closer to 3KB).

Here is an example of how it fails for as few as seven "parameter" results:
[code]

It happens despite the fact that each result is generally reasonably big:
* models:

[2021-08-17 23:20] Tomcli opened #703 "Upgrade pipelineLoop controller to Tekton 0.27 and support timeout feature"
/kind feature

**Description:**
Upgrade pipelineLoop controller to Tekton 0.27 and support the new timeout feature. We also need to make sure the pipelineLoop controller still backward compatible on Tekton 0.25 after the upgrade.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-08-17 23:20] Tomcli commented on #703
/assign @ScrapCodes

[2021-08-17 23:22] Tomcli opened #704 "Update SDK to support custom task timeout on Tekton 0.27"
/kind feature

**Description:**
Update SDK to support custom task timeout on Tekton 0.27. If timeout is not specified explicitly in custom task, then we don't add the timeout spec because we want to keep it backward compatible with older versions of Tekton.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-08-17 23:22] Tomcli commented on #704
/assign @ScrapCodes

[2021-08-17 23:26] Tomcli commented on #697
@pugangxa Do you have an example to make it work as part of the CEL controller? If you have it, you or our team can start take it forward to present in the Tekton API WG and get some feedbacks from the community.

[2021-08-18 09:32] pugangxa commented on #697
Thanks Tommy, will work out an example in 2~3 days and then move forward. Will update you then, thanks.

[2021-08-20 17:55] #701 closed

[2021-08-23 17:25] Tomcli opened #710 "Tekton result copy step didn't sanitize correctly"
/kind bug

**What steps did you take and what happened:**
The extra Tekton result copy for moving Tekton results didn't sanitize correctly with capital and underscore letters

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`):
* SDK Version:
* Tekton Version

[2021-08-23 17:43] #703 closed

[2021-08-23 20:51] #710 closed

[2021-08-24 00:52] #704 closed

[2021-08-24 02:12] pugangxa commented on #697
Sorry I have other stuff and will postpone this a little bit.

[2021-08-30 13:06] pugangxa commented on #697
@Tomcli The example is available https://github.com/pugangxa/experimental/tree/cel-plugin-poc, please take a look.
Also drafted a document about it.
[CEL User Functions.docx](https://github.com/kubeflow/kfp-tekton/files/7076859/CEL.User.Functions.docx)

[2021-08-31 16:32] Tomcli commented on #697
thanks @pugangxa, I will create a google docs based on your documents to present to the community and we also need to discuss how to workaround on the security part later on. But this is a good start to show the community what we want to have.

[2021-08-31 19:14] Tomcli commented on #697
@pugangxa I created this google doc for your proposal and updated some wordings and orders. Let me know if it looks good to you because I will use this doc to open the community issue and present in the API WG.
https://docs.google.com/document/d/1xJGl_GCOi1QtIShHUBiA4V9FoGw5roU9DfaEkpJ9dyw/edit?usp=sharing

[2021-09-01 05:39] pugangxa commented on #697
Thanks Tommy, it looks fine to me. I created an issue https://github.com/tektoncd/experimental/issues/789 and agree we can discuss how to workaround the security part later on. Can send the PR after discussion and your present in the API WG.

[2021-09-02 19:27] joeswashington opened #725 "Request: Ability to pass large pandas dataframes between pipeline components (without creating artifacts)"
We would like to have the ability to pass the results of a pandas dataframe operation from one pipeline component to another without having to create an input / output component.

In this case, we would need to make a CSV file in one component and share in the other component which is slow.

[2021-09-09 14:22] pugangxa commented on #725
What do you. mean of passing the results of a pandas dataframe? So if it's just internal in python I think you should include them in the same component.
Tekton support passing data with results or workspace, and kfp support using artifacts, this is the standard way for sharing data between components, so maybe can consider how to split your logic.

[2021-09-09 14:38] pugangxa commented on #697
@Tomcli Seems you are on vacation but any update on this? When will it be presented in the API WG?

[2021-09-09 16:19] Tomcli commented on #697
This week's Tekton API WG was cancelled because we have the US labor day on Monday. I will be presenting it in the next API WG on Sep 13.

[2021-09-09 16:31] Tomcli commented on #725
For @joeswashington 's use case, we probably need to invent a new custom task controller that trying to do similar things in Spark where the output of a pipeline task can be stored in the Spark driver's memory. These kind of use case usually is addressed in the Spark community instead of Tekton, so I would recommend to run all the data frame processing on a Spark cluster and use KFP-Tekton compone

[2021-09-10 12:02] Udiknedormin opened #729 "[Conditions] Nested conditions from the same custom task generate only one "when" entry"
/kind bug

**What steps did you take and what happened:**
When using two conditions, one nested in the other, that are based on different outputs from the same custom task, only the inner-most one is generated:
[code]
generated yaml:
[code]

Note:
[code]
i.e. condition "ab" is lost.

It's only so if the conditions are based on the same custom task. If they use two different custom tasks, it works

[2021-09-10 18:43] Tomcli commented on #729
/assign

[2021-09-13 20:22] Ark-kun opened #731 "Ensure full support for KFP's data passing"
/kind feature

**Description:**
KFP has simple and flexible data passing support.

* Any input argument can be consumed a) as value or b) as file.

* User can pass to any input: a) Constant string value, b) Task output, c) Pipeline/DAG input

There is a sample test pipeline that tests all these data passing interactions (as well as type compatibility):

https://github.com/kubeflow/pipelines/blob/9

[2021-09-14 00:58] Tomcli commented on #697
@pugangxa I presented the POC to the Tekton API WG today and here are the feedbacks
1. We need a more specific use case for why we want to use the go plugins for adding user functions. Some counter arguments are:
    - How does the user aware of the dependencies it should use in the go plugins? (I was arguing we can have a service that help generate the code for them)
    - Why we are limiting use

[2021-09-14 06:48] pugangxa commented on #697
Thanks Tommy.
1: I understand these counter arguments and in fact I also thought about them, but just seems there's no other better solution for this.
<summary>
- Yes I think have a service to generate the code is a good idea. Though still need keep the added dependencies the same. I  think as in the PoC it does not impact the normal process. So the current behavior will be kept, just up to user i

[2021-09-15 05:57] pugangxa commented on #731
@Tomcli As discussed let me know if it's still needed and see whether we can take some pieces.

[2021-09-15 06:02] Tomcli commented on #731
Related issue https://github.com/kubeflow/kfp-tekton/issues/682
There was some assumption when @fenglixa implemented the original big data passing function that are breaking some cases in this test. I will break it down into smaller pieces on what is needed to be fixed/added to support the remaining data passing use cases.

[2021-09-15 22:08] #729 closed

[2021-09-16 04:30] Tomcli commented on #731
/assign @ScrapCodes

[2021-09-16 05:20] pugangxa commented on #731
I think Hui Liu from our team is also looking at this. Please append your scope and progress to avoid overlap.

[2021-09-16 05:34] huixa commented on #731
@pugangxa  Thanks.
@ScrapCodes  I just begin to check below 2 parts, will check whether could pass the task output that gets consumed as value or file successfully in kfp-tekton. Will append more results or progresses after my testing. Thanks.
[code]

[2021-09-16 05:37] Tomcli commented on #731
Thanks @huixa
The pipeline should able to compile, but the Tekton spec is not correct due to the issue I linked above. Maybe after some testing, if you think it will be a lot of work. @huixa can work one the `# Pass task output; consume as value` part and @ScrapCodes can work one the `# Pass task output; consume as file` part

[2021-09-17 02:14] huixa commented on #731
@Tomcli  For the Alexey mentioned data passing file(https://github.com/kubeflow/pipelines/blob/master/samples/test/legacy_data_passing.py), there has 6 groups end-to-end cases.  I had tested the group 5 and 6, run each group independently, it will be successful. When run group 5 and 6 together, it will occur your mentioned #682(I will append the test case and error message etc on it.)
| Number | G

[2021-09-17 08:04] huixa opened #733 "Data passing doesn't work if the pipeline parameter that get consumed as file."
/kind bug

**Issue**
1. Here is a simple KFP application:
[code]
2. The generated yaml file is below:
[code]
3. The pvc and pv is ready:
[code]
4. When run the yaml, but the result is:
[code]

**Expect Result:**
Should handle this case when use the pipeline parameter as file.

**Environment:**
* Python Version (use `python --version`):  Python 3.8.6
* SDK Version:  kfp-tekton SDK 1.0.0
* Tekton Ve

[2021-09-17 16:22] Tomcli commented on #731
Sure no problem, I forgot can 3 and 4 work together or not. The implementation for passing a constant value or pipeline parameter is to prepend a step that convert the value/parameter into a file stored in an empty dir, then the main step can read that file to get the value/parameter.

[2021-09-22 01:25] Tomcli opened #735 "Optimize kfp-tekton SDK compile time"
/kind feature

**Description:**
When compiling the flip coin example, it takes around 0.25s to compile the pipeline DSL to Tekton yaml which is not very ideal for our internal users. So we want to optimize the compile time as much as possible.

On the initial testing, most of the bottlenecks are coming from loading/writing the dictionary into yaml/json. Thus we want to reduce those steps as much a

[2021-09-22 06:43] huixa commented on #731
@Tomcli and @pugangxa Finish the KFP's data passing testing, the result is below:
1)Run each group independently, all will pass except the group 4. Had logged #733 to trace.
2)Run group1,2,3,4 together, only the group 4 failed, it's same issue in #733.
3)Run group 5,6 together, it's failed due to #682.

| Number | Group | Status|
| ---- | ---- | ---- |
| 1 | # Pass constant value; consume as value

[2021-09-22 07:01] huixa commented on #682
When use the task output as file and value at same time, it will occur issue. So append my test case and result here.
A KFP application:
[kfp_app.py.txt](https://github.com/kubeflow/kfp-tekton/files/7208385/kfp_app.py.txt)

The generated yaml file:
[kfp_app.yaml.txt](https://github.com/kubeflow/kfp-tekton/files/7208386/kfp_app.yaml.txt)

The result:
[code]

[2021-09-22 22:52] Tomcli commented on #731
thanks @huixa, you want to fix 1 and 2, then let @ScrapCodes look into 3?

[2021-09-22 23:03] Tomcli opened #737 "Create new compiler helper method to return workflow dictionary only"
@Tomcli

One thing comes to mind: I noticed that `_write_workflow` has the ability to simply return the yaml in-memory:
[code]
However, `_create_and_write_workflow` doesn't propagate that, as it doesn't return the `_write_workflow`'s result. In the original KFP it wasn't a real issue, as the implementation of `_create_and_write_workflow` was as simple as:
[code]
so one could simply use `_create_wo

[2021-09-23 01:42] #735 closed

[2021-09-23 03:06] pugangxa commented on #733
Think need have a script to create the file firstly. @huixa can you help work on this?

[2021-09-23 03:25] huixa commented on #731
@Tomcli  I think it's ok for me and try to fix the #733. As a new hand, maybe I need some time on it. Thanks very much.

[2021-09-23 03:26] huixa commented on #733
@pugangxa Yes, I will try to fix it. Thanks.

[2021-09-23 03:30] pugangxa commented on #731
Never mind, if anything unclear or need help please feel free to find me.

[2021-09-24 12:36] Udiknedormin opened #738 "Multi-step (using size-estimations) tasks misdeclare outputs with underscore in the name"
/kind bug

**What steps did you take and what happened:**
Here is some script I used to checked whenever the paths in `tekton.dev/artifact_items` match the ones in the additional step generated due to using size-estimations:
[code]

Output:
[code]

Looking at the yaml:
[code]

Indeed, the path in the annotation and in the actual tekton task step do differ.

**What did you expect to happen:**

[cod

[2021-09-27 08:36] #738 closed

[2021-09-29 22:36] #733 closed

[2021-10-06 16:45] Tomcli opened #744 "Add task name as extra middle path segment for artifact big data passing"
/kind feature

**Description:**
During big data passing, all the artifacts right now are stored in the PVC in the root path. This is doable because every pipeline is using a new PVC. However, we want to also support PVC with S3 CSI storage and all pipelines will need to share the same S3 bucket. Therefore, we need to introduce some unique prefix (middle path segment) based on pipeline/task name, s

[2021-10-07 19:02] ptitzler opened #745 "kfp dependency pin in 1.0.0 breaks pipeline version upload API calls"
/kind bug

**What steps did you take and what happened:**
`kfp-tekton 1.0` sdk is pinned to [`kfp==1.7.2`](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/setup.py#L57), which causes https://github.com/elyra-ai/elyra/issues/2085 (generally speaking upload of pipeline _versions_ will always fail). Would a pin to a later version be possible so Elyra can start using kfp-tekton > 0.8.x?

[2021-10-07 19:22] Tomcli commented on #745
@ptitzler which kfp version elyra is using right now? We can have a 1.0.1 release on the new kfp version because that bug was fixed after we published our initial.

[2021-10-09 00:49] #745 closed

[2021-10-09 01:06] Tomcli commented on #745
@ptitzler new release is over here https://pypi.org/project/kfp-tekton/1.0.1/
you should able to put both kfp==1.7.1 and kfp-tekton==1.0.1 in the same requirements.txt

[2021-10-19 11:04] #744 closed, assigned to nobody

[2021-10-20 05:22] Tomcli commented on #610
/close
we have the pipelineloop cli to check these spec now

[2021-10-20 05:25] #416 closed

[2021-10-20 05:28] Tomcli commented on #682
/done

[2021-10-26 15:28] Udiknedormin opened #761 "Loops: some loops create wrong "when" links"
/kind bug

**What steps did you take and what happened:**
cond_loop.py:
[code]

Generated cond_loop-0.yaml:
[code]

Generated cond_loop-1.yaml:
[code]

Note how the first variant's `when` contains:
[code]
but the second one is:
[code]

There is no such a task as `condition-cel-outcome`. It looks like concatenated task-name + param-name.

I'm not sure in which other cases it happens, but it does ha

[2021-10-27 16:17] #761 closed, assigned to nobody

[2021-11-02 05:45] ScrapCodes opened #765 "Update SDK and pipeline loop controller to support retries."
/kind feature

**Description:**
https://github.com/tektoncd/pipeline/pull/4327 PR add support for retries in tektoncd for custom tasks. We should support in both

1. PipelineLoop Controller
2. SDK

**Additional information:**

[2021-11-02 12:08] #569 closed

[2021-11-07 06:36] Ark-kun commented on #725
@joeswashington Are you sure your request is feasible?

The producer and consumer tasks probably run on different machines. So the producer need to send out the data using network and the consumer container needs to receive the data from network. Also, the producer and consumer run at different time (the consumer task is only started after the producer task finishes). So the data needs to be store

[2021-11-07 06:38] Ark-kun commented on #731
Thank you everyone for fixing the issues and making the data passing fully compatible!

[2021-11-07 06:45] Ark-kun opened #766 "Best way to access API from remote"
/kind question

**Question:**

I'm writing an application (in pure Javascript) that needs to connect to KFP-Tekton instance and send pipeline for execution.

What is the best set of parameter the application would need to collect from the user to make an API call?

As an example: Endpoint URL (which one? Proxy? Where would user get it?) and access token (Where does user get it? Is this type of aut

[2021-11-08 18:49] Tomcli commented on #766
@Ark-kun Most API schemas in KFP-Tekton are similar to KFP. The only exception is that the pipeline yaml has to be a Tekton `PipelineRun` resource instead of Argo `Workflow`.

For standalone deployment we can port-forward the ml-pipeline-ui to call the API directly. For multi-user with istio-auth, we can either run the JS application in the same cluster with istio sidecar or provide the auth token

[2021-11-08 18:56] Tomcli commented on #766
If the app is calling these api from frontend console, maybe it can be embedded as part of the Kubeflow Dashboard so the Kubeflow Dashboard can pass the auth token and namespace information.

[2021-11-08 22:59] Tomcli opened #767 "Fix Pipeline UI bug to be still backward compatible with dsl.container"
/kind feature

**Description:**
Some of our users still want to see use their old pipelines with dsl.container because it takes time for them to migrate everything. So we want to make dsl.container still able to render on the UI with some metadata.

For SDK, no changes needed because pipeline runtime still works with dsl.container. Only the metadata is different.

**Additional information:**
[Misc

[2021-11-09 19:58] #767 closed

[2021-11-15 18:08] Tomcli opened #769 "Create unique artifact path for sub-pipelines and other chained resources."
/kind feature

**Description:**
When a Tekton pipeline is passing the artifact path using big data passing to a sub-pipeline or other external pipeline, the path is not unique or referable in the case of loops, recursions, and external pipelines with same names. Therefore, we need to construct the artifact path differently in order to let other pipelines retrieve the artifacts without any conflict

[2021-11-17 04:23] tks-ai commented on #461
Im facing the same problem.Is there any further information?
if there is no task to consume the 「outputPath」produced by the previous one,The 「outputPath」will be compiled as 「Tekton results」 which cannot hold large data since 4096 size limitation.
If i am right the usage of 「outputPath」 is to pass binary data such as dataset or model file.Compile to「Tekton workspace」should be the expected behavior.

[2021-11-17 17:43] Tomcli commented on #461
@tks-ai thanks for reporting this. We updated the big data passing recently to run on CSI Storage. This could be possible if we update the compiler a little bit.

We are finalizing what the new big data passing artifact path should be. Once that's finalized, we can come back to this issue before we cut the next release.

[2021-11-17 23:31] Tomcli opened #774 "Recursion pipelines and archived logs cannot run together"
/kind bug

**What steps did you take and what happened:**
Archived logs need to append a new step to push the log files to S3. However, in recursion pipeline, it doesn't use regular task as it's self referring to the predefined pipelineloop resource. So need to fix the bug so it won't error out when running recursion pipelines and archived logs together.

**What did you expect to happen:**

**Addi

[2021-11-17 23:31] Tomcli commented on #774
/assign

[2021-11-18 18:52] Tomcli opened #775 "Pipelineloop need to set maximum recursion stack in order to prevent endless loops that crashes the api-server"
/kind bug

**What steps did you take and what happened:**
In recursion, there could be endless loops that creates too many pipelinerun and crashes the api-server in the master node. We need to set a maximum recursion stack to prevent this.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python

[2021-11-19 23:02] #774 closed

[2021-11-19 23:02] Tomcli opened #778 "Make performance script to load pipelines in any python file"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-11-19 23:04] Tomcli opened #779 "Enhance performance script to measure the taskrun and run duration."
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-11-19 23:07] Tomcli opened #780 "Parameters to submit same set of pipelines n times"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-11-19 23:25] Tomcli commented on #779
Have one int column for the number of taskruns
Have one int column for the number of runs
Have one time column for the total time spent for all taskruns (regular tekton task crd name)
Have one time column for the total time spent for all runs (custom tekton task crd name)
Have string JSON column for duration on each task run and run

| pipeline_name | compile_time | submit_time | pipelinerun_time

[2021-11-19 23:37] Tomcli commented on #780
Have a different script to run one pipeline n times and produce the following 2 csv table.

CSV table 1:
Have one int column for the number of taskruns
Have one int column for the number of runs
Have one time column for the total time spent for all `taskruns` (regular tekton task crd name)
Have one time column for the total time spent for all `runs` (custom tekton task crd name)
Have string JSON c

[2021-11-22 18:48] Tomcli commented on #778
/Assign @ckadner

[2021-11-22 23:58] yhwang commented on #779
/assign @yhwang

[2021-11-24 04:28] Tomcli opened #786 "Pipelineloop controller cannot define workspaces."
/kind feature

**Description:**
The pipelineRuns generated by the pipelineloop controller doesn't support workspaces. We need to add a new spec for workspaces at https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/pkg/apis/pipelineloop/v1alpha1/pipelineloop_types.go#L41 similar to timeout and retries.

**Additional information:**
[Miscellaneous information that will as

[2021-11-24 04:29] Tomcli commented on #786
@ScrapCodes can you prioritize this issue first? We can come back to #775 later on. Thanks

[2021-11-24 04:29] Tomcli commented on #786
/assign @ScrapCodes

[2021-11-24 12:58] wzhanw opened #788 "Pipelineloop should support to iterate with an string with separator char"
/kind feature

**Description:**
Current pipeline loop only supports to iterate from `iterateParam` with string value like:
[code]

I would like to introduce a new field `iterateParamSeparator` to allow user to pass the separator char and allow us to split the iterateParam as a string array for the loop.

This field is optional, it only works with string type param.

eg:
[code]

[2021-11-24 13:26] wzhanw commented on #788
@pugangxa @Tomcli  if you agree this this enhancement, I'm going to create the PR Thanks.

[2021-11-24 17:05] Tomcli commented on #788
@wzhanw is the `'["I am the first one", "I am the second one", "I am the third one"]'` format still supported? We want to ensure it won't break any backward compatibility.

[2021-11-24 17:09] Tomcli commented on #788
I'm okay with the new proposed iterateParam. FYI @Udiknedormin are you aware of this change?

[2021-11-24 19:17] #786 closed

[2021-11-25 01:31] pugangxa commented on #788
@wzhanw As discussed, there's multiple format for loop parameters, like `from/to`, list and string with separators. It's OK to have this feature for the format of `string with separators`, thanks.

[2021-11-25 02:39] wzhanw commented on #788
sure,  we will not break the old feature.

[2021-11-26 14:49] Udiknedormin opened #791 "feature(sdk): "Loop" DSL extension"
/kind feature

**Description:**
There are multiple features that `PipelineLoop` offers that are lacking in the original KFP's `dsl.ParallelFor`. The DSL users, therefore, cannot easily use them --- in order to do that they need to first generate yaml from DSL and then modify the resulting yaml accordingly, which isn't always trivial.

My proposal: to introduce a DSL extension for `Loop`. Usage:

[

[2021-11-30 00:03] Tomcli opened #792 "Push custom task logs to object storage"
/kind feature

**Description:**
Figure out a way to archive custom task logs to object storage.

Since custom tasks are running in our own reconcile functions, we do push some of the errors/status to the custom task's run status. However, we want to capture more information such as the stdout logs for this run CRD and push all these information to the object storage.

Right now for regular Tekton

[2021-11-30 00:05] Tomcli commented on #792
First we can experiment with pipelineloop and cel custom task controller to see can we push any status/log to the object storage properly.
CEL custom task: https://github.com/tektoncd/experimental/tree/main/cel

[2021-11-30 02:04] #788 closed

[2021-11-30 18:37] Tomcli commented on #791
@Udiknedormin for the first two options `ParallelLoop` and `range` makes sense to me. However, the `string separator` and `break` is very specific to the Tekton pipelineloop syntax.

[2021-12-01 21:38] #778 closed

[2021-12-02 06:29] Tomcli commented on #792
/assign @ScrapCodes

[2021-12-06 17:19] Tomcli opened #797 "Update Tekton client to 0.30.0"
/kind feature

**Description:**
We introduced few features in Tekton 0.30.0 and the current Tekton client no longer work with the latest Tekton release due to the new breaking changes in the Tekton controller.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-07 16:25] Udiknedormin commented on #791
@Tomcli Well, it would be good to provide SOME way of using those in the DSL, as right now using those requires some non-trivial post-processing of the yaml produced by the kfp-tekton compiler.

[2021-12-08 20:42] #797 closed

[2021-12-09 01:32] #769 closed

[2021-12-09 06:11] ScrapCodes commented on #775
/assign

[2021-12-15 01:43] Tomcli opened #800 "Make pipelineloop to break when seeing a pipelineloop break operation task"
/kind feature

**Description:**
Currently, pipelineloop can break the loop when it sees a task is getting skipped. However, it would make more sense in the DSL if we can have it to also break the loop when it sees a specific task prefix name. This should be an addition to the current break feature instead of replacing it.

**Additional information:**
[Miscellaneous information that will assist in

[2021-12-15 01:49] Tomcli commented on #791
I added the base skeleton for the loop extension. It seems like python is not that easy to overload or dispatch a function that's not using native Python type (e.g. python dispatch has difficult time to parse union type). So instead I have all the parameter as optional and have some conditions to check which way we should call the loop.

As part of it, we will create a list of issues to tackle the

[2021-12-15 01:52] Tomcli opened #801 "Figure out a way to overload _for_loop_ DSL class to have Tekton specific optimization"
/kind feature

**Description:**
As part of the loop enhancement and feature requirements, we need to overload some functions in the original _for_loop_ DSL to include few more attribute. Then, the compiler can use those new attribute to figure out how to apply Tekton specific optimization as part of the loop implementation.

**Additional information:**
[Miscellaneous information that will assist i

[2021-12-15 22:43] Tomcli opened #803 "Reduce annotation size for component spec tasks"
/kind feature

**Description:**
Currently, the tasks loaded from component spec also store the copy of the component spec in the task annotations. This can increate the Tekton yaml size by 30% which could slow down the performance. Because the spec is only used in the metadata writer in sha256.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-15 22:45] Tomcli commented on #803
The annotation is not needed for v2 because attribute the sha information can be retrieve as part of IR. Whereas in V1 we have to translate the component spec to Tekton/Argo yaml which lost a lot of information about output value type, description, etc.

[2021-12-15 22:50] Tomcli opened #804 "Have options to output task spec as separate CRs to reduce redundant task templates"
/kind feature

**Description:**
As part of the effort to reduce Tekton yaml size, we should explore a way to output redundant Tekton templates as a separate task CR and apply the Tekton task template when running the pipeline.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-15 23:14] Tomcli commented on #800
Currently the pipeline loop break only happens when the task is skipped as below. We want to extend this logic to also check whether any task with `pipelineloop-break-operation` prefix in the task name is executed. If so, we should break the loop as below as well. This way, we can have multiple break tasks in the DSL and all of them will have the task prefix `pipelineloop-break-operation`.
https:/

[2021-12-15 23:14] Tomcli commented on #800
/assign @ScrapCodes

[2021-12-30 06:39] ScrapCodes commented on #765
SDK seems to be updated. https://github.com/kubeflow/kfp-tekton/blob/master/go.mod#L34

[2021-12-30 06:39] #765 closed

[2022-01-04 18:29] #800 closed

[2022-01-05 20:04] Tomcli commented on #780
@tedhtchang do you have a wrapper script that can do this?

[2022-01-06 08:36] tedhtchang commented on #780
One way of doing it is to add  another pamameter in the `perf_test_config.yaml`. For example:
[code]
So then we can run 5 pipelines concurrently using the command `PUBLIC_IP=localhost:8080 NUM_WORKERS=5 ./performance_tests.py

Example output:
[code]
Example csv
[code]

[2022-01-06 12:57] peterhaddad3121 opened #811 "Pipeline Timeouts set to 0s for the entire pipeline and each component"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I installed Tekton using pip install kfp-tekton, and ran the following code to generate the yaml of a KF pipeline.

[code]

**What did you expect to happen:**

I expected the Pipeline timeouts to be set to nothing, in the outputted yaml, since this was the behavior I was previously seei

[2022-01-06 18:28] #803 closed

[2022-01-06 18:58] #775 closed

[2022-01-11 01:19] #804 closed

[2022-01-11 01:22] Tomcli commented on #811
This is fixed in our master branch a while ago. We will be cutting a new release this week and the new SDK version should solve this problem.

[2022-01-11 01:23] Tomcli commented on #811
At the meantime, if you install Tekton v0.27.0 or install whole Kubeflow, this issue can be avoid. The main cause of this issue is due to a regression bug since Tekton v0.28.0.

[2022-01-12 01:52] Tomcli opened #818 "Make pipelineloop logger package independent"
/kind feature

**Description:**
Explore and see can we make the pipelineloop logger package independent. So that other custom task controller can import the same logger package for archiving logs to S3.

We also need a Readme on how to use this logger package on an arbitrary custom task controller.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-01-12 01:52] Tomcli commented on #818
/assign @ScrapCodes

[2022-01-12 01:54] Tomcli commented on #792
Thanks @ScrapCodes. #806 addressed most of the requirements for this issue. Now we want to make this logger package more generic, so I opened an issue at https://github.com/kubeflow/kfp-tekton/issues/818

[2022-01-12 17:48] Udiknedormin opened #819 ""Break" in first iteration sets invalid status"
/kind bug

**What steps did you take and what happened:**
[code]

Then run both variants on cluster a few times.

Sometimes it works fine but sometimes, either variant produces a run yaml similar to the following:
[code]
(for `-2` variant the first iteration is correct and the second one looks like the above)

**What did you expect to happen:**
Compare what the Run claims about its PipelineRuns:
[

[2022-01-12 18:59] Tomcli commented on #819
I think one way to achieve this is to first terminate all the running pipelines under that pipelineloop. Then set the run status to completed. This way, all the running pipelines can have a "Cancelled" status and stop the Tekton controller to keep running the rest of the tasks.

[2022-01-12 18:59] Tomcli commented on #819
@ScrapCodes do you have time to take over this issue?

[2022-01-12 18:59] Tomcli commented on #819
/assign @ScrapCodes

[2022-01-13 05:59] ScrapCodes commented on #819
@Tomcli I am taking a look at this. Thanks!

[2022-01-13 14:27] wzhanw opened #820 "Support workspace read (and write?) for loop items."
/kind feature

**Description:**

Add support for COS workspace read (and write?) for loop item, as lists will probably be considered artifacts most of the time.
Allow to mark it somehow, e.g. as iterateParamIsArtefact: true.

**Impact**
Without this, passing big outputs as artifacts won't work with loops, nor parallel for sequential.

[2022-01-13 14:32] wzhanw commented on #820
@Tomcli @pugangxa could you take a loop at this requirement?

 The loop items are read/write as artifacts from the cos bucket, we need to iterate on those artifacts and may pass the artifact to the sub pipeline inside the loop.

[2022-01-14 01:02] Tomcli commented on #820
thanks @wzhanw. We added a way to pass down the workspace to the nested loop
https://github.com/kubeflow/kfp-tekton/pull/787

I think it make sense to add a way to iterate items inside a file in the cos bucket. Argo has similar feature like withSequence, but expecting users to take the index number and extra the file inside their component logic.
https://github.com/argoproj/argo-workflows/blob/mas

[2022-01-14 01:40] pugangxa commented on #820
Yes #787 together with #753 can meet the big data passing needs but still need logic to treat the lists as the artifacts to read.

[2022-01-15 00:39] Tomcli commented on #811
The latest v1.1.0 release addressed this issue. Feel free to let us know if you still encounter this problem.

[2022-01-18 22:48] peterhaddad3121 opened #826 "Unable to return values in KF Components"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I updated the latest version of kfp-tekton, and component values are unable to be returned.

**What did you expect to happen:**

When I add @kfp.dsl.component to the top of a python function which wraps create_from_func, I expect the ability to return a value by doing the following:

@k

[2022-01-18 23:39] Tomcli commented on #826
For the current version of kfp-tekton, you have to use `@components.func_to_container_op` like the example below.
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/conditions_with_global_params.py

@kfp.dsl.component and kfp.v2.dsl are for building component into the next generation IR (intermediate representation) in the JSON/dictionary format. V2 compiler is s

[2022-01-19 18:16] #819 closed

[2022-01-19 18:30] Tomcli commented on #811
/close

[2022-01-19 18:30] #811 closed

[2022-01-21 18:14] #818 closed

[2022-01-21 22:48] Tomcli opened #833 "Convert pipeline loop Break task into custom task."
/kind feature

**Description:**
Currently we use the break task as a placeholder to tell the pipeline loop controller to break the loop and cancel the running pipelines. We want to see can we make the break task into a dummy custom task, so we don't have to waste resources on creating a dummy pod.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-01-21 22:50] Tomcli commented on #833
The current break task implementation is over here. We want to convert it into a dummy custom task to save some resources. https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/tekton.py#L185-L204

The dummy custom task for break doesn't need a controller, since pipelineloop will see the break task under `runStatus` and terminate the pipeline.

[2022-01-21 22:50] Tomcli commented on #833
/assign @ScrapCodes

[2022-01-21 23:00] Tomcli commented on #833
Here is how you can define custom task in kfp DSL https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/tekton.py#L157-L178

[2022-01-24 17:58] Tomcli commented on #779
/close

[2022-01-24 17:58] #779 closed

[2022-01-26 23:17] Tomcli opened #839 "Create golang package for kfp caching on custom task controller"
/kind feature

**Description:**
KFP-Tekton has a way to cache pipeline workloads based on the hash value of the container spec. However, it cannot be applied to the custom tasks at the moment because not all custom tasks are linked to a container spec. Therefore, we need to create a common package (like logger package for custom task) to hash the run spec first, and skip any workload that is alrea

[2022-01-26 23:39] Tomcli commented on #839
/assign @ScrapCodes

[2022-01-26 23:47] Tomcli commented on #839
Here is how we currently do caching on KFP-Tekton.
https://github.com/kubeflow/kfp-tekton/blob/master/backend/src/cache/server/mutation.go#L146-L165

We calculate the hash based on the `taskRun` spec, then store into the KFP database. If we see caching is enabled in the annotation, we check the database to find the cached result and mutate the pod if the cached result is found.

For custom task, w

[2022-02-02 11:57] ScrapCodes opened #843 "Break task inside a nested pipelineloop does not break the pipeline loop."
/kind bug

**What steps did you take and what happened:**

Running the following pipeline does not break the loop as expected.
[code]

[code]

**What did you expect to happen:**
Expected the loop to break.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`):
* SDK Version:
* Tekton Version (use

[2022-02-02 12:00] ScrapCodes commented on #843
Break task CRD:
[code]

[2022-02-02 23:59] Tomcli commented on #843
I got the following results:
[code]

[code]

[2022-02-03 00:01] Tomcli commented on #843
Since we didn't reconcile the new CRD, so it might hang the inner loop. Did you try to terminate then mark the run as completed?

[2022-02-03 01:19] Tomcli commented on #843
hmm i'm not sure why that case is not running, maybe because it's running parallel so it was too late to kill all the pipelines.
I use this sequential pipeline to test it. It works but the pipeline loop stuck at running because we didn't resolve the break `run` status.
[code]

I set `parallelism: 1` and this example is from https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compil

[2022-02-04 17:52] #791 closed

[2022-02-09 03:21] typeness opened #845 "Break does not update taskRun status"
/kind bug

**What steps did you take and what happened:**

Reproduce using the following code

[code]

**What did you expect to happen:**

While running the pipeline on the second iteration, break triggers and cancels the loop but break taskRun status is not updated. The status is empty:

[code]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Envi

[2022-02-09 17:06] Tomcli commented on #845
/cc @ScrapCodes

Not sure this is also related to #843. We are trying to convert the break task into a `Run` so that the pipelineloop controller can also update the break task status.

[2022-02-19 01:05] Tomcli opened #853 "Add default caching labels for custom task spec"
/kind feature

**Description:**
Current for custom tasks, we don't add any default label to the default run spec. However, as we want to introduce caching and logging to the custom task controller, we may want to add these default labels to the custom task run spec as well.

Default labels for caching:
[code]

#852

**Additional information:**
[Miscellaneous information that will assist in solving

[2022-02-21 17:45] Tomcli opened #855 "Update deployment manifests to include new pipelineloop caching flags"
/kind feature

**Description:**
update KFP-Tekton deployment manifests to include new pipelineloop caching flags
#852

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-21 18:51] Tomcli opened #856 "Update Python SDK to convert break task from Tekton TaskRun to Run"
/kind feature

**Description:**
Update Python SDK to convert break task from Tekton TaskRun to Run
Example described at #854

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-24 06:13] Tomcli commented on #855
/assign @ScrapCodes
it would be similar to the object store logger config you had created.

[2022-02-28 10:26] Udiknedormin opened #863 "Loops fail to compile for empty task list"
/kind bug

**What steps did you take and what happened:**
A loop with no tasks inside (added unique-id-code patch to make yaml comparison simpler):
[code]

Fails with:
[code]

**What did you expect to happen:**
To compile just fine into the following yaml:
[code]

**Additional information:**
Works the same for `dsl.ParallelFor`, so it's not specific to the `Loop` DSL extension.

**Environment:**

[2022-02-28 17:07] #863 closed

[2022-02-28 17:11] Udiknedormin opened #865 "Loop on condition breaks the yaml"
/kind bug

## What steps did you take and what happened:

When using a loop depending on a task inside of a condition:
[code]

It yields:
[code]
Note the `runAfter: [condition-1]`, while there is clearly no `condition-1` there.

Note that only the loop is affected, not the `print-2` task outside of loop, and that it doesn't matter if `.after` is called on the loop itself or one of its tasks.

## W

[2022-03-01 20:02] #855 closed

[2022-03-02 08:46] #382 closed

[2022-03-02 08:46] #137 closed

[2022-03-02 08:46] #431 closed

[2022-03-02 09:17] juliusvonkohout commented on #461
Will this be fixed in 1.2 then?

[2022-03-02 17:35] #865 closed

[2022-03-03 06:08] Tomcli commented on #856
/assign @ScrapCodes

[2022-03-03 06:19] Tomcli commented on #856
@ScrapCodes the current break task is over here. we can update the yaml to the custom task yaml and test it against your pr.
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/tekton.py#L189-L202

[2022-03-03 06:21] Tomcli commented on #856
you can try to change the component yaml to something like
[code]

[2022-03-03 06:24] Tomcli commented on #856
fyi here is how you can define the custom task spec
https://github.com/kubeflow/kfp-tekton/blob/master/guides/advanced_user_guide.md#defining-your-own-tekton-custom-task-on-kfp-tekton

[2022-03-04 17:27] #833 closed

[2022-03-08 00:25] #853 closed

[2022-03-08 22:24] #845 closed

[2022-03-08 22:26] Tomcli commented on #856
/close

by #871

[2022-03-08 22:26] #856 closed

[2022-03-09 07:03] ScrapCodes commented on #843
Closing as duplicate of #845

[2022-03-09 07:03] #843 closed

[2022-03-09 20:21] Tomcli opened #873 "Metadata Writer Golang package for Tekton Custom Tasks"
/kind feature

**Description:**
When running Tekton Custom tasks, the metadata writer cannot update the MLMD database and push artifacts because Tekton Custom tasks are not new pods. Hence, we need to do the following to enable metadata writer for custom task
1. Update Metadata Writer python server to also watch Tekton `Run`, and update the input/output entry accordingly.
2. Add a Metadata Writer

[2022-03-09 20:23] Tomcli commented on #873
@ScrapCodes maybe you can take a look at number two and implement the new Metadata Writer Golang package? We can discuss in more details tonight. It would be similar to how you pushes log, but this time is for artifacts and need to convert result files into tgz.

[2022-03-15 23:11] Tomcli opened #877 "Investigate can objectstorelogger package utilizes the new objectstore package"
Thanks @ScrapCodes. Functionality wise it looks good to me. I'm thinking can the `objectstorelogger` package also be use this new package? In our implementation with Taskrun, both logs and artifacts are pushed to same path. The only exception is that the log file is not compressed. This way we can reduce the number of packages need to import for each controller. What do you think?

It can be a sep

[2022-03-17 05:01] Tomcli opened #878 "Tekton results with sidecar/post-processing step investigation"
/kind feature

**Description:**
We want to investigate and create a simple POC to capture results using either sidecar or a post-processing step. The sidecar/post-processing step will do the following.
1. Look for the result file path at the end of all the step containers, then copy them into object storages/remote server that can be referred back by the core Tekton controller.
2. Create a new API

[2022-03-17 05:28] Tomcli commented on #878
/assign @ScrapCodes

[2022-03-17 05:33] Tomcli commented on #878
The current kfp-tekton copy artifact container is generated with this script:
[code]

[2022-03-17 05:37] Tomcli commented on #878
The result file path should be available in the Tekton core controller as a variable `$(results.resultname.path)`. We just need a lightweight container that pushes these results to some object storages like S3 or a remote server with HTTP (based on config). Then the Tekton controller can have some logics to retrieve these files in the remote server location.

[2022-03-17 09:05] Udiknedormin commented on #670
@Tomcli @yhwang
What's the status of this issue?

[2022-03-17 09:38] Udiknedormin opened #879 "bug(controllers) PipelineLoop doesn't support podTemplate and taskRunSpecs"
/kind bug

**What steps did you take and what happened:**
Add a valid `podTemplate` and `taskRunSpecs` entry to any loop example. Typical use-case would be to add:
[code]

It fails on Tekton validation of that field, calling those fields unknown.

**What did you expect to happen:**
PipelineLoop to accepting any fields that PipelineRun would.

**Additional information:**
In PipelineLoop pkg I can s

[2022-03-17 12:23] Udiknedormin opened #880 "bug(sdk) Custom tasks misgenerate code when all inputs are passed literals"
/kind bug

**What steps did you take and what happened:**
Generate a custom task which accepts literals as all of its parameters and at least one of these parameters matches the name of some pipeline parameter.

In the following example code:
[code]

Produces the following yaml:
[code]
Note how cases 0x, 1x and 2x are all correct, but for 3x, "foo" parameter is assigned `$(params.foo)` despite bei

[2022-03-17 16:13] Tomcli commented on #879
@Udiknedormin
Thanks for reporting this. Gang and Jinchi no longer working on this pipelineloop controller. We can take on these TODOs and make it feature complete.

[2022-03-17 16:19] #880 closed

[2022-03-17 17:45] Tomcli commented on #670
@Udiknedormin
All the current examples in KFP-Tekton are migrated to component.yaml. The two examples that didn't check are the also in component.yaml but their service API was broken when we were testing it. Although containerOp is deprecated, it will continue to work in V1 KFP and KFP-Tekton.

[2022-03-18 14:26] rafalbigaj opened #882 "panic: runtime error: integer divide by zero"
/kind bug

**What steps did you take and what happened:**
When PipelineLoop step is set to 0, the process panics with:

[code]

**What did you expect to happen:**

Use default step value: `1` in case of 0 provided.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --version`):
* SDK Version:
* Tekton Ver

[2022-03-18 17:53] #882 closed

[2022-03-22 01:30] #877 closed

[2022-03-22 13:38] Udiknedormin opened #886 "Feature: PipelineLoop: iteration counter"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Currently, PipelineLoop enables the user to choose `iterationParam`, which contains the element the loop loops over. It's a functional equivalent of the following Python code:

[code]

However, the input is always sequential, so the number of each iteration is known --- as proved by

[2022-03-24 01:02] Tomcli commented on #886
Action items:

- [ ] Update PipelineLoop controller to add new Tekton variable `iterationNumberParam` for parameters that points to the iteration counter. Similar to the `iterateNumeric` for numeric iteration.
- [ ] Update SDK with a new extension function `.enumerate()``. It returns two PipelineParams that points to the iteration counter and the actual value.

The SDK part will be tricky because

[2022-03-24 01:02] Tomcli commented on #886
fyi @yhwang @ScrapCodes

[2022-03-24 01:06] Tomcli opened #889 "Update PipelineLoop controller to add new Tekton variable "iterationNumberParam""
/kind feature

**Description:**
Related #886

Update PipelineLoop controller to add new Tekton variable `iterationNumberParam` for parameters that points to the iteration counter. Similar to the `iterateNumeric` for numeric iteration.

The current PipelineLoop controller has the iteration counter stored in the `iteration_number` variable. We want to expose that value into the PipelineLoop spec and

[2022-03-24 01:06] Tomcli commented on #889
/assign @ScrapCodes

[2022-03-24 01:08] Tomcli opened #890 "Update SDK with a new extension function ".enumerate()""
/kind feature

**Description:**
Update SDK with a new extension function `.enumerate()`. It returns two PipelineParams that points to the iteration counter and the actual value. Mapping details will be added when the controller implementation is finalized.

Current Loop class extension:
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/tekton.py#L230

**Additional informatio

[2022-03-24 01:08] Tomcli commented on #890
/cc. @yhwang

[2022-03-24 05:24] Tomcli commented on #878
@ScrapCodes Here is the possible sidecar issue https://github.com/tektoncd/pipeline/issues/1347

Tekton's current Sidecar implementation contains a bug. Tekton uses a container image named nop to terminate Sidecars. That image is configured by passing a flag to the Tekton controller. If the configured nop image contains the exact command the Sidecar was executing before receiving a "stop" signal,

[2022-03-24 08:11] wzhanw commented on #886
@Tomcli what's the `iteration_number ` will be?  a list?  if the `Parallelism` was configured and greater than 1
[code]

[2022-03-24 19:01] OrenLeung opened #892 "Tekton Support GCP Cloud Storage Buckets"
- supporting gcp cloud storage bucket

[2022-03-24 21:09] Tomcli commented on #839
alpha version is done. close this issue until we have more feedbacks from the product.
/close

[2022-03-24 21:09] #839 closed

[2022-03-24 21:10] Tomcli commented on #801
done
/close

[2022-03-24 21:10] #801 closed

[2022-03-24 21:11] Tomcli commented on #792
alpha version is done, closing this issue
/close

[2022-03-24 21:11] #792 closed

[2022-03-28 12:43] Udiknedormin opened #895 "Non-literal loop separator break compilation"
/kind bug

**What steps did you take and what happened:**
When using a loop separator that gets its value from pipeline parameter:
[code]
...or task output:
[code]

Both trigger the same compilation error:
[code]

That code fragment looks like it assumed it has to do with a string, so I stringified these first, with `str`. Then I got:
[code]

Checking the yaml (adding print before the error is rai

[2022-03-28 16:21] #895 closed

[2022-03-28 22:28] #879 closed

[2022-03-31 22:45] typeness opened #902 "Loop.range fails with Cannot determine number of iterations: The from or to parameters was not found in runs"
/kind bug

**What steps did you take and what happened:**
Using the following DSL

[code]

pipeline loop fails in runtime with the error message

This also happens for the following cases
- (start=-1, step=1, end=0)
- (start=-1, step=0, end=0)
- (start=1, step=1, end=-1)
- (start=0, step=1, end=-1)
- (start=-1, step=1, end=-1)
- (start=1, step=0, end=-1)
- (start=0, step=0, end=-1)
- (start=1, ste

[2022-04-01 22:20] Tomcli opened #903 "Update pipeline loop's `iterateNumeric` to return the item element instead of iteration"
@rafalbigaj agree with you. but for now, I suggest that we keep `iterateNumeric` but change its value to iteration item(element) and add `iterationNumberParam` for number(index). Just a reminder that `iterateNumeric` will change to the iteration item after this PR.

If you want to keep `iterateNumeric` as-is and change it in another PR please let us know.

_Originally posted by @yhwang in https://

[2022-04-01 22:20] Tomcli commented on #903
/assign @ScrapCodes

[2022-04-01 22:22] #889 closed

[2022-04-01 22:30] #890 closed

[2022-04-04 07:52] ScrapCodes commented on #902
Currently we do not support start from/to as -ve integers.

Is this a requirement?

[2022-04-04 07:57] Udiknedormin commented on #902
@ScrapCodes It is, yes.

[2022-04-04 23:32] #903 closed

[2022-04-04 23:33] yhwang commented on #902
/assign @ScrapCodes
Thanks Prashant

[2022-04-04 23:33] yhwang commented on #878
@ScrapCodes Prashant, any update for this issue?

[2022-04-04 23:37] yhwang commented on #886
Change for SDK is here:
- https://github.com/kubeflow/kfp-tekton/pull/901

Changes for Controller are here:
- https://github.com/kubeflow/kfp-tekton/pull/898
- https://github.com/kubeflow/kfp-tekton/pull/904

[2022-04-06 04:59] ScrapCodes commented on #878
There may be a race between step container terminating and sidecar copying results to remote server.

[2022-04-06 05:56] ScrapCodes commented on #878
A `preStop` hooks is not called if the container is completed i.e. ran to completion. [Link](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks)

[2022-04-06 16:36] Tomcli commented on #878
Thanks @ScrapCodes for your feedback on the sidecar, do you think having a post-processing step can avoid these issues?

[2022-04-07 21:30] yhwang opened #910 "V2 IR tracking"
/kind feature

**Description:**
Use this to trace features/changes needed for V2 Intermediate Representation (IR)

- [ ] Add abstraction API in `kubeflow/pipelines` to decouple the dependency between backend api-server and CI/CD engine
- [ ] Add Tekton implementation for item above
- [ ] Add backend compiler to compile the IR in JSON format to Tekton PipelineRun yaml
- [ ] Create a custom task con

[2022-04-11 18:33] Tomcli opened #912 "Create new SDK helper functions for embedding exception handlers as part of the DSL"
/kind feature

**Description:**
The exception handlers in Watson Studio pipelines are custom tasks that ran inside the exit handle. The exception handlers spec is a Tekton pipeline spec that trigger another pipelinerun (similar to the sub pipeline concept for pipelineloop, but for exit handlers).

Thus, we need to create new SDK helper functions similar to the `loop()` class where this new functio

[2022-04-11 19:28] Udiknedormin opened #913 "(sdk) Outer loop doesn't pass inner loop's item's source"
/kind bug

**What steps did you take and what happened:**
Create two a nested loop, which both levels iterating over the same parameter. Inner-most, create a single task that does NOT use that parameter.
[code]
which generates the following yaml:
[code]
Note that for the first case, loop 1 & 2, the parameter `param` is passed, as its used in the inner loop's body.

For loops 3 & 4, the parameter i

[2022-04-11 20:57] Tomcli opened #914 "Tasks and custom tasks have same long name outputs created mismatched parameters"
/kind bug

**What steps did you take and what happened:**
When a pipeline with both tasks and custom tasks referring to the same long name outputs, the pipeline parameters show a mismatched sanitized params for the custom tasks.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (us

[2022-04-12 00:01] yhwang commented on #912
the syntax could be:
[code]
@Udiknedormin any comments?

[2022-04-12 03:36] tks-ai opened #915 "dsl.get_pipeline_conf().set_default_pod_node_selector() seems not work"
/kind bug

**What steps did you take and what happened:**
this is considered to append a node selector by pod template to yaml as pipeline level

`dsl.get_pipeline_conf().set_default_pod_node_selector("label","value")`

but it provide nothing about node selector in the pipeline yaml.

**What did you expect to happen:**
if im correct ,it will be compiled as

[code]

**Additional information:**
by t

[2022-04-12 16:45] yhwang commented on #912
this SDK change would create a hard dependency with the exception-handler mechanism. the compiler would generate a corresponding part for the exception handling steps defined in the helper function. if we use custom task to do that, we should also export the implementation under `tekton-catalog` directory?

[2022-04-13 04:45] tks-ai commented on #915
reopen for https://github.com/kubeflow/kfp-tekton/pull/916#discussion_r849063928

[2022-04-13 08:27] Udiknedormin commented on #912
@yhwang
I assume `ExceptionHandler` will be some configurable class of some kind, right?

As for your question about exporting implementation to `tekton-catalog` --- quite the opposite, actually. What is needed is reasonably generic way to create pipeline-based custom tasks, similar to how task-like custom tasks can be generated right now. That way, it should be possible to add not only `Exception

[2022-04-13 15:44] #913 closed

[2022-04-13 19:46] #915 closed

[2022-04-13 20:49] Tomcli commented on #914
/assign

[2022-04-14 11:27] Udiknedormin commented on #886
I verified that loop counter works as expected. Thank you!

[2022-04-14 11:28] #886 closed

[2022-04-15 00:19] Tomcli commented on #914
This issue happens when the params and results are defined in the custom task spec level. Since Tekton allow custom task to have wildcard spec and able to extend extra results during runtime. Therefore, if this issue happens on variable store custom task, then we need specific custom task spec logic for handling variable store for all the the non-generic Tekton spec (similar to how we handle CEL c

[2022-04-15 17:02] #902 closed

[2022-04-22 18:17] #914 closed

[2022-04-29 14:45] Udiknedormin opened #924 "(sdk bug) loop + 2 conditions moves the op outside of loop"
/kind bug

**What steps did you take and what happened:**
Create a loop with two nested `dsl.Condition`s inside of it. Single "op" should go inside of the second condition.

[code]

The following yaml is produced:
[code]

Note that print-1 is outside of the loop instead of inside of it.

**What did you expect to happen:**

[code]

**Additional information:**

It works like that even if the conditi

[2022-05-02 16:51] Tomcli commented on #924
/assign

[2022-05-04 08:18] Udiknedormin opened #926 "bug(sdk) AnySequencer not working inside of loop"
/kind bug

**What steps did you take and what happened:**

Create a pipeline with a loop and two any-sequencers: one inside of the
loop, one outside of it.

[code]

It compiles to the following yaml:

[code]

Note how the any-sequencer outside of the loop passes
`$(context.pipelineRun.name)` and `$(context.pipelineRun.namespace)`
indirectly, via `pipelineRun-name` and `pipelineRun-namespace` param

[2022-05-04 20:58] #924 closed

[2022-05-04 23:15] Tomcli commented on #670
/close

[2022-05-04 23:15] #670 closed

[2022-05-06 00:28] Tomcli opened #930 "Update Tekton to 0.36 (ETD end of May)"
/kind feature

**Description:**
We need to update the Tekton client and server so that we can leverage some of the new Tekton features.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-05-06 00:30] Tomcli opened #931 "Leverage the minimal pipelinerun status from Tekton 0.35 to reduce the yaml size in k8s ETCD"
/kind feature

**Description:**
Tekton 0.35 now has new features to minimize taskrun and run status on pipelinerun, but need to update kfp-tekton and ui to fetch these status using another k8s api calls.

If we leverage this features on KFP, we can run more tasks per pipeline. However, this will have few millisecond delay on the pipeline api and ui status update since this feature will need extra

[2022-05-06 00:30] Tomcli commented on #931
/assign @yhwang

[2022-05-06 00:32] Tomcli commented on #931
Since the UI is relying on the backend API to give back the pipelinerun yaml, if we can merge the embedded pipelinerun status with the necessary information from each taskrun/run, we might able to make this feature work by only updating the pipelinerun resource fetching logic.

[2022-05-10 07:25] xawangyd opened #934 "Support job parameter name with '$' character"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

Currently our important customers need to use parameter with dynamic name like $APT_DISABLE_COMBINATION , from the doc https://tekton.dev/docs/pipelines/pipelines/#specifying-parameters seems kfp-tekton does not support such usage.
Hope kfp-tekton can support such feature, that wil

[2022-05-10 17:51] #912 closed

[2022-05-10 19:28] typeness opened #935 "Loop.range generates inconsistent number of iterations when start=end"
/kind bug

**What steps did you take and what happened:**

Reproduce using the following code

[code]

This generates 0 iterations.

**What did you expect to happen:**
I expect this to generate 1 iteration given that the loop `Loop.range(start=0, step=1, end=1)` generates 2 iterations.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2022-05-10 22:25] Tomcli commented on #935
/assign @ScrapCodes

@ScrapCodes are you able to take over this issue?

[2022-05-10 22:55] Tomcli commented on #934
@xawangyd If you can see in the Tekton docs, the parameter name has to be static. Only the parameter value can be dynamic in this case. Is your use case is to also have the parameter name be dynamic?

@Udiknedormin Do you think this is something can be mapped within the Watson Studio pipelines? Within the Python DSL level, the parameter name can be referred as a python string variable. But in Tekt

[2022-05-11 03:21] xawangyd commented on #934
Hi @Tomcli
It is just a static parameter name contains ` $ `character. Not a dynamic name. No need to be dynamic for the parameter name.

[2022-05-11 04:17] xawangyd commented on #934
Based on our discussion, seems no need this enhancement on kfp-tekton side.
Thanks everyone.

[2022-05-11 04:17] #934 closed

[2022-05-11 07:20] wzhanw commented on #800
@Tomcli I think breaking the loop when seeing a pipelineloop break operation task is not precise.
I think we need to check its final status and if the task is skipped we should not break the loop.

[2022-05-11 08:04] ScrapCodes commented on #935
Are you sure, if start = end = 0, and step = 1 then generate one iteration?
If start = 0 and end =1, step = 1, then generate two iteration seems like a bug to me. WDYT?
@Tomcli, @yhwang and @typeness

[2022-05-11 17:05] yhwang commented on #935
to summarize, correct me if I am wrong,
Current behaviors:
- start = end = 0, and step = 1:
  0 iteration
- start=0, step=1, end=1:
  2 iterations

for me, I think the following behaviors make sense to me:
- start = end = 0, and step = 1:
  0 iteration
- start=0, step=1, end=1:
  1 iteration

[2022-05-11 17:28] Tomcli commented on #935
I think what DataStage wants is not the exact behavior of Python range. It's similar to the requirement of enumerate where the index is counted from 1 instead of 0.

@Udiknedormin start = 0 end = 0, and step = n should be always one iteration in this case right?

[2022-05-11 19:56] Tomcli commented on #935
yes we should

[2022-05-16 09:45] C-nit opened #940 "Fine-grained control enabling situational values for global settings"
/kind feature

**Description:**
Artifacts tracking can be very useful, but turning it on globally in case it's not required or desired for every single run is wasteful.

Another example for a setting that would benefit fine grained control is stripping end of line characters.
There are pipelines that require the setting to be off to succeed and therefore are not sharable per se with other deployme

[2022-05-16 10:15] ScrapCodes commented on #935
Is it true

Is it true of any start e.g. start = 1 and end =1 , should also generate one iteration.

[2022-05-18 16:50] #935 closed

[2022-05-20 08:20] wzhanw opened #943 "The pipeline loop should have iterations number limitation"
/kind feature

**Description:**
The current  PipelineLoop controller does not have any limit for number of iterations.
We believe we want to have control on a number of attempted loops.
I saw we have limitation on the depth of the nested loop (default 30).

Should we allow an infinite loop？
Leaving PipelineLoop controller with any limits can easily lead to DOS attacks. From the security perspectiv

[2022-05-20 08:21] wzhanw commented on #943
@Tomcli FYI

[2022-05-20 16:12] #943 closed

[2022-05-23 14:56] Udiknedormin opened #947 "bug(sdk) - Loops: task output ref corrupted if output name starts with task name"
/kind bug

**What steps did you take and what happened:**
Name the op/task with some name X, and its output with name X-Y (Y being some suffix). Pass that output to a consumer inside of a loop.

[code]

Here is the output for embedded case:
[code]

Note that for both custom-tasks and normal tasks, the `foo-XX-val` case is trimmed to `val`.

**What did you expect to happen:**
[code]

**Additional i

[2022-05-23 16:28] Tomcli commented on #947
/assign

[2022-05-23 21:50] ykoyfman opened #951 "Pipeline count metrics not correct"
/kind bug

**What steps did you take and what happened:**

Enabled metrics collection with
[code]

We're seeing our pipeline metrics not reflect the number of pipelines (and are often negative) - e.g. currently it's showing

[code]
When we have 13 pipelines.

**What did you expect to happen:**

Metric to accurately reflect pipeline counts after multiple adds/deletions.

**Additional information:**

[2022-05-23 23:46] Tomcli commented on #951
The problem is that the metric value only incremented during pipeline create and pipeline upload. We need to make sure the metrics is reflecting the accurate number.
https://github.com/kubeflow/kfp-tekton/blob/9307b361fcc005c7fc7b2c7376426f8a5a4ad01d/backend/src/apiserver/server/pipeline_server.go#L143-L145

[2022-05-24 15:36] #947 closed

[2022-05-24 16:38] Tomcli opened #953 "Support securityContext and automountServiceAccountToken podtemplate in kfp-tekton"
/kind feature

**Description:**
The internal teams need to set the `securityContext` and `automountServiceAccountToken` for all the pods running on the openshift cluster. `securityContext` DSL is available in the component_op level, but not pipeline config level. The goal for this feature is to
1. Add `securityContext` and `automountServiceAccountToken` for each task level. `securityContext` can c

[2022-05-24 19:16] typeness opened #954 "Please provide validation for invalid Loop.range numeric parameters"
/kind feature

**Description:**
When `Loop.range` start/step/end parameter uses the output from another component and is not valid numeric it silently ignores the error and uses the default value 0. I think the problem is here https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/pkg/reconciler/pipelinelooprun/pipelinelooprun.go#L827
I would like to request validation fo

[2022-05-24 20:09] Tomcli commented on #954
/assign @ScrapCodes

[2022-05-24 21:16] Tomcli commented on #953
/assign

[2022-05-26 11:44] Udiknedormin opened #957 "bug(tekton-catalog) PipelineLoop: trims spaces from first and last element"
/kind bug

**What steps did you take and what happened:**
Create a pipeline with from-string loop using spaces in all of its items:
[code]

The produced yaml seems correct to me:
[code]

Notice the `' a , b , c '`, preserving spaces.

When running it though, the results are:
* `'a '`
* `' b '`
* `' c'`
I.e. cutting the leading space in the first element and the trailing one in the last one.

It al

[2022-05-27 10:38] rafalbigaj opened #962 "bug(tekton-catalog) PipelineLoop consumes significant amount of memory"
When testing `PipelineLoop` controller I have observed that even quite simple sub-pipelines composed of 10 tasks (simple echo) run for 20 iterations consumes significant amount of memory, in this case ~550Mb.

The main issue is pipeline and task spec copied in many places like:
- `pipelineSpec` in `PipelineRuns` (`PipelineLoopRunStatus`)
- `taskSpec` in `TaskRuns`

That impacts the final size of o

[2022-05-27 17:34] #953 closed

[2022-05-27 18:23] #962 closed

[2022-05-31 16:27] Tomcli opened #966 "Add flag for kfp-tekton compile to indicate component.yaml outputpath is an artifact"
/kind feature

**Description:**
When a component.yaml's output is not referred as a inputpath by another component, the KFP-Tekton compiler only will consider it as a parameter + artifact. We need to have some flag to also able to indicate some component wants this output to be big artifact only.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-01 20:21] Tomcli commented on #966
/assign

[2022-06-03 22:02] Tomcli commented on #930
/close
done by #938

[2022-06-03 22:02] Tomcli commented on #930
/close
done by #938

[2022-06-03 22:02] #930 closed

[2022-06-06 13:15] #957 closed

[2022-06-06 17:37] yhwang opened #971 "Python SDK: is copy-results-artifacts step needed after tekton 0.36.0"
/kind bug

After tekton 0.36.0, an implicit step is injected before artifact copy to move result files to the internal temporal path. It avoids the result duplication. `copy-results-artifacts` seems to serve the same purpose. Should it be removed?

**Environment:**
* Tekton Version (use `tkn version`): 0.36.0

[2022-06-10 12:49] ScrapCodes commented on #954
This seems to work already, e.g. https://github.com/kubeflow/kfp-tekton/blob/master/tekton-catalog/pipeline-loops/pkg/reconciler/pipelinelooprun/pipelineloop_range_test.go#L271

[2022-06-10 15:42] typeness commented on #954
Right, this is fixed. Thanks.

[2022-06-10 15:42] #954 closed

[2022-06-12 22:02] ykoyfman commented on #951
@Tomcli  Any updates on prioritizing this fix?  Thanks!

[2022-06-15 19:55] Tomcli opened #978 "Big data passing for custom task"
/kind feature

**Description:**
Right now the big data passing method is only appending steps to taskrun for big data passing DSL. However, the same method cannot be applied to custom task. Therefore, we need to create a common class and custom task spec for results/params that are considered as big data.

**Additional information:**
[Miscellaneous information that will assist in solving the issue

[2022-06-20 15:29] Udiknedormin opened #981 "PipelineLoop controller crashes on Run with no "status" field"
/kind bug

**What steps did you take and what happened:**
When a PipelineLoop contains a break Run and this Run doesn't immediately produce the "status" field at runtime, PipelineLoop controller crashes with the following stacktrace:
[code]

**What did you expect to happen:**
PipelineLoop controller should work just fine if the break Run doesn't immediately produce "status" field.

**Additional in

[2022-06-20 16:09] #981 closed

[2022-06-20 16:20] #966 closed

[2022-06-21 12:27] Udiknedormin commented on #873
@Tomcli Wouldn't that collide with `ARCHIVE_CONFIG_LOG_FILE_NAME`, the default value of which is `step-main.tgz`, which would be the same for a `step-main` result?

[2022-06-29 08:03] tks-ai opened #983 "ClusterRole and ClusterRoleBinding name of kfp-csi-s3 may conflict with other CSI Component"
/kind bug

There are other CSI components running in my cluster.
Accidentally the ClusterRole and ClusterRoleBinding shown below already exist ,so they got overwritten while installing kfp-csi-s3.
In my opinion if kfp-csi-s3 is designed for kubeflow pipelines, why not  add prefix 'kfp-' to them to avoid unexpected confliction.

ClusterRole:
external-attacher-runner
external-provisioner-runner

Clu

[2022-07-04 19:41] maxdebayser opened #984 "Passing small binary files with OutputPath prevents KFP to update run status"
/kind bug

**What steps did you take and what happened:**

As a new user to KF I tried to write a pure python implementation of this example: https://www.kubeflow.org/docs/components/pipelines/sdk/build-pipeline/#design-your-pipeline

[code]

With the `url` parameter set to "https://storage.googleapis.com/ml-pipeline-playground/iris-csv-files.tar.gz", the pipeline appears to hang in the kubeflow U

[2022-07-05 12:28] wzhanw opened #986 "Loop(dsl.ParallelFor) doesn't have any method of editing its metadata"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
We like to provide custom labels and annotations for the loop, then the loop can pass down those labels to its sub-pipeline task.
But the current Loop(dsl.ParallelFor) doesn't have any method of editing its metadata.
Without this support we have to go for post-processing, which is t

[2022-07-05 12:29] wzhanw commented on #986
@Tomcli could you validate this requirement and approve this feature enhancement? Thanks.

[2022-07-05 16:51] Tomcli opened #987 "Big data passing output result path instead of only the task name"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Currently Big data passing output the task name for incoming tasks to construct the result path as its input. We can to change the output itself to a path so that the incoming tasks won't have extra logics to construct paths.

**Additional information:**
[Miscellaneous information t

[2022-07-05 16:56] Tomcli opened #988 "Output "preview" for big data passing files"
/kind feature

**Description:**
Currently for super big files, there's no parameter output for it since the file size is too large. However, we want a preview feature to output the first n bits as "preview" so that it can be displayed in the UI with preview values.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-07-05 21:45] Tomcli commented on #986
Sure it make sense to me. We can try to see can it be added to the Loop class
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/tekton.py#L235

[2022-07-06 19:46] #984 closed

[2022-07-06 23:24] Tomcli opened #989 "Convert big data passing from Tekton script to Tekton args + commands"
/kind feature

**Description:**
Currently big data passing is using Tekton script since it's easy to plugin and less syntax error. However, it comes with a performance penalty as we discovered in our performance test. Hence we need to convert all Tekton script to Tekton args + commands.

Currently we already converted all the injected Tekton scripts to args + commands other than the big data passi

[2022-07-07 08:29] Udiknedormin opened #990 "bug(sdk) by-path literals not working with add_volume"
/kind bug

**What steps did you take and what happened:**
To compare various use-cases of big data passing to inputs, I created a pipeline with the following:
* small output passed to small input
* big output passed to small input
* literal passed to small input
* small output passed to big input
* big output passed to big input
* literal passed to big input

All of those are tested with additiona

[2022-07-08 18:43] #989 closed

[2022-07-11 21:52] DharmitD opened #1003 "Unable to create runs out of pipelines"
### Environment

*  Deployed KFP on an OpenShift cluster, referring to the following document to set up pipelines and runs:
https://www.kubeflow.org/docs/components/pipelines/tutorials/api-pipelines/

### Steps to reproduce

Could set up a pipeline on the cluster:

[code]

However, I'm unable to create a run out of the pipeline. This is the command to generate a run id, as per the document:
[code]

[2022-07-11 21:53] Tomcli opened #994 "Fix big data passing with volume dsl"
/kind bug

**What steps did you take and what happened:**
The big data passing with volume dsl in kfp-tekton didn't get mapped correctly. It should be using pure PVC storage instead of workspace to be align with the argo compiler implementation.

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* P

[2022-07-12 09:01] FFede0 opened #996 "Directories passed as InputPath/OutputPath are not uploaded to minio and the pipeline remains hanging in the UI"
/kind bug

**What steps did you take and what happened:**
I developed the following simple pipeline passing a directory between two components as InputPath/OutputPath. The resulting artefact is not correctly uploaded to minio and the pipeline remains hanging in the UI.

[code]

**Additional information:**
The issues are due to:
- (for the hanging pipeline) the fact that the step-copy-results-artif

[2022-07-12 15:16] akchinSTC opened #998 "Bump kfp dependency to latest 1.8.13"
/kind feature

**Description:**
Bump kfp dependency to 1.8.13. This resolves a number of issues where downstream projects require typing extensions > 4.

**Additional information:**
See add info.
https://github.com/kubeflow/pipelines/issues/7983
https://github.com/elyra-ai/elyra/issues/2816

[2022-07-12 17:03] #998 closed

[2022-07-13 21:15] #994 closed

[2022-07-14 23:11] chensun commented on #1003
Looks like you have a kfp-tekton deployment. Transferring your issue to kfp-tekton repo.

[2022-07-15 16:25] typeness opened #1004 "Loop range step parameter incorrectly uses output from other task"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Reproduce using the following code

[code]

It fails in runtime with the error message:
[code]

[code]

**What did you expect to happen:**

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

* Python Version (use `python --v

[2022-07-15 18:10] Tomcli commented on #1004
Here is how we process parameters for start, step, end
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/compiler.py#L521-L554

If the parameter is a pipeline param, we determine whether the param is from a task result or pipeline input. Then map the parameter into Tekton variable correspondingly. If the parameter is not a pipeline param, then we set it as pure stri

[2022-07-15 18:21] Tomcli commented on #1004
Sorry I just saw the other loop is status, somehow your `$(params.step)` get mapped to `$(tasks.step.results.output)` so the loop try to get the value before task `step` is ready. Are you running Tekton 0.36 or a different Tekton version?

[2022-07-18 17:07] #988 closed

[2022-07-19 14:28] Udiknedormin opened #1007 "bug(sdk) References to custom task outputs are lowercased"
/kind bug

**What steps did you take and what happened:**
Create a custom task with uppercase inputs and outputs. Pass that output to some task.
[code]

This produces the following yaml:
[code]

Note: input/parameter has uppercase name: `FOO`, but the output is referenced to as `$(tasks.artifact-fetcher-0.results.foo)` --- even despite the fact that its consumer named its own input/parameter using

[2022-07-19 17:48] Tomcli opened #1008 "optimize step-copy-results-artifacts script to minimize etcd space"
/kind feature

**Description:**
step-copy-results-artifacts script has too many variable that get stringify during compile time. We need to rewrite it in a way that it takes a variable as the inputs for source and destination path instead of raw string

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-07-19 17:48] Tomcli commented on #1008
related #997

[2022-07-19 17:51] #996 closed

[2022-07-19 17:53] #990 closed, assigned to Tomcli

[2022-07-19 22:20] #987 closed

[2022-07-19 22:27] Tomcli commented on #1007
@Udiknedormin for a normal task, we do lower case all the output parameter name to be lower case. That's why we are also lower casing all the input parameter name as well. Since custom task result names are produced inside the custom task, we cannot sanitize the output name as part of our compiler. Are you expecting all input and output parameter names to be case sensitive?

[2022-07-19 22:27] Tomcli commented on #1007
Here is our current test case: https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/custom_task_long_name.yaml

[2022-07-19 22:29] Tomcli commented on #1007
In KFP Argo, all input dsl are also sanitized into lower case
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/utils.py#L64-L66

Therefore, we assume all the parameters produced by the custom task will also follow the same sanitized lower cased name.

[2022-07-19 22:35] Tomcli commented on #1008
cc @ScrapCodes @yhwang not sure is one of you have time to take a look and reduce the script size in the generated yaml? There was few changes made into the big data passing and now the generated step-copy-results-artifacts script is getting way too big.

[2022-07-19 22:37] Tomcli commented on #1008
Mainly the past few PRs are from different contributors are duplicating the `src` and `dst` python variables into raw strings. So we want to rewrite it in a way that to use Tekton variables to reduce the final yaml size.

[2022-07-20 08:25] Udiknedormin commented on #1007
@Tomcli Not necessarily all of them, but --- as you said --- we cannot control the results from custom-tasks, so I would at least expect to have some option for case-sensitivity for custom-tasks.

It seems quite counter-intuitive how parameters can be upper-case, but results cannot. In case the custom-task has parameter and result with the same name --- not that unlikely if it operates on a dynami

[2022-07-20 16:25] Tomcli commented on #971
@yhwang coming back to this question, maybe we can try to use https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/tests/compiler/testdata/data_passing_pipeline_complete.py to test whether we need that step to copy the results.

There are few more features we added for previewing the results etc, but if we can bypass some cases it will definitely help us reduce the script size for copy-re

[2022-07-20 16:40] Tomcli opened #1009 "Add dynamic graph support for recursion/parallel loop on KFP-Tekton UI"
/kind feature

**Description:**
The KFP-Tekton UI doesn't have the Tekton client to retrieve all the related assets. Hence, it cannot render runtime graph such as recursion/parallel that is combined with multiple Tekton resources. We want to support this rendering on kfp-tekton v1 as well.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-07-20 23:04] Tomcli commented on #1007
If that's the case, sure. Technically I can update the sanitize function make the results to be case sensitive, we probably want to test it first to make sure it's not breaking our backward compatibility. Do you want all task outputs to be case sensitive?

[2022-07-21 08:05] Udiknedormin commented on #1007
@Tomcli Could be all of them, yes. But if that would be a breaking change, just custom-tasks would be fine too.

[2022-07-21 14:20] typeness commented on #1004
@Tomcli thanks. It turned out this only reproduces on Tekton 0.36 with the feature flag `enable-api-fields: alpha`. When I changed it to `enable-api-fields: stable` it works as expected.

[2022-07-21 14:20] #1004 closed

[2022-07-21 20:15] DharmitD commented on #1003
Hi @chensun and @Tomcli yes it was a kfp-tekton related compatibility issue. Updated the yaml to create pipeline accordingly, this issue is resolved. Closing the ticket.

[2022-07-21 20:15] #1003 closed

[2022-07-22 14:15] Udiknedormin opened #1012 "bug(sdk) AddOnGroup's internal params not working with custom tasks"
/kind bug

**What steps did you take and what happened:**
[code]

It fails with:
[code]

...but if the custom-task is replaced by a "normal" task, which uses the same `status` param (the commented line), it works as expected, with no error.

**What did you expect to happen:**
Both tasks and custom-tasks being able to accept an internal parameter from `AddOnGroup`.

**Additional information:**
None

[2022-07-23 00:11] Tomcli commented on #1012
/assign @yhwang

[2022-07-25 22:14] Tomcli commented on #1012
@Udiknedormin I think you used the DSL incorrectly, you should set `{inputValue: cel-input}` since that component has no input parameter `status`. `status` is the the output name from the exit handler, but it you didn't define it as the input name for `cel` custom task.

[2022-07-25 22:27] Tomcli commented on #1012
Also, what parameter you want us to return as `it.status`? I assume you want the status of the pipeline? In the DSL it assumes it's the output parameter from the exit task or the pipeline global param is the exit task is not defined.

In either case, if we want the status of the pipeline, we need to update the logic a slightly bit to use the Tekton context variable for pipeline status. In Argo it

[2022-07-26 08:13] Udiknedormin commented on #1012
@Tomcli

You're right, of course. Edited the sample. Originally the input was called `status` too though, and it also resulted in an error.

No, it's just the name of a parameter in the `ExitHandler` custom-task (how its produced is entirely up to its controller, of course). It has nothing to do with pipeline status.

Other than using a custom-task rather than a "normal" task, this is almost the s

[2022-07-26 13:30] typeness opened #1014 "dsl.Condition does not work for dependent tasks"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Reproduce using the following code

[code]

In runtime the condition is false so `my-in-coop1` task run is skipped but `my-in-coop1-2` wasn't skipped even though it depends on `my-in-coop1`.

It works when I add explicit condition to `my-in-coop1-2`
[code]

**What did you expect to happ

[2022-07-26 16:33] Tomcli commented on #1012
I'm just wondering what format you want `status` to be translated to? `$(params.status)`? `$(inputs.params.status)`? The `ExitHandler()` function takes the exit task as the input parameter. Since there's no input for the `ExitHandler()` function, the it.status is just pointing to the global pipeline parameter when using regular task, but not the internal parameter format.

Here is a quick fix for

[2022-07-26 16:39] Tomcli commented on #1012
https://github.com/kubeflow/kfp-tekton/pull/1015

[2022-07-26 21:03] #1007 closed

[2022-07-27 14:58] typeness commented on #1014
@Tomcli I tested your PR with a more complex example with any sequencer waiting for 2 skipped tasks with conditions. I think any sequencer should be skipped but it does run.

Reproduce using the following code

[code]

In this case any sequencer depends on `my-in-coop1-4,my-in-coop1-2`. The tasks are skipped

[code]

Any sequencer is running
[code]

Full YAML
[code]

[2022-07-27 19:18] #1012 closed

[2022-07-28 17:45] Tomcli commented on #1014
I think we only need to add extra when clause for all the Tekton run after nodes, for parameter output nodes we never set a task default value so they will be skipped without when clauses.

Any sequencer was never "depend" on any task with Tekton runAfter because runAfter has to wait for all sequencer tasks to be finished. So it will start watching before my-in-coop1-2 and my-in-coop1-4 is skipped

[2022-07-28 20:30] #1014 closed

[2022-07-29 21:46] #983 closed

[2022-08-04 19:04] Tomcli opened #1021 "Pipeline loop controller should set pipeline default spec to align with Tekton controller behavior"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-08-04 19:16] yhwang commented on #1021
we can use the function here: https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/pipeline_defaults.go#L33

[2022-08-05 16:36] Tomcli opened #1022 "Add tests to also capture pipeline run flow"
/kind feature

**Description:**
We need to add tests to also capture pipeline run flow so that we can catch non-fatal failure as Tekton is going a lot of major feature and spec changes.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-08-08 08:10] Udiknedormin commented on #1014
@Tomcli A custom task for any-sequencer sounds like a good idea, indeed.

[2022-08-09 16:47] Tomcli opened #1023 "Update Tekton to 0.38.3 to address custom task cancel bug and redo regression test"
/kind feature

**Description:**
We need to update Tekton to the upcoming latest version to address the cancel bug and catch any potential regression bugs since Tekton doesn't have any release test for custom task integration and regression test for alpha api (for new TEP features in Tekton during the first 9 months).

**Additional information:**
[Miscellaneous information that will assist in solvi

[2022-08-10 16:13] Tomcli commented on #1023
going to move to 0.37.4 since it fixes the pipeline cancel regression bug

[2022-08-10 20:28] Tomcli commented on #1023
/assign

[2022-08-11 17:53] Tomcli commented on #1023
moving to 0.38.3 to test newer version of tekton for any regression issues.

[2022-08-12 19:36] #1023 closed

[2022-08-15 22:49] #986 closed

[2022-08-16 21:29] Tomcli commented on #1008
/assign

[2022-08-16 23:04] #1008 closed

[2022-08-16 23:29] Tomcli opened #1030 "Update Tekton timeout syntax to the new "timeouts" to avoid future regression changes."
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
Tekton added a new "timeouts" concept to cover timeout between main tasks, finally tasks, and overall tasks. We need to migrate to the new syntax before Tekton deprecated the old pipeline timeout in the future release

https://github.com/tektoncd/pipeline/blob/547d049bbe98cbbd2f2683

[2022-08-16 23:29] Tomcli commented on #1030
/good-first-issue

[2022-08-16 23:40] Tomcli commented on #1030
Pipelinerun timeout spec is defined over here. We need to update it to the new Tekton timeouts syntax
https://github.com/kubeflow/kfp-tekton/blob/master/sdk/python/kfp_tekton/compiler/compiler.py#L1387-L1392

[2022-08-17 16:20] Tomcli commented on #1030
/assign

[2022-08-22 19:24] #1030 closed

[2022-08-23 16:05] Udiknedormin opened #1034 "bug(sdk) Any-sequencer in "finally" generates failing yaml"
/kind bug

**What steps did you take and what happened:**
Create any number of tasks and plug them into an any-sequencer. Then create an `is_finally=True` `AddOnGroup` and inside of it, recreate the same scenario.

[code]

Here is the yaml:
[code]

Note how any-sequencer outside of `finally` uses:
[code]
i.e. passes `context.pipelineRun.name` and `context.pipelineRun.namespace` via params indirect

[2022-08-24 16:07] Tomcli commented on #591
/close

[2022-08-24 16:07] #591 closed

[2022-08-29 04:02] yhwang commented on #931
added #1039 to support pipelineloop in the persistence agent to store nested taskruns/runs statuses into the backend datastore.

[2022-08-29 20:19] Tomcli opened #1041 "Introduce new pipelineloop variable "last_idx" and "last_elem" for sequential loop."
/kind feature

**Description:**
Introduce new pipelineloop variable "last_idx" and "last_elem" for sequential loop. The "last_idx" and "last_elem" are pipelineloop output parameters that can be used in another task. The implementation will work as the follow:

1. Introduce new output parameters "last_idx" and "last_elem" for all loop.
2. In the pipelineloop controller, have an in memory key value

[2022-08-29 20:20] Tomcli commented on #1041
example:
[code]

[2022-08-29 20:22] Tomcli commented on #1041
/help-wanted

[2022-08-29 20:23] Tomcli commented on #1041
/help

[2022-08-30 16:48] Tomcli commented on #1041
/assign @ScrapCodes

[2022-09-15 20:15] Udiknedormin opened #1045 "bug(sdk) Double-looping over the same pipelineparam miscompiles"
/kind bug

**What steps did you take and what happened:**
Create two loop, one nested in the other, both iterating over the same pipeline-parameter. Inside of the inner loop, add a task that uses the items of both of them.

[code]

The generated yaml:
[code]

Note:
[code]
vs
[code]

So at runtime, it's:
* print a a
* print b b
* print c c
* print a a
* print b b
* print c c
* print a a
* print b b

[2022-09-19 11:57] Udiknedormin opened #1046 "bug(sdk) Triple sequential loop miscompiles - unexisting param"
/kind bug

**What steps did you take and what happened:**
Create a triple sequential loop. Inside of the inner-most loop, add an op that uses the items of all the loops:
[code]

It produces the following yaml:
[code]

Note the non-existent param passing in the outer-most loop:
[code]

**What did you expect to happen:**
No non-existent param passing in the outer-most loop.

**Additional information

[2022-09-19 16:12] Tomcli commented on #1045
/assign

[2022-09-19 17:14] Tomcli commented on #1045
Seems like this is a DSL level bug as the DSL make both it0 and it1 pointing to the same variable instead of copying it. This bug is also happening in Argo as well.
[code]

[2022-09-19 17:16] Tomcli commented on #1046
/assign

[2022-09-30 16:15] #1041 closed

[2022-10-04 16:24] Tomcli opened #1053 "Pipelineloop cachehit on wrong argument inputs"
/kind bug

**What steps did you take and what happened:**
This pipeline can reproduce the bug. When a nested pipeline take the same argument and pass it down to the nested component, the pipelineloop cache hit triggered because it was using the same pipeline argument reference. However, because the argument is a loop, the actual content is different between each loop. Since nested pipeline content

[2022-10-04 16:24] Tomcli commented on #1053
/assign @ScrapCodes

[2022-10-13 16:44] Tomcli opened #1058 "Add new sdk support for new pipelineloop syntax"
/kind feature

**Description:**
Add new sdk support for new pipelineloop syntax. Two new fields `iterateParamPassStyle` and `itemPassStyle`, both of which can be either `inline` (default value) or `file` will sit on the same spec level as `parallelism`. The initial implementation is sdk support only.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-10-17 23:07] Tomcli opened #1060 "Allow custom task to intake container.command spec as pipeline parameters"
/kind feature

**Description:**
Allow custom task to intake container.command spec as pipeline parameters in order to take overlapped keywords such as name, apiversion, kind as regular parameters.

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-10-19 21:21] #1060 closed

[2022-10-20 16:21] #1058 closed

[2022-10-24 21:39] #1053 closed

[2022-10-24 21:43] #1045 closed

[2022-10-26 16:17] Tomcli commented on #940
remove requirements on profile and experiment settings since it requires extra api calls to know who runs the pipeline. Instead, we only add new flags on the pipeline definition first to enable artifact tracking on pipeline or task level.

[2022-10-26 16:17] Tomcli commented on #940
/assign

[2022-10-28 17:10] #940 closed

[2022-10-31 20:51] #931 closed

[2022-10-31 20:56] Tomcli opened #1068 "Migrate Tekton cr versions to v1 and custom task run to v1beta1 api with a feature flag"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]

**Additional information:**
[Miscellaneous information that will assist in solving the issue.]

[2022-10-31 20:56] Tomcli commented on #1068
/assign

[2022-10-31 20:57] Tomcli commented on #1068
/assign @ScrapCodes
@ScrapCodes can you investigate what we need to update for custom task? we will be migrating to Tekton v0.41 and start migrating to the new Tekton api

[2022-11-09 16:00] Udiknedormin opened #1075 "bug(sdk) Underscore miscompiling as hyphen in double-loop"
/kind bug

**What steps did you take and what happened:**
1. Create a task producing an output with `_` (underscore) in its name.
2. Create a double nested loop (one loop inside of another).
3. Create an inner-most task consuming the output of the task from point 1.

[code]

Getting:
[code]

Most notably:
[code]
Note: the PipelineLoop parameter is named `print-0-output_value`, while it's referred

[2022-11-11 17:15] #1075 closed

[2022-11-14 16:34] Udiknedormin opened #1079 "bug(sdk) Range loop: same output in "to" and inside miscompiles"
/kind bug

**What steps did you take and what happened:**
1. Create a task producing some output.
2. Create a range loop, the `to` of which accepts that output.
3. Inside of the loop, create a task or custom-task, with an input that also accepts the 1's output.

Here is my Python code:
[code]

Generates code:
[code]

Notably, PipelineLoop does accept the same value as both `to` and pass-through pa

[2022-11-14 22:10] Tomcli opened #1081 "add v1 api endpoint support for backend server"
/kind feature

**Description:**
[A clear and concise description of what your proposal. What problem does it solve?]
For putting production level api for our users, it's recommend to have a v1 api version. Since the KFP community only let v1 api stay at v1beta1 subpath, we want to add some redirect or the same v1beta1 api mapping to `v1` subpath for our product production.

**Additional informatio

[2022-11-14 22:13] Tomcli commented on #1081
These two commit is what KFP added to map the api version more generic. Since KFP's plan is to have v1beta1 and v2beta1 in their repo. We want to create a v1 api that maps the same way as v1beta1 to satisfy for our Watson product requirement.
https://github.com/kubeflow/pipelines/commit/6c6b1e3a94564ad93f2422569de615ed28b6962f
https://github.com/kubeflow/pipelines/commit/3f2e20d14fa4bcadb625e72103

[2022-11-14 22:19] Tomcli commented on #1081
/assign @ScrapCodes

[2022-11-14 23:06] #1079 closed

[2022-11-18 15:09] Udiknedormin opened #1086 "bug(sdk) Loops: iterateParamPassStyle in wrong place in yaml"
/kind bug

**What steps did you take and what happened:**
I used the test/example Python script, [loop_with_numeric.py](https://github.com/Tomcli/kfp-tekton/blob/d3a4d76aeb6eb70973eaadb95fd5c7dd055aabf9/sdk/python/tests/compiler/testdata/loop_with_numeric.py) with the newest version of kfp-tekton and no monkey-patching.

I got the yaml, just as in the repo:
[code]
Notably, the part that actually g

[2022-11-21 18:50] #1086 closed

[2022-11-25 12:02] Udiknedormin commented on #1046
I discovered a scenario in which this problem re-arises:
[code]

Produces:
[code]
Note:
[code]
in the outer-most loop.

I'm using commit a7f2b04cf01dc57a6fe625ef6af66faeb549017b.

[2022-11-29 16:57] typeness commented on #1046
Today I tested the pipeline https://github.com/kubeflow/kfp-tekton/issues/1046#issuecomment-1327391609 with the latest fix https://github.com/kubeflow/kfp-tekton/pull/1089
Pipeline run failed with the following error
[code]
@Tomcli could you please check?

[code]

[2022-11-29 21:43] Tomcli commented on #1046
thanks @typeness for pointing it out. I added the new fix to handle this issue.
https://github.com/kubeflow/kfp-tekton/commit/e6027dd14cd68c1435bbb2068c8654ee6ac0010a